 .alert-box-verification{
	height: 90px;
    width: 45%;
    margin-left: 30%;
    margin-top: 15px;
    position: absolute;
}
.btn-red {
    background-color: #e66b6b;
    border-color: #e25555;
    color: white;
}

.md-l-pad{
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	padding-left:25px;
	}
}

.upload-title{
	background-color: #04a3ed;
    box-shadow: 0px 1px 5px 0px #807b7b;
    padding: 10px 15px;
    color: #fff;
}

a:hover{
	text-decoration: none;	
}

.sea-service-loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 15px auto;
}

.user-registration{
	background-color:#f2f3f7;
	.add-certificate-button{
	    /*color: #FFFFFF;
	    width: 100%;
	    margin-top: 10px;
	    background-color: #c71c14;
	    border-color: #c71c14;
	    line-height: normal;
	    padding: 10px;
	    font-size: 20px;*/
	}
	.add-sea-service-button{
	    /*color: #FFFFFF;
	    width: 100%;
	    margin-top: 10px;
	    background-color: #c71c14;
	    border-color: #c71c14;
	    line-height: normal;
	    padding: 10px;
	    font-size: 20px;*/
	}
	.add-more-button{
		    /*color: #FFFFFF;
		    width: 100%;
		    margin-top: 10px;
		    background-color: #c71c14;
		    border-color: #c71c14;
		    line-height: normal;
		    padding: 10px;
		    font-size: 20px;*/
		    color: #FFFFFF;
		    background-color: #c71c14;
		    border-color: #c71c14;
		    float: right;
	}
	.page-flow-container{
		.page-point:not(:first-of-type){
			position: relative;
		}
	}
	.page-flow-container{
		background-color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		box-shadow: 0px 2px 5px 1px #cccccc;
		position: fixed;
		padding: 15px;
		@media (max-width: $screen-xs-max) {
			position: relative;
			margin-bottom: 25px;
		}
		.sm-step-line{
			width: 12%;
			hr{
				margin-top: 0px;
				margin-bottom: 33px;
				border-color: $coss-secondary-color;
			}
		}
		.page-point{
			text-align: center;
			&:not(:first-of-type) {
		   		margin-top:67px;
		   		@media (min-width: $screen-sm-min) {
					&:after{
				   	content:"";
				   	position: absolute;
				    bottom: 47px;
				   	left: 50%;
				   	border-left: 1px solid $coss-skyBlue;
				   	height: 60px;
				   }
			   }

		    }
			.circle{
				height: 20px;
				width: 20px;
				border: 1px solid #d8d7da;
				border-radius: 50%;
			    margin: 0 auto;
			    background-color:#ff0000;
			    border: #ff0000;
			}
			.page-name{
				padding-top: 3px;
				font-size: 14px;
				color:#ff0000;
				text-align: center;
			}
			.page-name-xs{
				color: #47c4f0;
				font-size: 22px;
				text-align: center;
				padding-top: 5px;
			}
		}
		.page-active{
			.circle{
				background-color: $coss-skyBlue;
				border-color:  $coss-skyBlue;
			}
			.page-name{
				color: $coss-skyBlue;
			}
		}
		.page-done{
			.circle{
				background-color: $coss-skyBlue;
				border-color:  $coss-skyBlue;
			}
		}
		&.registration-flow{
			.page-point{
				.circle{
					background-color: transparent;
					border: 1px solid #d8d7da;
				}
				.page-name{
					color: #000;
					text-align: center;
				}
				&.disabled{
					cursor: not-allowed;
				}
			}
			.page-active{
				.circle{
					background-color: $coss-skyBlue;
					border-color:  $coss-skyBlue;
				}
				.page-name{
					color: $coss-skyBlue;
				}
			}
			.page-done{
				.circle{
					background-color: $coss-skyBlue;
					border-color:  $coss-skyBlue;
				}
			}
		}
	}

	

	.user-details-container{
		background-color: #fff;
		padding: 20px;
		color: $coss-skyBlue;
		margin-bottom: 30px;
	    box-shadow: 0px 2px 5px 1px #cccccc;
		.main-heading{
			font-size: 25px;
		}
		.heading{
			font-size: 16px;
			padding-top: 15px;
		}
		.btn-group {
			.btn-default{

				width: 35px;
				height: 30px;
				border: 1px solid $coss-skyBlue;
				background-color: #fff;
				color: $coss-skyBlue;
				&.active{
					background-color: $coss-skyBlue;
					color: #fff;
				}
				.fa{
					font-size: 16px;
				}
			}
		}
		.user-detail-section{
			border-top: 3px double #ddd;
			padding: 0 15px;
			margin: 0 -20px;
			background: #f8fcff;
		}
		.user-detail-section-odd{
			background: #fff
		}
		.upload-photo-container{
			width: 150px;
			height: 150px;
			border: 2px dashed #d8d7da;
			border-radius: 50%;
			margin-top: 15px;
			margin-bottom: 10px;
			display: flex;
		    justify-content: center;
		    align-items: center;
		    position: relative;
		    .image-content{
		    	text-align: center;
		    	.icon{
		    		font-size: 24px;
		    	}
		    	.cursor-pointer{
					position: absolute;
				    top: 0px;
				    left: 0px;
				    height: 100%;
				    width: 100%;
				    border-radius: 50%;
				    outline: 0;
				    opacity: 0;
				}
				.text-on-image {
				    color: white;
				    font-size: 17px;
				    position: absolute;
				    top: 102px;
				    left: 38px;
				    padding: 4px 10px;
				}
		    }
		}
		.form-group{
			padding-top: 10px;
			.input-label{
				font-size: 16px;
				color: #8e8e8e;
				margin-bottom: 0px;
				font-weight: normal;
				width: 100%;
			}
			.form-control{
			    border: none;
			    background: transparent;
			    border-bottom: 1px solid #9e9e9e;
			    box-shadow: none;
			    border-radius: 0px;
		        padding: 0px;
		        font-size: 14px;
		        &::placeholder{
		        	color:#4e4e4e;
		        }
		       &:focus{
		       	border-color:#47c4f0;
		       	color: #47c4f0;
		       	&::placeholder{
		        	color:#47c4f0;
		        }
		       }
			}
			.radio-inline{
				margin-top: 15px;
			}
			.checkbox-inline{
				margin-top: 35px;
			}
		}
	}
	.reg-form-btn-container{
			.reg-form-btn{
				height: 40px;
				width: 150px;
				border-radius: 5px;
				color: #fff !important;
			}
			.reg-form-btn.blue{
				border: 1px solid $coss-skyBlue;
				background-color: $coss-skyBlue;
				&:hover{
					background-color: #22b0e2;
				}
			}
			.reg-form-btn.gray{
				border: 1px solid #adb1b3;
				background-color: #adb1b3;
				&:hover{
					background-color: #939696;
				}
			}
			.basic-details-submit{
				margin-bottom: 25px;
			}
			.document-details-submit{
				float: right;
			}
	}
	@media (max-width: $screen-xs-max) {
	  	.page-flow-container {
	  	    display: flex;
		    justify-content: space-around;
		    align-items: center;
			.page-point {
			    text-align: center;
			    padding: 0 14px;
				&:not(:first-of-type) {
					margin-top: 0px;
			    	position: relative;
			    	
				}
				.page-name {
				    padding-top: 3px;
				    font-size: 14px;
				}
				.circle {
				    height: 20px;
				    width: 20px;
				    border: 1px solid #d8d7da;
				    border-radius: 50%;
				    margin: 0px auto;
				}
			}
		}
	}
}

.company-registration{
	background-color:#f2f3f7;
	.page-flow-container{
		background-color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		box-shadow: 0px 2px 5px 1px #cccccc;
		position: fixed;
	    padding: 15px;
	    width: 170px;
	    @media (max-width: $screen-xs-max) {
	    	position: relative;
    	    margin-bottom: 25px;
	    }
	    .sm-step-line{
			width: 12%;
			hr{
				margin-top: 0px;
				margin-bottom: 33px;
				border-color: $coss-secondary-color;
			}
		}
		.page-point{
			text-align: center;
			position: relative;
			&:not(:first-of-type) {
				margin-top:80px;
				&:before{
					content:"";
					position: absolute;
					bottom: 50px;
					left: 50%;
					border-left: 1px solid $coss-skyBlue;
					height: 65px;
				}
			}
			.circle{
				height: 20px;
				width: 20px;
				border: 1px solid #d8d7da;
				border-radius: 50%;
				margin: 0 auto;
			}
			.page-name{
				padding-top: 3px;
				font-size: 14px;
			}
		}
		.page-active{
			.circle{
				background-color: $coss-skyBlue;
				border-color:  $coss-skyBlue;
			}
			.page-name{
				color: $coss-skyBlue;
			}
		}
		.page-done{
			.circle{
				background-color: $coss-skyBlue;
				border-color:  $coss-skyBlue;
			}
		}
	}
	.user-details-container{
		background-color: #fff;
		padding: 20px;
		color: $coss-skyBlue;
		margin-bottom: 30px;
		box-shadow: 0px 2px 5px 1px #cccccc;
		.main-heading{
			font-size: 25px;
		}
		.location-name {
			font-size: 17px;
		}
		.ship-name {
			font-size: 17px;
		}
		.close-button{
			font-size: 17px;
		}
		.ship-close-button{
			font-size: 17px;
		}
		.heading{
			font-size: 16px;
			padding-top: 15px;
		}
		.add-location-button{
		    color: #FFFFFF;
		    width: 100%;
		    margin-top: 10px;
		    background-color: #c71c14;
		    border-color: #c71c14;
		    line-height: normal;
		    padding: 10px 20px;
		    font-size: 20px;
		}
		.add-institute-location-button{
		    color: #FFFFFF;
		    width: 100%;
		    margin-top: 10px;
		    background-color: #c71c14;
		    border-color: #c71c14;
		    line-height: normal;
		    padding: 10px 20px;
		    font-size: 20px;
		}
		
		.add-ship-button{
		    color: #FFFFFF;
		    width: 100%;
		    margin-top: 10px;
		    background-color: #c71c14;
		    border-color: #c71c14;
		    line-height: normal;
		    padding: 10px 20px;
		    font-size: 20px;
		}
		
		.input-group-addon {
		  	border: 1px solid #a7acb7;
		}
		.upload-photo-container{
			width: 200px;
			height: 200px;
			border: 2px dashed #d8d7da !important;
			margin-top: 15px;
			margin-bottom: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			.image-content{
				text-align: center;
				.icon{
					font-size: 24px;
				}
				.preview{
					width: 100%;
				}
				.cursor-pointer{
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					border-radius: 50%;
					outline: 0;
					opacity: 0;
				}
				.text-on-image {
				    color: white;
				    font-size: 17px;
				    position: absolute;
				    top: 102px;
				    left: 38px;
				    padding: 4px 10px;

				}
			}
		}
		.form-group{
			padding-top: 10px;
			.input-label{
				font-size: 16px;
				color: #8e8e8e;
				margin-bottom: 0px;
				font-weight: normal;
				width: 100%;
			}
			.form-control{
				border: none;
				background: transparent;
				border-bottom: 1px solid #9e9e9e;
				box-shadow: none;
				border-radius: 0px;
				padding: 0px;
				font-size: 14px;
				&::placeholder{
					color:#4e4e4e;
				}
				&:focus{
					border-color:#47c4f0;
					color: #47c4f0;
					&::placeholder{
						color:#47c4f0;
					}
				}
			}
			.radio-inline{
				margin-top: 15px;
			}
			.checkbox-inline{
				margin-top: 35px;
			}
		}
	}
	#location-details-form{
		margin-bottom: 100px;
	}
	.reg-form-btn-container{
		.reg-form-btn{
			height: 40px;
			width: 125px;
			border-radius: 5px;
			color: #fff !important;
		}
		.reg-form-btn.blue{
			border: 1px solid $coss-skyBlue;
			background-color: $coss-skyBlue;
			&:hover{
				background-color: #22b0e2;
			}
		}
		.reg-form-btn.gray{
			border: 1px solid #adb1b3;
			background-color: #adb1b3;
			&:hover{
				background-color: #939696;
			}
		}
		.basic-details-submit{
			margin-bottom: 25px;
		}
		.document-details-submit{
			float: right;
		}
	}
	@media (max-width: $screen-xs-max) {
	  	.page-flow-container {
	  	    display: flex;
		    justify-content: center;
		    align-items: center;
		    width: 100%;
			.page-point {
			    text-align: center;
			    padding: 0 14px;
				&:not(:first-of-type) {
					margin-top: 0px;
			    	position: relative;
			    	&:before {
					    content: "";
					    position: absolute;
					    top: 9px;
					    left: -31px;
					    border-top: 1px solid #47c4f0;
					    height: 1px;
					    width: 30px;
					    display: none;
					}
				}
				.page-name {
				    padding-top: 3px;
				    font-size: 14px;
				}
				.circle {
				    height: 20px;
				    width: 20px;
				    border: 1px solid #d8d7da;
				    border-radius: 50%;
				    margin: 0px auto;
				}
			}
		}
	}
}

.ladda-button{
	padding-top: 7px;
}

.dz-message{
	width: 140px !important;
    height: 30px !important;
    border: 1px solid !important;
    float: right !important;
    padding-top: 3px;
    margin: 0px !important;
	span{
		display: none;
	}
}

.main_dropzone_view{
	.row{
		/*display: flex;
		align-items: center;*/
		@media (min-width: 320px) and (max-width: 767px) {
			display: block !important;
		}
	}
}

.dz-details{
	display: none !important;
}

.dropzone{
	border: none;
	box-shadow: 0px 2px 5px 1px #cccccc;
	margin-top: 20px;
	.dz-preview{
		min-height: 70px;
	}
}

.dz-remove{
	div{
		padding-top: 3px;
		padding-right: 3px;
	}
}

.checkbox_data{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 0px #ccc;
      ul{
        padding: 20px;
        margin: 0px;
        li{
          list-style: none;
          margin: 10px 20px 0px 20px;
        }
        .main_list{
          margin: 0px;
        }
      }
    .main_sub_list{
      padding: 0 20px;
    }
}

.main-dropzone-row{
	display: flex;
	@media (min-width: 320px) and (max-width: 767px) {
		display: block;
	}
}

.doc-section{
	.dropzone{
		@media (min-width: 320px) and (max-width: 767px) {
			padding: 20px 10px !important;
		}
	}
	.radio-section1{
		position: relative;
		@media (min-width: 768px)and (max-width: 1024px){
			position: relative;
		}
		.permission_checkbox{
			position: absolute;
			right: 8px;
			display: flex;
			top: 45px;
			@media (min-width: 320px) and (max-width: 767px){
				position: initial;
			}
			@media (min-width: 768px) and (max-width: 1023px){
				display: flex;
				position: absolute;
				left: -10px;
			}
			@media (min-width: 1024px){
				text-align: right;
			}
		}
	}
}

.dropzone .dz-preview.dz-complete .dz-progress{
	left: 72%!important;
	width: 50px!important;
	height: 8px!important;
}

.document_slide{
	display: flex;
	margin: 15px;
	.document_slide_tab{
		display: flex;
		align-items: center;
		justify-content:center;
		padding: 10px;
		border: 1px solid;
		margin: 0 10px 0 10px;
		cursor: pointer;
		background-color: #34b5f2;
		color: #fff;
	    border-top-left-radius: 25px !important;
	    border-top-right-radius: 0 !important;
	    border-bottom-left-radius: 0 !important;
	    border-bottom-right-radius: 25px !important;
        outline: none !important;
	    cursor: pointer;
	    height: 115px !important;
		.document_tab_heading{
			text-align: center;
		}
		.doc_count{
			position: absolute;
		    color: #000;
		    top: 100%;
		}
	}
	.active{
		background-color: #2a55a2 !important;
	}
	.slick-track{
		display: flex;

		.slick-slide{
			display: flex;
			height: auto;
			align-items: center; //optional
			justify-content: center; //optional
		}
	}

	.left_arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-10px);
		left:-10px;
	}
	.right_arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-10px);
		right: -10px;
	}
		
}
.reset-btn-right{
    float: right;
    margin-right: 10px;
}
