.scope-section{
	background-color: #fff;
	border-radius: 4px;
	color:#615959;
	.display-section{
		margin-top: 20px;
	    padding: 20px;
	    background-color: #fff;
	    box-shadow: 0 2px 8px 0px #b1abab;
	    border-radius: 4px;
	}
	.radio-inline{
		font-weight: bold;
	}
	.scope-title{
		font-size: 16px;
	}
	.add-more-btn{
		color: #FFFFFF;
	    background-color: #c71c14;
	    border-color: #c71c14;
	    float: right;
	}
	.vessel-row{
	    .description{
    	    margin-bottom: 10px;
	    	.content-head{
	    		color: #8e8e8e;
			    padding: 3px 0px;
			    font-size: 16px;
	    	}
	    	.content{
	    		display: block;
	    		font-size: 14px;
	    	}
	    }
	    .agent-preview{
    		width: 100px;
	    }
	    .vessel-title{
	    	align-items: center;
	    	margin: 5px 0px;
	    	.description{
	    		display: flex;
	    		align-items: center;
	    		justify-content: space-between;
	    		.ship-buttons{
	    			display: flex;
		    		align-items: center;
		    		justify-content: space-between;
		    		cursor: pointer;
		    		width: 35px;
	    		}
	    	}
	    }
	}
	.agent{
		.upload-photo-container{
			width: 200px;
		    height: 200px;
		    border: 2px dashed #d8d7da !important;
		    margin-top: 15px;
		    margin-bottom: 10px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    position: relative;
		    border-radius: 0%;
		    .profile-image{
				text-align: center;
				input{
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					border-radius: 50%;
					outline: 0;
					opacity: 0;
				}
				.icon{
					font-size: 24px;
					color: #47c4f0;
				}
				.profile_pic_text{
					color: #47c4f0;
				}
			}
		}
	}
}