#view-company-page {
	.container {
		.tabbable {
			.fa-edit {
				background-color: white;
			    color: #555555;
			    border-bottom: 1px solid #ddd;
			}
			.fa-download {
				background-color: white;
			    color: #555555;
			    border-bottom: 1px solid #ddd;
			}
			color: #858585;
			.tab-content {
				.company_profile_pic {
					height: 180px;
					width: 180px;
					border: 1px solid #ddd;
					margin-bottom: 15px;
				}
				.seafarer_profile_pic {
				    position: absolute;
				    top: 0px;
				    left: 0px;
				    height: 100%;
				    width: 100%;
				    border-radius: 50%;
				    outline: 0;
				}
				.tab-pane {
					@media (max-width: $screen-xs-max) {
						padding : 0;
					}
					.panel-heading {
						padding : 10px 0;
						min-height : 40px;
						&.second-heading{
							padding-top : 15px;
						}
						&.shippng-details-heading{
							padding-top : 25px;
						}
					}
				}
			}
		}
	}
}