.my-subcription{
	.subcription{
		@media (max-width: $screen-xs-max) { margin-left: 0px; }
		.package-card{
			background-color: #fff;
			box-shadow: 0 2px 8px 0px #b1abab;
			border-radius: 4px;
		    margin: 15px 0px;
			.content-container{
				padding: 0px 10px 10px 10px;
			}
			.content-section{
				padding-top: 10px;
				.title{
					color: #000;
				}
				.content{
					margin-top: 5px;
					color: #8e8e8e;
					.invoice-download{
						color: inherit;
						.invoice-img{
							margin-right: 10px;
						}
					}
				}
				li{
					cursor: pointer;
				}
			}
			.name{
				border-bottom: 1px solid #d9e2e7;
				.status{
					float: right;
				    color: #fff;
				    font-size: 12px;
				    padding: 0px 15px 2px;
				    border-radius: 3px;
				}
				.package-active{
					background-color: #85b213;
				}
				.package-expired{
					background-color: #d83a2d;
				}

			}
			.discription{
				border-bottom: 1px solid #d9e2e7;
			}
			.dates{
			    display: flex;
			    justify-content: space-between;
			    font-size: 12px;
			    background-color: #eeeeee;
			    border-bottom-left-radius: 4px;
			    border-bottom-right-radius: 4px;
			}
		}
	}

}