.dashboard-body{
    .sidebar-show-small{
        flex: 0 0 250px !important;
        width: 250px !important;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        padding: 0;
        color: #fff;
        background: #2a55a2;
        flex: 0 0 250px;
        order: -1;
        position: fixed;
        z-index: 0;
        width: 250px;
        height: 100%;
        overflow-y: scroll;
        overflow-x:hidden;
        // margin-top: -75px;
        @media(max-width:768px){
            flex:0 0 0;
            width: 0;
            // margin-top:-75px;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }                
        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey; 
            border-radius: 5px;
        }
            
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $cs-secondary-color; 
            border-radius: 5px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $cs-secondary-color; 
        }

        &-nav{
            .brand{
                background-color: #496eb2;
                padding: 75px 40px 40px 40px !important;
                border-bottom-left-radius: 30px !important;
                border-bottom-right-radius: 30px !important;
                text-align: -webkit-center;
                &-image{
                    background-color: #fff;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    display: block;
                    text-align: center;
                    padding: 10px;
                    img{
                        width: 100%;
                        border-radius: 50%;
                        height: 100%;
                    }
                }
                &-title{
                    text-align: center;
                    margin-top: 15px;
                    font-weight: 700;
                }
            }
            .nav{
                padding:15px 0 30px 0;               
                &-item{
                    margin-left: 5px;
                    &:hover{
                        border-left: 4px solid $cs-secondary-color;

                    }
                }
                &-link{
                        margin: 5px 0 0 10px;
                        border-bottom-left-radius: 5px;
                        border-top-left-radius: 5px;
                        color: $cs-white;
                    &:hover{
                        text-decoration: none;
                        background-color: #eeeeee;
                        color: $cs-secondary-color;
                    }
                }
                &-active{
                    text-decoration: none;
                    background-color: #eeeeee;
                    color: $cs-secondary-color;
                }
            }
        }
    }
}