.page-container {
  /* Sborder: 1px solid black; */
  height: auto;
}

h4 {
  font-size: 1.1em;
  font-weight: 525;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.seperator-line {
  border-top: 0.09px #c8c8de dotted;
  border-style: dotted;
}

.outer-div {
  border-width: thin;
  border-style: solid;
  border-color: rgb(196, 196, 206);
  /* padding-right: 10px;
  padding-left: 10px; */
  padding: 5px 10px;
  background-color: #f1f3f7;
}
.other-service-div {
  background-color: #f1f3f7;
}
.popover-title {
  background-color: #f1f3f7;
  font-size: 13px;
  font-weight: bold;
}
.popover-content {
  font-size: 13px;
}
.outer-div-between {
  max-height: 10px;
  height: 10px;
  border-top: 0.25px solid rgb(196, 196, 206);
  border-top: 0.25px solid rgb(196, 196, 206);
  /* border-width: thin;
  border-style: solid;
  border-color: rgb(196, 196, 206); */
}

.main-title {
  /* border: 1px solid orange; */
  width: 100%;
  padding-left: 5px;
  font-size: 1.07em;
  font-weight: 550;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(4, 4, 54);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.title {
  /* border: 1px solid orange; */
  width: 100%;
  padding-left: 5px;
  font-size: 1.02em;
  font-weight: 550;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(6, 6, 85);
  /* background-color: rgb(235, 243, 243); */
  padding-top: 5px;
  padding-bottom: 5px;
}

/* The Document Section */
/* The Passport section */

.passport-div {
  /* border: 1px solid red; */
  display: flex;
}

.col-pp-1,
.col-pp-2,
.col-pp-3,
.col-pp-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
  /* padding: 15px 0px !important; */
}
.col-label-pp-country,
.col-label-pp-nos,
.col-label-pp-poi,
.col-label-pp-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-pp-country,
.col-data-pp-nos,
.col-data-pp-poi,
.col-data-pp-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-pp-1,
  .col-pp-2,
  .col-pp-3,
  .col-pp-4 {
    width: 25%;
    flex-direction: column;
  }
  .col-label-pp-country,
  .col-data-pp-country,
  .col-label-pp-nos,
  .col-data-pp-nos,
  .col-label-pp-poi,
  .col-data-pp-poi,
  .col-label-pp-doe,
  .col-data-pp-doe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .passport-div {
    flex-direction: column;
  }

  .col-pp-1,
  .col-pp-2,
  .col-pp-3,
  .col-pp-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The Visa section */

.visa-div {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 15px 0px; */
  border-top: 0.09px #c8c8de dotted;
  
}

.col-visa-1,
.col-visa-2,
.col-visa-3,
.col-visa-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-visa-country,
.col-label-visa-doe,
.col-label-visa-type {
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-visa-country,
.col-data-visa-doe,
.col-data-visa-type {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-visa-1,
  .col-visa-2,
  .col-visa-3,
  .col-visa-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }
  .col-label-visa-country,
  .col-data-visa-country,
  .col-label-visa-type,
  .col-data-visa-type,
  .col-label-visa-doe,
  .col-data-visa-doe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .visa-div {
    flex-direction: column;
  }

  .col-visa-1,
  .col-visa-2,
  .col-visa-3,
  .col-visa-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The Medical section */

.med-div {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 15px 0px; */
  border-top: 0.09px #c8c8de dotted;
  
}

.col-med-1,
.col-med-2,
.col-med-3,
.col-med-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-med-country,
.col-label-med-type,
.col-label-med-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-med-country,
.col-data-med-type,
.col-data-med-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-med-1,
  .col-med-2,
  .col-med-3,
  .col-med-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }
  .col-label-med-country,
  .col-label-med-type,
  .col-label-med-doe,
  .col-data-med-country,
  .col-data-med-type,
  .col-data-med-doe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .med-div {
    flex-direction: column;
  }

  .col-med-1,
  .col-med-2,
  .col-med-3,
  .col-med-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The Vaccination section */

.vacc-div {
  /* border: 1px solid red; */
  display: flex;
}

.col-vacc-1,
.col-vacc-2,
.col-vacc-3,
.col-vacc-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-vacc-type,
.col-label-vacc-country,
.col-label-vacc-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-vacc-type,
.col-data-vacc-country,
.col-data-vacc-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-vacc-1,
  .col-vacc-2,
  .col-vacc-3,
  .col-vacc-4 {
    width: 25%;
    flex-direction: column;
  }
  .col-label-vacc-type,
  .col-label-vacc-country,
  .col-label-vacc-doe,
  .col-data-vacc-type,
  .col-data-vacc-country,
  .col-data-vacc-doe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .vacc-div {
    flex-direction: column;
  }

  .col-vacc-1,
  .col-vacc-2,
  .col-vacc-3,
  .col-vacc-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The Indos section */

.indos-div {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 15px 0px; */
}

.col-indos-1,
.col-indos-2,
.col-indos-3,
.col-indos-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-indos-country,
.col-label-indos-number {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}

.col-data-indos-country,
.col-data-indos-number {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-indos-1,
  .col-indos-2,
  .col-indos-3,
  .col-indos-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }
  .col-label-indos-number,
  .col-data-indos-number {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .indos-div {
    flex-direction: column;
  }

  .col-indos-1,
  .col-indos-2,
  .col-indos-3,
  .col-indos-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The CDC section */

.cdc-div {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 15px 0px; */
  border-top: 0.09px #c8c8de dotted;
  
}

.col-cdc-1,
.col-cdc-2,
.col-cdc-3,
.col-cdc-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-cdc-country,
.col-label-cdc-number,
.col-label-cdc-doi,
.col-label-cdc-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-cdc-country,
.col-data-cdc-number,
.col-data-cdc-doi,
.col-data-cdc-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-cdc-1,
  .col-cdc-2,
  .col-cdc-3,
  .col-cdc-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }
  .col-label-cdc-country,
  .col-label-cdc-number,
  .col-label-cdc-doi,
  .col-label-cdc-doe,
  .col-data-cdc-country,
  .col-data-cdc-number,
  .col-data-cdc-doi,
  .col-data-cdc-doe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .cdc-div {
    flex-direction: column;
  }

  .col-cdc-1,
  .col-cdc-2,
  .col-cdc-3,
  .col-cdc-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The COC section */

.coc-div {
  /* border: 1px solid red; */
  display: flex;
  border-top: 0.09px #c8c8de dotted;
  /* padding: 15px 0px; */
}

.col-coc-1,
.col-coc-2,
.col-coc-3,
.col-coc-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-coc-country,
.col-label-coc-number,
.col-label-coc-grade,
.col-label-coc-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-coc-country,
.col-data-coc-number,
.col-data-coc-grade,
.col-data-coc-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-coc-1,
  .col-coc-2,
  .col-coc-3,
  .col-coc-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }
  .col-label-coc-country,
  .col-label-coc-number,
  .col-label-coc-grade,
  .col-label-coc-doe,
  .col-data-coc-country,
  .col-data-coc-number,
  .col-data-coc-grade,
  .col-data-coc-doe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .coc-div {
    flex-direction: column;
  }

  .col-coc-1,
  .col-coc-2,
  .col-coc-3,
  .col-coc-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The COE section */

.coe-div {
  /* border: 1px solid red; */
  display: flex;
  border-top: 0.09px #c8c8de dotted;
  /* padding: 15px 0px; */
}

.col-coe-1,
.col-coe-2,
.col-coe-3,
.col-coe-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-coe-country,
.col-label-coe-number,
.col-label-coe-grade,
.col-label-coe-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-coe-country,
.col-data-coe-number,
.col-data-coe-grade,
.col-data-coe-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-coe-1,
  .col-coe-2,
  .col-coe-3,
  .col-coe-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }
  .col-label-coe-country,
  .col-label-coe-number,
  .col-label-coe-grade,
  .col-label-coe-doe,
  .col-data-coe-country,
  .col-data-coe-number,
  .col-data-coe-grade,
  .col-data-coe-doe {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .coe-div {
    flex-direction: column;
  }

  .col-coe-1,
  .col-coe-2,
  .col-coe-3,
  .col-coe-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The GMDSS section */

.gmdss-div1,
.gmdss-div2 {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 15px 0px; */
}

.col-gmdss-1,
.col-gmdss-2,
.col-gmdss-3,
.col-gmdss-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-gmdss-endorse-1,
.col-gmdss-endorse-2,
.col-gmdss-endorse-3,
.col-gmdss-endorse-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-gmdss-country,
.col-label-gmdss-number,
.col-label-gmdss-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-gmdss-country,
.col-data-gmdss-number,
.col-data-gmdss-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

.col-label-gmdss-endorse-country,
.col-label-gmdss-endorse-number,
.col-label-gmdss-endorse-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-gmdss-endorse-country,
.col-data-gmdss-endorse-number,
.col-data-gmdss-endorse-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-gmdss-1,
  .col-gmdss-2,
  .col-gmdss-3,
  .col-gmdss-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }

  .col-gmdss-endorse-1,
  .col-gmdss-endorse-2,
  .col-gmdss-endorse-3,
  .col-gmdss-endorse-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }

  .col-label-gmdss-country,
  .col-label-gmdss-number,
  .col-label-gmdss-doe,
  .col-data-gmdss-country,
  .col-data-gmdss-number,
  .col-data-gmdss-doe {
    margin-top: 0;
    margin-bottom: 0;
  }

  .col-label-gmdss-endorse-country,
  .col-label-gmdss-endorse-number,
  .col-label-gmdss-endorse-doe,
  .col-data-gmdss-endorse-country,
  .col-data-gmdss-endorse-number,
  .col-data-gmdss-endorse-doe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .gmdss-div1,
  .gmdss-div2 {
    flex-direction: column;
  }

  .col-gmdss-1,
  .col-gmdss-2,
  .col-gmdss-3,
  .col-gmdss-4 {
    width: 100%;
    flex-direction: row;
  }

  .col-gmdss-endorse-1,
  .col-gmdss-endorse-2,
  .col-gmdss-endorse-3,
  .col-gmdss-endorse-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The DCE section */
.dce-div1 {
  border-top: 0.09px #c8c8de dotted;
}
.dce-div1,
.dce-div2 {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 15px 0px; */
}

.col-dce-1,
.col-dce-2,
.col-dce-3,
.col-dce-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-dce-row2-1,
.col-dce-row2-2,
.col-dce-row2-3,
.col-dce-row2-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-dce-country,
.col-label-dce-number,
.col-label-dce-type,
.col-label-dce-grade {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-dce-country,
.col-data-dce-number,
.col-data-dce-type,
.col-data-dce-grade {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

.col-label-dce-poi,
.col-label-dce-doi,
.col-label-dce-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-dce-poi,
.col-data-dce-doi,
.col-data-dce-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-dce-1,
  .col-dce-2,
  .col-dce-3,
  .col-dce-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }

  .col-dce-row2-1,
  .col-dce-row2-2,
  .col-dce-row2-3,
  .col-dce-row2-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }

  .col-label-dce-country,
  .col-label-dce-number,
  .col-label-dce-type,
  .col-label-dce-grade,
  .col-data-dce-country,
  .col-data-dce-number,
  .col-data-dce-type,
  .col-data-dce-grade {
    margin-top: 0;
    margin-bottom: 0;
  }

  .col-label-dce-poi,
  .col-label-dce-doi,
  .col-label-dce-doe,
  .col-data-dce-poi,
  .col-data-dce-doi,
  .col-data-dce-doe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .dce-div1,
  .dce-div2 {
    flex-direction: column;
  }

  .col-dce-1,
  .col-dce-2,
  .col-dce-3,
  .col-dce-4 {
    width: 100%;
    flex-direction: row;
  }

  .col-dce-row2-1,
  .col-dce-row2-2,
  .col-dce-row2-3,
  .col-dce-row2-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The Course Section */
/* The Pre Sea section */

.pre-sea-div {
  /* border: 1px solid red; */
  display: flex;
}

.col-pre-sea-1,
.col-pre-sea-2,
.col-pre-sea-3,
.col-pre-sea-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-pre-sea-deg,
.col-label-pre-sea-insti,
.col-label-pre-sea-pass {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}

.col-data-pre-sea-deg,
.col-data-pre-sea-insti,
.col-data-pre-sea-pass {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-pre-sea-1,
  .col-pre-sea-2,
  .col-pre-sea-3,
  .col-pre-sea-4 {
    width: 25%;
    flex-direction: column;
  }
  .col-label-pre-sea-deg,
  .col-label-pre-sea-insti,
  .col-label-pre-sea-pass,
  .col-data-pre-sea-deg,
  .col-data-pre-sea-insti,
  .col-data-pre-sea-pass {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .pre-sea-div {
    flex-direction: column;
  }

  .col-pre-sea-1,
  .col-pre-sea-2,
  .col-pre-sea-3,
  .col-pre-sea-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The Post Sea Course section */

.course-div1,
.course-div2 {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 15px 0px; */
}

.col-course-row1-1 {
  /* border: 3px solid blue; */
  display: flex;
  width: auto;
}

.col-label-course-name,
.col-data-course-name {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 1.02em;
  font-weight: 550;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(6, 6, 85);
  padding-left: 5px;
  padding-right: 5px;

  /* padding-left: 5px;
  font-size: 1.02em;
  font-weight: 550;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(6, 6, 85);
  /* background-color: rgb(235, 243, 243); */
  /* padding-top: 5px;
  padding-bottom: 5px; */
}

.col-course-row2-1,
.col-course-row2-2,
.col-course-row2-3,
.col-course-row2-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-course-issue,
.col-label-course-number,
.col-label-course-doi,
.col-label-course-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-course-issue,
.col-data-course-number,
.col-data-course-doi,
.col-data-course-doe {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-course-row2-1,
  .col-course-row2-2,
  .col-course-row2-3,
  .col-course-row2-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px 0; */
  }
  .col-label-course-issue,
  .col-label-course-number,
  .col-label-course-doi,
  .col-label-course-doe,
  .col-data-course-issue,
  .col-data-course-number,
  .col-data-course-doi,
  .col-data-course-doe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .course-div2 {
    flex-direction: column;
  }

  .col-course-row2-1,
  .col-course-row2-2,
  .col-course-row2-3,
  .col-course-row2-4 {
    width: 100%;
    flex-direction: row;
  }
}

/* The Sea Service section */

.service-div1,
.service-div2,
.service-div3,
.service-div4 {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 15px 0px; */
}

.col-service-row1-1 {
  /* border: 3px solid blue; */
  /* display: flex; */
  width: 40%;
}
.col-service-row1-2,
.col-service-row1-3,
.col-service-row1-4 {
  /* border: 3px solid blue; */
  /* display: flex; */
  width: 20%;
  text-align: right;
  padding-right: 5px;
}

.col-service-row1-4 {
  font-size: 0.9em;
}

.col-service-row2-1,
.col-service-row2-2,
.col-service-row2-3,
.col-service-row2-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-service-rank,
.col-label-service-son,
.col-label-service-soff {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-service-rank,
.col-data-service-son,
.col-data-service-soff {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

.col-service-row3-1,
.col-service-row3-2,
.col-service-row3-3,
.col-service-row3-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;
}

.col-label-service-ship,
.col-label-service-flag,
.col-label-service-owners,
.col-label-service-manners {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-service-ship,
.col-data-service-flag,
.col-data-service-owners,
.col-data-service-manners {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */ 
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

.col-service-row4-1,
.col-service-row4-2,
.col-service-row4-3,
.col-service-row4-4 {
  /* border: 3px solid blue; */
  display: flex;
  width: 25%;

}
.col-label-service-type,
.col-label-service-grt,
.col-label-service-bhp,
.col-label-service-etype {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 30, 30);
  padding-left: 5px;
  padding-right: 5px;
}
.col-data-service-type,
.col-data-service-grt,
.col-data-service-bhp,
.col-data-service-etype {
  /* border: 1px solid green; */
  /* margin-top: -10px;  */
  /* margin-bottom: -10px;  */
  font-size: 0.95em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 131, 209);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .col-service-row2-1,
  .col-service-row2-2,
  .col-service-row2-3,
  .col-service-row2-4,
  .col-service-row3-1,
  .col-service-row3-2,
  .col-service-row3-3,
  .col-service-row3-4,
  .col-service-row4-1,
  .col-service-row4-2,
  .col-service-row4-3,
  .col-service-row4-4 {
    width: 25%;
    flex-direction: column;
    /* padding: 10px; */
  }
  .col-label-service-rank,
  .col-label-service-son,
  .col-label-service-soff,
  .col-data-service-rank,
  .col-data-service-son,
  .col-data-service-soff,
  .col-label-service-ship,
  .col-label-service-flag,
  .col-label-service-owners,
  .col-label-service-manners,
  .col-data-service-ship,
  .col-data-service-flag,
  .col-data-service-owners,
  .col-data-service-manners,
  .col-label-service-type,
  .col-label-service-grt,
  .col-label-service-bhp,
  .col-label-service-etype,
  .col-data-service-type,
  .col-data-service-grt,
  .col-data-service-bhp,
  .col-data-service-etype {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .service-div2,
  .service-div3,
  .service-div4 {
    flex-direction: column;
  }

  .col-service-row2-1,
  .col-service-row2-2,
  .col-service-row2-3,
  .col-service-row2-4,
  .col-service-row3-1,
  .col-service-row3-2,
  .col-service-row3-3,
  .col-service-row3-4,
  .col-service-row4-1,
  .col-service-row4-2,
  .col-service-row4-3,
  .col-service-row4-4 {
    width: 100%;
    flex-direction: row;
  }
}

.other-service-div {
  min-height: 100px;
  border-width: thin;
  border-style: solid;
  border-color: rgb(196, 196, 206);
  padding: 15px 15px;
  font-size: 1.15em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  /* color: rgb(14, 131, 209); */
  color: rgb(30, 30, 30);
  border-radius: 0.5%;
}
