
.share-page-container h1,
.share-page-container h2,
.share-page-container h3,
.share-page-container .article-title {
  font-size: 2.4rem;
  font-weight: 400;
}

.share-page-container h1 {
  font-size: 2.4rem;
  color: #212614;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.share-page-container a {
  color: #116d9ecc;
  text-decoration: none;
}




.share-page-container .Site-Title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #143774;
  font-size: 1.5rem;
}

.share-page-container .Sub-Title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.share-page-container .article-read-more,
.share-page-container .article-info {
  font-size: 0.875rem;
}

.share-page-container .article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
}

.share-page-container .article-read-more:hover,
.share-page-container .article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

.share-page-container .article-info {
  margin: 0.75em 0;
}

.share-page-container h1 span {
  color: #b7832f;
}

.share-page-container h2 {
  font-size: 1.5rem;
}

.share-page-container h3 {
  margin: 0;
}

.share-page-container p {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

/* layout */

.share-page-container .page-container {
  /* border: 1px solid black; */
  /* height: 100%; */
  height: 100vh;
}

.share-page-container .main-column-container {
  /* border: 2px solid red; */
  display: flex;
}

.share-page-container .main-column-container-left {
  /* border: 2px solid pink;  */
  width: 17%;
  height: auto;
  border-right: 0.75px solid rgba(184, 173, 173, 0.74);

  /* height: 100vh; */
}

.share-page-container .main-column-container-center {
  /* border: 2px solid orange; */
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.share-page-container .col-1 {
  border: 1px solid grey;
  width: 30%;
  /* height: 15em; */
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  /* padding: 5px 5px; */
}
.share-page-container .col-2 {
  border: 1px solid grey;
  width: 30%;
  /* height: 15em; */
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  /* padding: 5px 5px; */
}
.share-page-container .col-3 {
  border: 1px solid grey;
  width: 30%;
  /* height: 15em; */
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  /* padding: 5px 5px; */
}

.share-page-container .pannel-image {
  /* border: 3px solid purple; */
  background-color: #ddd;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  height: 80%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.share-page-container .pannel-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.share-page-container img {
  max-width: 50%;
  width :auto
  display:block;
  /* height: 12em; */
  max-height:90%;
}

/* .image-profile {
  max-width: 75px;
  height: 10em;
} */

.share-page-container .pannel-title {
  /* border: 3px solid maroon; */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  text-align: center;
  width: auto;
  /* height: 50%; */
  display: block;
  text-decoration: none;
}

@media (max-width: 900px) {
  .share-page-container .main-column-container {
    flex-direction: column;
  }
  .share-page-container .main-column-container-left {
    width: 100%;
    border: none;
  }
  
  .share-page-container .main-column-container-center {
    width: 100%;
  }
}

@media (max-width: 700px) {

  .share-page-container .page-container {
  border: 1px solid black;
  height: 100%;
  /* height: 100vh; */
}
.share-page-container .main-column-container-center {
    flex-direction: column;
  }

  .share-page-container .col-1,
  .share-page-container .col-2,
  .share-page-container .col-3 {
    width: 75%;
    height: 14em;
    margin: auto;
    width: 60%;
    border: 1px solid grey;
    margin-bottom: 20px;
  }
   
  .share-page-container .pannel-image {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 9em;
  }

  .share-page-container .pannel-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .share-page-container img {
    max-width: 90%;
    display: block;
    height: 12em;
  }

  .share-page-container .pannel-title {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: auto;
  display: block;
  text-decoration: unset;
  
 }
 
}

/* Nav items */

.share-page-container nav ul {
  list-style: none;
  padding: 0;
  justify-content: center;
}

.share-page-container nav li {
  margin-left: 2em;
  margin-bottom: 1em;
}

.share-page-container nav a {
  color: #707070;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.25em 0;
}

@media (max-width: 900px) {
  .share-page-container nav ul {
    display: flex;
    text-align: center;
    padding: 0px auto;
  }
  .share-page-container nav li {
    margin-left: 2em;
    margin-bottom: 0px;
  }
}

@media (max-width: 550px) {
  .share-page-container nav ul {
    flex-direction: column;
    padding: 0px auto;
  }
  .share-page-container nav li {
    /* margin-left: 2em; */
    margin-bottom: 10px;
  }
}
