.advertise-container{
	label {
	  font-weight: bold;
	  color: #858585;
	}
	label.error {
	    font-size: 14px;
	    color: #a94442 !important;
	}
	.fileupload {
		&.fileupload-new{
			.thumbnail {
				height: 138px !important;
				width: 270px !important;
				img {
					width: 100% !important;
					height: 100% !important;
				}
			}
		}
	
		.fileupload-preview {
			&.fileupload-exists {
				&.thumbnail{
					height: 138px !important;
				    width: 270px !important;
				    max-width: none;
				    img {
						width: 100% !important;
						height: 100% !important;
					}
				}
			}
		}
	}

	.ad_card{
			border-radius : 4px;
		    /*max-width: 270px;
		    max-height: 164px;*/
			@extend .z-depth-1;

			&Title{
				padding: 5px 5px !important;
				font-size: 16px;
			    color: $coss-darkBlack;
			    font-weight: 600;
			    line-height: 1;
		        padding: 20px;
    			background-color: #f5f5f5;
			}

			&Img{
				padding : 5px;
				img{
					width : 100%;
				}
			}
		}
	.form-group{
			padding-top: 10px;
			.input-label{
				font-size: 14px;
				color: #8e8e8e;
				margin-bottom: 0px;
				font-weight: normal;
				width: 100%;
			}
			.form-control{
			    border: none !important;
			    background: transparent !important;
			    border-bottom: 1px solid #9e9e9e !important;
			    box-shadow: none !important;
			    border-radius: 0px !important;
		        padding: 0px !important;
		        font-size: 14px !important;
		        &::placeholder{
		        	color:#4e4e4e !important;
		        }
		       &:focus{
		       	border-color:#47c4f0 !important;
		       	color: #47c4f0 !important;
		       	&::placeholder{
		        	color:#47c4f0 !important;
		        }
		       }
			}
			.radio-inline{
				margin-top: 15px !important;
			}
			.checkbox-inline{
				margin-top: 35px !important;
			}
		}
}
.reg-form-btn-container{
		.reg-form-btn{
			height: 40px;
			width: 125px;
			border-radius: 5px;
			color: #fff;
		}
		.reg-form-btn.blue{
			border: 1px solid $coss-skyBlue;
			background-color: $coss-skyBlue;
			&:hover{
				background-color: #22b0e2;
			}
		}
		.reg-form-btn.gray{
			border: 1px solid #adb1b3;
			background-color: #adb1b3;
			&:hover{
				background-color: #939696;
			}
		}
		.basic-details-submit{
			margin-bottom: 25px;
		}
		.document-details-submit{
			float: right;
		}
}

.add-state-button {
	color: #FFFFFF;
	    margin-top: 15px;
	    background-color: #c71c14;
	    border-color: #c71c14;
	    line-height: normal;
	    padding: 10px;
	    font-size: 16px;
}

.btn-light-grey{
	background-color: #a7acb7;
    border-color: #999eab;
    color: white;
}

.advertise-card {
	margin: 15px 0;
	padding: 5px;
	width: 270px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	position: relative;
	.advertise-status-loader{
		position:absolute;
		top:32px;
		left:calc(50% - 10px);
	}
}