#reset-password-submit-button{
  background-color: #1fbba6;
  border-color: #1ba593;
  color: white;
  padding: 6px 15px;
  font-size: 15px;
  border-radius: 5px;
}
#admin-change-password-button{
  background-color: #1fbba6;
  border-color: #1ba593;
  color: white;
  padding: 6px 15px;
  font-size: 15px;
  border-radius: 5px;
}
.m-b-15 {
  margin-bottom : 15px;
}
.m-t-15 {
  margin-top : 15px;
}
.select-loader {
 font-size: 14px;
 color: #000;
 position: absolute;
 right: 25px;
 top: 12px;
}


label.error{
  font-size: 14px;
  color: #a94442 !important;
}

input.error{
  font-size: 16px;
  color: #a94442;
}

select.error{
  font-size: 16px;
}

.pincode-error-message {
  color: #e2412d;
  font-size: 14px;
  font-weight: bold;
}

.add-more-button {
    background-color: #c71c14;
    border-color: #c71c14;
    color: white;
}
