.advertise-container{
	.fileupload {
		&.fileupload-new{
			.thumbnail {
				height: 138px !important;
				width: 270px !important;
				img {
					width: 100% !important;
					height: 100% !important;
				}
			}
		}
	
		.fileupload-preview {
			&.fileupload-exists {
				&.thumbnail{
					height: 138px !important;
				    width: 270px !important;
				    line-height: 0px !important;
				    max-width: none;
				    img {
						width: 100% !important;
						height: 100% !important;
					}
				}
			}
		}
	}
	.ad_card{
			border-radius : 4px;
		    max-width: 270px;
		    max-height: 164px;
			//@extend .z-depth-1;

			&Title{
				padding: 5px 5px !important;
				font-size: 16px;
			    color: $coss-darkBlack;
			    font-weight: 600;
			    line-height: 1;
		        padding: 20px;
    			background-color: #f5f5f5;
			}

			&Img{
				padding : 5px;
				img{
					width : 100%;
				}
			}
		}
	.form-group{
		.select2-choices {
			border: none !important;
		}
	}
}
.reg-form-btn-container{
		.reg-form-btn{
			height: 40px;
			width: 125px;
			border-radius: 5px;
			color: #fff;
		}
		.reg-form-btn.blue{
			border: 1px solid $coss-skyBlue;
			background-color: $coss-skyBlue;
			&:hover{
				background-color: #22b0e2;
			}
		}
		.reg-form-btn.gray{
			border: 1px solid #adb1b3;
			background-color: #adb1b3;
			&:hover{
				background-color: #939696;
			}
		}
		.basic-details-submit{
			margin-bottom: 25px;
		}
		.document-details-submit{
			float: right;
		}
}

.add-state-button {
	color: #FFFFFF;
	    margin-top: 15px;
	    background-color: #c71c14;
	    border-color: #c71c14;
	    line-height: normal;
	    padding: 10px;
	    font-size: 16px;
}