.multiple-info {
	padding: 0px 15px;
}

.f-14 {
	font-size: 14px;
}

select {
	font-size: 14px !important;
}

.m-t-25 {
	margin-top: 25px !important;
}

.m-t-13 {
	margin-top: 13px !important;
}

.m-t-10 {
	margin-top: 10px !important;
}

.m-t-6 {
	margin-top: 6px !important;
}

.m_t_25 {
	margin-top: 25px !important;
}

.m-b-25 {
	margin-bottom: 25px !important;
}

.m_t_20 {
	margin-top: 20px !important;
}


.no-margin {
	margin: none;
}

.p-0 {
	padding: 0px !important;
}

.p-l-0 {
	padding-left: 0px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-15 {
	padding-left: 15px;
}

.p-t-5 {
	padding-top: 5px;
}

.p-5 {
	padding: 5px !important;
}

.p-15{
  padding: 15px !important;
}

.no-results-found{
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
}

.dashboard-title {
	left: 15px;
	@media(min-width:320px) and (max-width:768px){
		font-size: 18px;
	}
}

.dropdown-admin-section{
	li{
		a:hover{
			color:#fff;
		}
	}
}

.m_l_10 {
	margin-left: 10px;
}

.no-padding {
	padding: 0px;
}

.upload-file-name{
  display: block; 
  color: black; 
  margin-left: -17px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.company-registration{
		padding-top:100px;
	.upload-photo-container{
	    border-radius: 0;
		width: 200px;
		height: 200px;
		border: 2px dashed #d8d7da !important;
		margin-top: 15px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		.image-content{
			text-align: center;
			.icon{
				font-size: 24px;
			}
			.preview{
				width: 100%;
			}
			.cursor-pointer{
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				outline: 0;
				opacity: 0;
			}
			.text-on-image {
			    color: white;
			    font-size: 17px;
			    position: absolute;
			    top: 102px;
			    left: 38px;
			    padding: 4px 10px;

			}
		}
		
	}
}

.red-text-upload{
  color: #cf1b00;
}

.company_profile_pic{
	height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.upload-photo-container-company {
    height: 200px !important;
    width: 200px !important;
    border-radius: 0px !important;
}

.btn-group {
	:hover{
		color: #FFFFFF;
	    background-color: #5f8295;
	    border-color: #5f8295;
	}
}
.btn-default{
	width: 35px;
	height: 30px;
	padding: 3px;
	border: 1px solid #5f8295 !important;
	background-color: #fff;
	color: #5f8295;
	&.active{
		background-color: #5f8295 !important;
		color: #fff;
	}
	.fa{
		font-size: 16px;
	}
}
.btn-default{
	&.verification{
		width: 75px;
		height: 30px;
		padding: 3px;
		border: 1px solid #5f8295 !important;
		background-color: #fff;
		color: #5f8295;
		&.active{
			background-color: #5f8295 !important;
			color: #fff;
		}
		.fa{
			font-size: 16px;
		}
	}
}

.pagination li.active span {
    background: #5f8295 !important;
    border: none !important;
    color: white !important;
    cursor: default !important;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    margin-left: 5px;
    
}

.pagination li a {
    background: #ebedee;
    border: none !important;
    color: #8b91a0;
    display: inline-block;
    margin-right: 1px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777777;
    border-color: #ddd;
    cursor: not-allowed;
    padding: 4px 10px;
    margin-left: 5px;
}

.batches{
    &.dont-break{
        overflow: hidden;
        max-height: 55px;
      }
  .slick-list{
      margin-right: 30px;
      margin-left: 30px;
    }
  .date_slide{
      width: 47px !important;
      height: 45px;
      margin-right: 10px;
      padding-left: 10px;
      line-height: 20px;
      border: 1px solid;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      padding-top: 2px;
      &.select{
        color: #019fe8;
      }
    }
} 

.select2-search-field{
	padding-left: 10px !important;
}

.courseDisableButton{
	cursor: pointer;
}

.green{
	color:green;
}

.red{
	color:red;
}

.f-15{
	font-size: 15px;
}

.w-170 {
	width: 170px;
}

.add-more-section{
    background-color: #f8f8f9;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 3px 3px 5px #eeeeee;
}

.section-title{
  padding-top: 20px;
}

.display-flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui-autocomplete{
  width: 309px !important;
  list-style: none;
  border: 1px solid;
  background-color: #fff;
  color: black;
  padding-left: 10px;

  div a{
    cursor: pointer;
    text-decoration: none;
  }
}

.ui-helper-hidden-accessible{
  display: none;
}

.sea-service-buttons{
  display: flex;
  align-items: center;
  cursor: pointer;
  .sea-service-close-button{
    padding-left: 5px;
    margin-top: -2px;
  }
  .course-close-button{
      padding-left: 5px;
      margin-top: -2px;
    }
}
.upload-title{
    background-color: #e6e8e8;
    box-shadow: 0px 1px 5px 0px #807b7b;
    padding: 10px;
}

.team-section-form{
	.content-container{
		.discription{
			.content-head{
				font-size: 14px;
				color: #8e8e8e;
			}
		}
	}

	.upload-photo-container{
		width: 200px;
		height: 200px;
		border: 2px dashed #d8d7da !important;
		margin-top: 15px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		border-radius: 0%;
		.profile-image{
			text-align: center;
			input{
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				border-radius: 50%;
				outline: 0;
				opacity: 0;
			}
			.icon{
				font-size: 24px;
				color: #47c4f0;
			}
			.profile_pic_text{
				color: #47c4f0;
			}
		}
	}

	.company-team-buttons{
		display: flex;
		align-items: center;
		width: 35px;
		justify-content: space-between;
		float: right;
		border-bottom: none !important;
	}
}


.company_team_data{
	.team-row{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.preview{
		border-radius: 50%;
		width: 100px; 
	}
}

.notification-bell-section{
	padding: 10px;
	cursor: pointer;;
}
.notification-main-view{
  width: 400px;
  max-height: 397px;
  border: 1px solid #323232;
  position: absolute;
  right: 0px;
  background-color: #323232;
  font-size: 12px;
  padding: 0px;
  @media (min-width:320px) and (max-width: 767px) {
    width: 95%;
    margin: 0 auto;
  }

  #notification::-webkit-scrollbar {
    width: 10px;
    background-color:#c8d0e5;
  }

  #notification::-webkit-scrollbar-thumb {
    background-color: #323232;
  }

  .notification-title{
    background-color: #66c6ee;
    color: #fff;
    padding: 15px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .notification-count{
      //float: right;
      //line-height: 0;
      background-color: #323232;
      border-radius: 50%;
      position: relative;
      top: auto;
      left: auto;
      transform: translate(0,0);
      padding: 3px 8px;
      font-size: 10px;
    }
  }


  .notification-content-view{
    text-transform: initial!important;
    max-height: 346px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: black;
    .notification{

      .wrapper{
        display: flex;
        padding: 15px 20px;
        border-bottom: 1px solid #323232;
        color: #777;
      }
      .wrapper:first-child{
        font-weight: bold;
      }
      &:hover{ 
        background-color: #FFFFFF !important;
        cursor: pointer;
      }
      &.unread{
        background-color: #c3e1ef!important;
        @media (min-width:320px) and (max-width: 767px) {
          background-color: #c3e1ef!important;
        }
      }
      .notification-icon{
        min-width: 60px;
        height: 60px;
        border: 2px solid #323232;
        border-radius: 50%;
        margin-right: 10px;
        padding: 8px;
        background-position: center;
        img{
          width: 30px;
          height: 30px;
        }
      }

      .notification-contents{
        .notification-heading{
          color: #323232;
        }
        .notification-day-time-details{
          color: #323232;
        }
      }
    }

    .notification:first-child{
      .notification-contents{
        font-weight: bold;
        // color:#323232;
      }
    }
  }

  .notification-view-more{
    a{
      padding: 10px!important;
      float: right;
      color: #323232!important;
      font-weight: bold;
    }
  }
}
.notification-count{
    position: absolute;
    top: 10%;
    left: 125%;
    transform: translate(-50%, -50%);
    background-color: #fb746c;
    color: #ffffff;
    font-size: 10px;
    border: 1px solid;
    border-radius: 50%;
    padding: 4px 2px;
    min-width: 15px;
    height: 15px;
    text-align: center;
    line-height: 0.5;
}


@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.dropdown-menu{
	position: absolute;
    top: 100%;
    left: 8px;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;

    @media (min-width: $screen-xs-max) and (max-width: $screen-md-max){
    	right: 68px;
	    top: 30px !important;
	    left: auto !important;
	    transform: none !important;
    }
}

.menu_overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(254, 254, 254, 0.2);
	z-index: 99;
}

/*new*/
.notification-content-main-view{
  font-size: 14px;
  
  @media (min-width:320px) and (max-width: 767px) {
    width: 95%;
    margin: 0 auto;
  }

  #notification::-webkit-scrollbar {
    width: 10px;
    background-color:#c8d0e5;
  }

  #notification::-webkit-scrollbar-thumb {
    background-color: #323232;
  }

  .notification-title{
    background-color: #66c6ee;
    color: #fff;
    padding: 15px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .notification-count{
      //float: right;
      //line-height: 0;
      background-color: #323232;
      border-radius: 50%;
      position: relative;
      top: auto;
      left: auto;
      transform: translate(0,0);
      padding: 3px 8px;
      font-size: 10px;
    }
  }

  .notification-content{
    text-transform: initial!important;
    max-height: 346px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .notification{

      .wrapper{
        display: flex;
        padding: 15px 20px;
        color: #777;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0px #b1abab;
        margin-top: 10px;
      }
      .wrapper:first-child{
        font-weight: bold;
      }
      &:hover{ 
        background-color: #FFFFFF !important;
        cursor: pointer;
      }
      &.unread{
        background-color: #c3e1ef !important;
        @media (min-width:320px) and (max-width: 767px) {
          background-color: #c3e1ef !important;
        }
      }
      .notification-icon{
        min-width: 60px;
        height: 60px;
        border: 2px solid #b4b4b4;
        border-radius: 50%;
        margin-right: 10px;
        padding: 8px;
        background-position: center;
        img{
          width: 30px;
          height: 30px;
        }
      }

      .notification-contents{
        .notification-heading{
          color: #323232;
        }
        .notification-day-time-details{
          color: #323232;
        }
      }
    }

    .notification:first-child{
      .notification-contents{
        font-weight: bold;
        // color:#323232;
      }
    }
  }

  .notification-content-view{
    text-transform: initial!important;
    max-height: 346px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .notification{

      .wrapper{
        display: flex;
        padding: 15px 20px;
        color: #777;
        border-bottom: 1px solid #bcbdc0;
      }
      .wrapper:first-child{
        font-weight: bold;
      }
      &:hover{ 
        background-color: #FFFFFF !important;
        cursor: pointer;
      }
      &.unread{
        background-color: #c3e1ef !important;
        @media (min-width:320px) and (max-width: 767px) {
          background-color: #c3e1ef !important;
        }
      }
      .notification-icon{
        min-width: 60px;
        height: 60px;
        border: 2px solid #b4b4b4;
        border-radius: 50%;
        margin-right: 10px;
        padding: 8px;
        background-position: center;
        img{
          width: 30px;
          height: 30px;
        }
      }

      .notification-contents{
        .notification-heading{
          color: #323232;
        }
        .notification-day-time-details{
          color: #323232;
        }
      }
    }

    .notification:first-child{
      .notification-contents{
        font-weight: bold;
        // color:#323232;
      }
    }
  }

  .notification-view-more{
    a{
      padding: 10px!important;
      float: right;
      color: #323232!important;
      font-weight: bold;
    }
  }
}
.datepicker-dropdown{
  // max-width:250px !important;
}