//ruth changes start
$cs-primary-color: #2a55a2 !default; //blue
$cs-secondary-color:#34b5f2 !default; //light blue
$cs-ternary-color: #758fc0; //greyish blue
$cs-dark-blue:#758fc0; //dark blue
$cs-white:#fff ;




$cs-font-xl: 50px; /* 3.125rem = 50px */
$cs-font-lg: 30px; /* 1.875rem = 30px */
$cs-font-md: 20px; /* 1.25rem = 20 px */
$cs-font-sm: 16px; /* 1.25rem = 16 px */
$cs-font-xs: 14px; /* 0.875rem = 14px */

//ruth changes end




$font-family-base : 'PT Sans', sans-serif;
$font-size-base   : 16px;
$text-color       : rgba(0,0,0,1);

$coss-primary-color   : #c71c14;
$coss-secondary-color : #2a55a2;

$btn-default-color  : #FFFFFF;
$btn-default-bg     : $coss-primary-color;
$btn-default-border : $coss-primary-color;

$coss-font-xxl     : 35px;
$coss-font-xl      : 25px;
$coss-font-lg      : 20px;
$coss-font-md      : 18px;
$coss-font-sm      : 17px;
$coss-font-default : 16px;
$coss-font-xs      : 15px;
$coss-font-xxs     : 14px;
$coss-font-tiny    : 11px;

$coss-darkBlack  : rgba(0,0,0,1);
$coss-mildBlack  : rgba(0,0,0,0.87);
$coss-lightBlack : rgba(0,0,0,0.70);
$coss-skyBlue    : #2a55a2;
$grid-float-breakpoint : 1199px !default;



@import "resources/assets/sass/custom_font.scss";

@import "resources/assets/sass/site/vendors/bootstrap.min.scss";
@import "resources/assets/sass/site/vendors/font-awesome.min.scss";
@import "resources/assets/sass/site/vendors/slick-theme.scss";
@import "resources/assets/sass/site/vendors/slick.scss";
@import "resources/assets/sass/site/vendors/sumoselect.scss";

@import 'resources/assets/sass/site/global';

@import 'resources/assets/sass/site/pages/partials/header';
@import 'resources/assets/sass/site/pages/partials/footer';

@import 'resources/assets/sass/site/pages/home';
@import 'resources/assets/sass/site/pages/service';
@import 'resources/assets/sass/site/pages/about_us';
@import 'resources/assets/sass/site/subscription/subscription';
@import 'resources/assets/sass/site/registration/registration';
@import 'resources/assets/sass/site/profile/profile';
@import 'resources/assets/sass/site/advertise/advertise';
@import 'resources/assets/sass/site/company/scope';

// added by mukhtar
@import 'resources/assets/sass/site/pages/home_new';
@import 'resources/assets/sass/site/pages/subcription';
@import 'resources/assets/sass/site/pages/user_navbar';
@import 'resources/assets/sass/site/pages/job_application_listing';
@import 'resources/assets/sass/site/pages/add_job_post';
@import 'resources/assets/sass/site/pages/candidate_search';
@import 'resources/assets/sass/site/pages/search_listing';
@import 'resources/assets/sass/site/pricing/pricing';
@import 'resources/assets/sass/site/order/view';
// end


/* Styling Included By Saurabh */
@import 'resources/assets/sass/site/institutes_courses/institutes_courses';
@import 'resources/assets/sass/site/institutes_courses/institutes_search_result';
@import 'resources/assets/sass/site/institutes_courses/institutes_details';


//ruth css
@import 'resources/assets/sass/site/home/home';
@import 'resources/assets/sass/site/pages/partials/header_new';
@import 'resources/assets/sass/site/partial/sidebar';
@import 'resources/assets/sass/site/pages/course_blocking';
@import 'resources/assets/sass/site/pages/institute';
@import 'resources/assets/sass/site/pages/my-profile';
@import 'resources/assets/sass/site/pages/partials/footer_new';
@import 'resources/assets/sass/site/pages/upload_file';