.view-order-page{
	.view-order-container{
		background-color:#fff;
	    box-shadow: 0 1px 2px #c3c3c3;
	    border-radius: 4px;
	    .order-date{
	    	padding: 10px;
	    	float: right;
	    	color:#ababab;
	    }
	    .view-order-heading{
    	    padding: 10px;
    	    font-size: 24px;
    	    color:#ababab;
    	    border-bottom: 1px solid #ddd;
	    }
	    .view-order-text{
	    	font-size: 16px;
	    	padding: 10px;
	    	border-bottom: 1px solid #ddd;
	    }
	    .view-order-sub-heading{
	    	padding: 10px;
	    	border-bottom: 1px solid #ddd;
	    }
	    .table-responsive{
	    	padding: 10px;
	    	table{
	    		thead{
	    			background-color: #ddd;
	    		}
	    	}
	    }
	    .msg{
	    	font-size: 18px;
	    	padding: 10px;
	    }
	}
}