/*.filter-search-form{
	.panel-body{
		label{
			color: #22262f;
		}
		.form-control{
			border: 1px solid #888;
		}
		input:focus{
			border-color: #888 !important;
		}
		select:focus{
			border-color: #888 !important;
		}
		.coss-inverse-btn{
			outline: none;
		}
		.coss-primary-btn{
			outline: none;
		}
	}
}*/

.sea-service-loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 15px auto;
}

.search-results-main-container{
	dt{
		color: #22262f;
	}
}
.search-count-content{
	color: #22262f;
}
.upload-photo-container{
	width: 150px;
	height: 150px;
	border: 2px dashed #d8d7da !important;
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 10px;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .image-content{
    	text-align: center;
    	.icon{
    		font-size: 24px;
    	}
    	.cursor-pointer{
			position: absolute;
		    top: 0px;
		    left: 0px;
		    height: 100%;
		    width: 100%;
		    border-radius: 50%;
		    outline: 0;
		    opacity: 0;
		}
		.text-on-image {
		    color: white;
		    font-size: 17px;
		    position: absolute;
		    top: 102px;
		    left: 38px;
		    padding: 4px 10px;
		}
    }
}

.panel{
	box-shadow: 0 1px 2px #c3c3c3;
}

.margin-bottom-5px {
	margin-bottom: 5px; 
}

.header-tag {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #22262f;
}

dt {
	font-size: 13px;
}

.p-5-5 {
	padding: 5px 5px;
}

.pagination {
	display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
    float: right;
}

.search-count-content {
	margin-top: 10px;
}

.cursor-pointer {
	cursor: pointer;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.p-t-30{
	padding-top: 30px;
}

select {
	font-size: 14px !important;
}