@font-face {
    font-family: "montserratbold";
    src: url("../fonts/montserrat-bold-webfont.eot");
    src: url("../fonts/montserrat-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-bold-webfont.woff") format("woff"),
        url("../fonts/montserrat-bold-webfont.ttf") format("truetype"),
        url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserratregular";
    src: url("../fonts/montserrat-regular-webfont.eot");
    src: url("../fonts/montserrat-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-regular-webfont.woff") format("woff"),
        url("../fonts/montserrat-regular-webfont.ttf") format("truetype"),
        url("../fonts/montserrat-regular-webfont.svg#montserratregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "poppinsregular";
    src: url("../fonts/poppins-regular-webfont.eot");
    src: url("../fonts/poppins-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
        url("../fonts/poppins-regular-webfont.woff") format("woff"),
        url("../fonts/poppins-regular-webfont.ttf") format("truetype"),
        url("../fonts/poppins-regular-webfont.svg#poppinsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsbold";
    src: url("../fonts/poppins-bold-webfont.eot");
    src: url("../fonts/poppins-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
        url("../fonts/poppins-bold-webfont.woff") format("woff"),
        url("../fonts/poppins-bold-webfont.ttf") format("truetype"),
        url("../fonts/poppins-bold-webfont.svg#poppinsbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* body {
  font-size: 1.125rem;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

html,
body {
    font-family: "poppinsregular";
    font-size: 16px;
    color: #171717;
    line-height: 20px;
    background: #fff;
    margin: 0;
    padding: 0;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "montserratbold";
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #171717;
}

.bold-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
}

.email {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.25rem;
    color: rgb(7, 7, 94);
}

.aboutus-pagecontainer {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    /* border: 1px solid cornflowerblue; */
}

.about-heading-container {
    /* border: 2px solid black; */
    margin: 0 auto;
    text-align: center;
}

.head1 {
    text-align: center;
    font: 1.5rem;
    color: rgb(5, 5, 105);
}

.head2 {
    text-align: center;
    font: 2rem;
    color: rgb(5, 5, 105);
    /* margin-top: -10px; */
    margin-bottom: 20px;
}

/* .....................About Section.....................*/

.about {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    /* justify-content: space-between; */
}

.col-about-data {
    /* border: 2px solid green; */
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
}

.col-title-about {
    /* border: 0.75px dotted pink; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 550;
    text-align: center;
    color: black;
}

.a-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.au-data,
.au-data1 {
    /* border: 0.75px dotted orange; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: black;
}

.au-data1 {
    margin-top: -15px;
}

.col-about-image {
    /* border: 3px solid purple; */
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-about-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutus-pagecontainer img {
    max-width: 90%;
    display: block;
    height: 12em;
}

.about-data p, vision-data p, mission-data p, process-data p, team-data p, trust-data p, value-data p{
    padding-bottom: 10px !important;
}

@media (max-width: 800px) {
    .about {
        flex-direction: column;
        display: flex;
    }
    .col-about-data {
        width: auto;
        max-width: 100%;
    }

    .a-title {
        font-size: 0em;
        font-weight: -100;
        color: transparent;
    }

    .au-data,
    .au-data1 {
        text-align: center;
        margin: 0 auto;
    }

    .about-data {
        margin-top: 20px;
    }

    .col-about-image {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .col-about-image {
        order: 1;
    }

    .col-about-data {
        order: 2;
    }

    .aa-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 12px;
        text-decoration: underline;
    }

    .col-about-image img {
        position: relative;
        width: auto;
    }
}

/* .....................Vision Section.....................*/

.vision {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    /* justify-content: space-between; */
}

.col-alt-title-vision {
    font-size: 0em;
    font-weight: -100;
    color: transparent;
}

.col-vision-image {
    /* border: 3px solid purple; */
    width: 35%;
    display: block;
}

.col-vision-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.va-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.col-vision-data {
    /* border: 2px solid green; */
    width: 65%;
    margin: 0 auto;
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
}

.col-title-vision {
    /* border: 0.75px dotted pink; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 550;
    text-align: center;
    color: black;
}

.v-data,
.v-data1 {
    /* border: 0.75px dotted orange; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: black;
}

.v-data1 {
    /*margin-top: -15px;*/
}

@media (max-width: 800px) {
    .vision {
        flex-direction: column;
        display: flex;
    }
    .col-alt-title-vision {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: black;
        visibility: visible;
        text-align: center;
        width: 100%;
    }

    .v-title {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: underline;
        margin-bottom: 12px;
    }

    .col-vision-data {
        width: auto;
        max-width: 100%;
    }

    .v-data,
    .v-data1 {
        text-align: center;
        margin: 0 auto;
    }

    .vision-data {
        margin-top: 20px;
    }

    .col-vision-image {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .col-vision-image img {
        position: relative;
        width: auto;
    }

    .va-title {
        font-size: 0em;
        font-weight: -100;
        color: transparent;
    }
}

/* .....................Mission Section.....................*/

.mission {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    /* justify-content: space-between; */
}

.col-mission-data {
    /* border: 2px solid green; */
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
}

.col-title-mission {
    /* border: 0.75px dotted pink; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 550;
    text-align: center;
    color: black;
}

.m-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.m-data,
.m-data1,
.m-data2,
.m-data3 {
    /* border: 0.75px dotted orange; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: black;
}

.m-data1,
.m-data2,
.m-data3 {
    /*margin-top: -15px;*/
}

.col-mission-image {
    /* border: 3px solid purple; */
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-mission-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutus-pagecontainer img {
    max-width: 90%;
    display: block;
    height: 12em;
}

@media (max-width: 800px) {
    .mission {
        flex-direction: column;
        display: flex;
    }

    .m-title {
        font-size: 0em;
        font-weight: -100;
        color: transparent;
    }

    .col-mission-data {
        width: auto;
        max-width: 100%;
    }

    .m-data,
    .m-data1,
    .m-data2,
    .m-data3 {
        text-align: center;
        margin: 0 auto;
    }

    .mission-data {
        margin-top: 20px;
    }

    .col-mission-image {
        order: 1;
    }

    .col-mission-data {
        order: 2;
    }

    .col-mission-image {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .col-mission-image img {
        position: relative;
        width: auto;
    }

    .am-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 12px;
        text-decoration: underline;
    }

    .col-title-mission {
        visibility: visible;
    }
}

/* .....................Process Section.....................*/

.process {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    /* justify-content: space-between; */
}

.col-alt-title-process {
    font-size: 0em;
    font-weight: -100;
    color: transparent;
}

.col-process-image {
    /* border: 3px solid purple; */
    width: 40%;
    display: block;
}

.col-process-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pa-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.col-process-data {
    /* border: 2px solid green; */
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
}

.col-title-process {
    /* border: 0.75px dotted pink; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 550;
    text-align: center;
    color: black;
}

.p-data,
.p-data1,
.p-data2,
.p-data3,
.p-data4,
.p-data5 {
    /* border: 0.75px dotted orange; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: black;
}

.p-data1,
.p-data2,
.p-data3,
.p-data4,
.p-data5 {
    /*margin-top: -15px;*/
}

@media (max-width: 800px) {
    .process {
        flex-direction: column;
        display: flex;
    }
    .col-alt-title-process {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: black;
        visibility: visible;
        text-align: center;
        width: 100%;
    }

    .ap-title {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: underline;
        margin-bottom: 12px;
    }

    .col-process-data {
        width: auto;
        max-width: 100%;
    }

    .p-data,
    .p-data1,
    .p-data2,
    .p-data3,
    .p-data4,
    .p-data5 {
        text-align: center;
        margin: 0 auto;
    }

    .process-data {
        margin-top: 20px;
    }

    .col-process-image {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .col-process-image img {
        position: relative;
        width: auto;
    }

    .pa-title {
        font-size: 0em;
        font-weight: -100;
        color: transparent;
    }
}

/* .....................Team Section.....................*/

.team {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    /* justify-content: space-between; */
}

.col-team-data {
    /* border: 2px solid green; */
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
}

.col-title-team {
    /* border: 0.75px dotted pink; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 550;
    text-align: center;
    color: black;
}

.t-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.t-data,
.t-data1,
.t-data2,
.t-data3,
.t-data4,
.t-data5 {
    /* border: 0.75px dotted orange; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: black;
}

.t-data1,
.t-data2,
.t-data3,
.t-data4,
.t-data5 {
    /*margin-top: -15px;*/
}

.col-team-image {
    /* border: 3px solid purple; */
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-team-image img {
    /* position: relative; */
    /* top: 0.5em; */
    /* left: 1em; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutus-pagecontainer img {
    max-width: 90%;
    display: block;
    height: 12em;
}

@media (max-width: 800px) {
    .team {
        flex-direction: column;
        display: flex;
    }

    .t-title {
        font-size: 0em;
        font-weight: -100;
        color: transparent;
    }

    .col-team-data {
        width: auto;
        max-width: 100%;
    }

    .t-data,
    .t-data1,
    .t-data2,
    .t-data3,
    .t-data4,
    .t-data5 {
        text-align: center;
        margin: 0 auto;
    }

    .team-data {
        margin-top: 20px;
    }

    .col-team-image {
        order: 1;
    }

    .col-team-data {
        order: 2;
    }

    .col-team-image {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .col-team-image img {
        position: relative;
        width: auto;
    }

    .at-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 12px;
        text-decoration: underline;
    }

    .col-title-team {
        visibility: hidden;
    }
}

/* .....................Trust Section.....................*/

.trust {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    /* justify-content: space-between; */
}

.col-alt-title-trust {
    font-size: 0em;
    font-weight: -100;
    color: transparent;
}

.col-trust-image {
    /* border: 3px solid purple; */
    width: 35%;
    display: block;
}

.col-trust-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 10%;
    margin-left: auto;
}

.col-title-trust {
    /* border: 0.75px dotted pink; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}
.tr-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.col-trust-data {
    /* border: 2px solid green; */
    width: 65%;
    margin: 0 auto;
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
}

.tr-data,
.tr-data1,
.tr-data2 {
    /* border: 0.75px dotted orange; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: black;
}

.tr-data1,
.tr-data2 {
    /*margin-top: -15px;*/
}

.ul {
    margin-top: -0.75em;
}

.ul li {
    margin-left: 0.25em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15rem;
}

@media (max-width: 800px) {
    .trust {
        flex-direction: column;
        display: flex;
    }
    .col-alt-title-trust {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        color: black;
        visibility: visible;
        text-align: center;
        width: 100%;
    }

    .atr-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 12px;
        text-decoration: underline;
    }

    .col-trust-data {
        width: auto;
        max-width: 100%;
    }

    .tr-data,
    .tr-data1,
    .tr-data2 {
        text-align: center;
        margin: 0 auto;
    }

    .trust-data {
        margin-top: 20px;
    }

    .ul {
        margin-top: -0.15em;
    }

    .ul li {
        margin-left: 0.25em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.15rem;
        text-align: left;
    }

    .col-trust-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .col-trust-image img {
        position: relative;
        width: auto;
    }
    .tr-title {
        font-size: 0em;
        font-weight: -100;
        color: transparent;
    }
}

/* .....................Value Section.....................*/

.value {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.col-value-data {
    /* border: 2px solid green; */
    width: 70%;
    margin: 0 auto;
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
}

.col-title-value {
    /* border: 0.75px dotted pink; */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.cv-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.cv-data,
.cv-data1,
.cv-data2,
.cv-data3,
.cv-data4,
.cv-data5,
.cv-data6,
.cv-data7,
.cv-data8 {
    /* border: 0.75px dotted orange; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: black;
}

.cv-data1,
.cv-data2,
.cv-data3,
.cv-data4,
.cv-data5,
.cv-data6,
.cv-data7,
.cv-data8 {
    /*margin-top: -15px;*/
}

.col-alt-title-value {
    font-size: 0rem;
    font-weight: -100;
    color: transparent;
}

.col-value-image {
    /* border: 3px solid purple; */
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-value-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.aboutus-pagecontainer img {
    max-width: 90%;
    display: block;
}

@media (max-width: 800px) {
    .value {
        flex-direction: column;
        display: flex;
    }

    .col-alt-title-value {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: black;
        visibility: visible;
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .acv-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 12px;
        text-decoration: underline;
    }

    .col-value-data {
        width: auto;
        max-width: 100%;
    }

    .cv-data,
    .cv-data1,
    .cv-data2,
    .cv-data3,
    .cv-data4,
    .cv-data5,
    .cv-data6,
    .cv-data7,
    .cv-data8 {
        text-align: left;
    }

    .value-data {
        margin-top: 20px;
    }

    .col-value-image {
        order: 1;
    }

    .col-value-data {
        order: 2;
    }

    .col-value-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .col-value-image img {
        position: relative;
        width: 80%;
    }

    .aboutus-pagecontainer img {
        max-width: 100%;
        display: block;
    }

    .cv-title {
        font-size: 0rem;
        font-weight: -100;
        color: transparent;
    }
}
@media (min-width: 800px) {
    .col-alt-title-vision{display: none !important;}
    .col-alt-title-process{display: none !important;}
    .col-alt-title-value{display: none !important;}
    .col-alt-title-trust{display: none !important;}
}