
@font-face {
    font-family: "poppinsregular";
    src: url("../fonts/poppins-regular-webfont.eot");
    src: url("../fonts/poppins-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
        url("../fonts/poppins-regular-webfont.woff") format("woff"),
        url("../fonts/poppins-regular-webfont.ttf") format("truetype"),
        url("../fonts/poppins-regular-webfont.svg#poppinsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsbold";
    src: url("../fonts/poppins-bold-webfont.eot");
    src: url("../fonts/poppins-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
        url("../fonts/poppins-bold-webfont.woff") format("woff"),
        url("../fonts/poppins-bold-webfont.ttf") format("truetype"),
        url("../fonts/poppins-bold-webfont.svg#poppinsbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* For START : Footer-> link pages us page */

.contact-left { display: block; width: 30%; float: left; margin-top: 10%;}
.contact-right { display: block; width: 70%; margin-left: 34%; }

.footer-contact-image-container {
    position: relative;
    margin: 0 auto;
}

.footer-contactus-image {
    position: absolute;
    margin-left: 0px;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.footer-page-contact-title {
    /*position: absolute;*/
    left: 43%;
    top: 0.6em;
}

.footer-contactus-container {
    position: absolute;
    top: 4em;
    left: 30%;
    padding: 1em 2em;
}


@media (max-width: 850px) {
    .footer-page-contact-title {
        left: 38%;
    }
    .footer-contactus-container {
        position: absolute;
        transform: translate(-10%, -1%);
    }
    .footer_main .other-footer-links ul li {width: 50% !important;}
}




@media (max-width: 510px) {
    .contact-left { width: 100%; }
    .contact-left img {width: 60%; margin: 0 0 0 23%; }
    .contact-right { width: 100%; margin-left: 0%; }
}


.footer-page-container {
    /* border: 1px solid #707070; */
    padding: 0.25em 1em;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 3px;
}

.footer-page-title {
    font-family: "Courier New", Courier, monospace;
    color: rgb(95, 79, 79);
    font-size: 24px !important;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1em;
}

.footer-page-midtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px !important;
    color: grey;
    font-weight: bold;
    margin-top: 1.75em;
}

.footer-page-para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px !important;
    color: grey;
}

.footer-FAQpage-li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: grey;
    margin-left: -10px;
    list-style: none;
}

.footer-page-emaillink {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 0.9rem;
    text-decoration: none;
    font-size: 16px !important;
    color: rgb(7, 7, 94);
}
/* For END : Footer-> link pages us page */

/* START : this is the not required nav part */
.footer-ul {
    text-decoration: none;
}
.footer-ul li {
    display: inline;
}


/* END : this is the not required nav part */

/* *************************************************************************** */
/* Enq-page design starts here */

.container-enq-section {
    /* for the page container*/
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
}

.enquirypage-title {
    color: #2a55a2;
    font-family: "Poppins", sans-serif;
    font-size: 1.75rem;
    text-align: center;
}

.enq-page-column {
    /*contains the col for the form and the data */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.enq-form-col {
    /* for the enquiry form section*/
    border-right: 0.75px solid #ddd4d4;
    width: 35%;
}

.enq-cell-col {
    /* for the label & input box*/
    width: auto;
    text-align: center;
    margin-bottom: 10px;
}

.enq-form-label {
    font-size: 1.2em;
    color: grey;
    text-align: justify;
    margin-left: 50px;
    margin-bottom: 1px;
}

/* label {
  display: inline-block;
  width: 140px;
} */

.enq-star {
    color: red;
}

#EnqName,
#EnqOrganization,
#EnqWebsite,
#EnqEmail,
#EnqContact {
    /* input box*/
    font-size: 1em;
    height: 35px;
    width: 80%;
    border: 0.05em solid lightgrey;
    margin-top: -5px;
}

.EnqInput {
    /* input box*/
    font-size: 1em;
    height: 35px;
    width: 80%;
    border: 0.05em solid lightgrey;
    margin-top: -5px;
}

#EnqName:hover:focus,
#EnqOrganization:hover:focus,
#EnqWebsite:hover:focus,
#EnqEmail:hover:focus,
#EnqContact:hover:focus {
    /* input box hover*/
    outline: none;
    box-shadow: 0px 0px 0.05em #61c5fa;
    border: 0.05em solid #5ab0db;
    border-radius: 0;
}

.EnqInput:hover:focus {
    /* input box hover*/
    outline: none;
    box-shadow: 0px 0px 0.05em #61c5fa;
    border: 0.05em solid #5ab0db;
    border-radius: 0;
}

#EnqName::placeholder,
#EnqOrganization::placeholder,
#EnqWebsite::placeholder,
#EnqEmail::placeholder,
#EnqContact::placeholder {
    font-size: 0.9em;
    color: rgb(213, 203, 219);
    padding-left: 5px;
}

.EnqInput::placeholder {
    font-size: 0.9em;
    color: rgb(213, 203, 219);
    padding-left: 5px;
}

.EnqButton {
    display: inline-block;
    background-color: orange;
    border: 0.05px solid orange;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1px;
    font-size: 1em;
    font-weight: 600;
    margin-top: 10px;
}

.EnqButton:hover:focus {
    background-color: rgb(209, 142, 19);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.enq-end-st {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: lighter;
    color: #484848;
}

.enq-column-data {
    width: 65%;
}

.enq-data1 {
    /* data for the 2 lines*/
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    color: #484848;
    margin-top: 2em;
}

.enq-data2 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    color: #484848;
    margin-top: 2em;
    margin-bottom: 2em;
}

.enq-data3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    color: #484848;
    margin-bottom: 2em;
}

.enqpage-letstalk {
    /* background-color: rgb(5, 5, 56); */
    height: auto;
    padding: 0.5em 1em;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+53,1e5799+57,207cca+87,207cca+87,207cca+94,207cca+94,207cca+95,207cca+95,207cca+98,207cca+98,2989d8+100,7db9e8+100,2989d8+101 */
    background: rgb(30, 87, 153); /* Old browsers */
    background: -moz-linear-gradient(
        left,
        rgba(30, 87, 153, 1) 53%,
        rgba(30, 87, 153, 1) 57%,
        rgba(32, 124, 202, 1) 87%,
        rgba(32, 124, 202, 1) 87%,
        rgba(32, 124, 202, 1) 94%,
        rgba(32, 124, 202, 1) 94%,
        rgba(32, 124, 202, 1) 95%,
        rgba(32, 124, 202, 1) 95%,
        rgba(32, 124, 202, 1) 98%,
        rgba(32, 124, 202, 1) 98%,
        rgba(41, 137, 216, 1) 100%,
        rgba(125, 185, 232, 1) 100%,
        rgba(41, 137, 216, 1) 101%
        ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        left,
        rgba(30, 87, 153, 1) 53%,
        rgba(30, 87, 153, 1) 57%,
        rgba(32, 124, 202, 1) 87%,
        rgba(32, 124, 202, 1) 87%,
        rgba(32, 124, 202, 1) 94%,
        rgba(32, 124, 202, 1) 94%,
        rgba(32, 124, 202, 1) 95%,
        rgba(32, 124, 202, 1) 95%,
        rgba(32, 124, 202, 1) 98%,
        rgba(32, 124, 202, 1) 98%,
        rgba(41, 137, 216, 1) 100%,
        rgba(125, 185, 232, 1) 100%,
        rgba(41, 137, 216, 1) 101%
        ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        rgba(30, 87, 153, 1) 53%,
        rgba(30, 87, 153, 1) 57%,
        rgba(32, 124, 202, 1) 87%,
        rgba(32, 124, 202, 1) 87%,
        rgba(32, 124, 202, 1) 94%,
        rgba(32, 124, 202, 1) 94%,
        rgba(32, 124, 202, 1) 95%,
        rgba(32, 124, 202, 1) 95%,
        rgba(32, 124, 202, 1) 98%,
        rgba(32, 124, 202, 1) 98%,
        rgba(41, 137, 216, 1) 100%,
        rgba(125, 185, 232, 1) 100%,
        rgba(41, 137, 216, 1) 101%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */
}

.enquirypage-letstalk {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-stretch: wider;
}

.enquirypage-letstalk-data {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.25em;
    color: white;
}

@media (max-width: 800px) {
    .enq-page-column {
        flex-direction: column;
    }

    .enq-form-col {
        width: 100%;
        border-bottom: 0.75px solid #ddd4d4;
        border-right: none;
    }

    .enq-end-st {
        margin-bottom: 25px;
    }

    .enq-column-data {
        width: 100%;
    }

    .enq-data1 {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    .enq-data2 {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    .enq-data3 {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Enq-page design ends here */
