@font-face {
  font-family: "montserratbold";
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-bold-webfont.woff") format("woff"),
    url("../fonts/montserrat-bold-webfont.ttf") format("truetype"),
    url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff"),
    url("../fonts/montserrat-regular-webfont.ttf") format("truetype"),
    url("../fonts/montserrat-regular-webfont.svg#montserratregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.eot");
  src: url("../fonts/poppins-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff"),
    url("../fonts/poppins-regular-webfont.ttf") format("truetype"),
    url("../fonts/poppins-regular-webfont.svg#poppinsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins-bold-webfont.eot");
  src: url("../fonts/poppins-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff"),
    url("../fonts/poppins-bold-webfont.ttf") format("truetype"),
    url("../fonts/poppins-bold-webfont.svg#poppinsbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  min-height: 100%;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "poppinsregular";
  font-size: 16px;
  color: #171717;
  line-height: 20px;
  background: #fff;
  margin: 0;
  padding: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a img {
  text-decoration: none;
  border: 0;
  outline: none !important;
}
a,
button,
input[type="submit"] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "montserratbold";
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #171717;
}

h3 {
  font-size: 36px !important;
  line-height: 1.2;
  font-weight: 600 !important;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 320px;
  color: #000;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #171717;
}

input,
textarea {
  outline: none !important;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.wrapper_main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

.sec_title {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.sec_title h3 {
  font-size: 30px;
  color: #171717;
  line-height: 33px;
}

.sec_title h3:after {
  display: block;
  width: 175px;
  height: 13px;
  margin: 13px auto 0;
  background: url("../images/title-sep.png") center center no-repeat;
  content: "";
}

/* Global css end */

.cs-header {
    z-index: 99;
    position: relative;
}
.cs-header .navbar-default {
    background-color: #fff;
    border-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
}
.cs-header .navbar-header {
  flex: 1;
  display: flex;
  align-items: center;
}
.cs-header .navbar-header {
  flex: 1;
  display: flex;
  align-items: center;
}
.cs-header .navbar-brand img {
    width: 117px;
    height: 34px;
}
.cs-header .navbar-right {
    margin-right: 15px !important;
}
.cs-primary-btn {
    background-color: #34b5f2;
    color: #fff;
}
.cs-primary-btn {
    background-color: #34b5f2;
    color: #fff;
    height: 36px;
    padding: 6px 12px;
    font-size: 16px;
}


.header_main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header_main .inner_header {
  display: flex;
  -ms-display: flex;
  align-items: center;
  -ms-align-items: center;
  padding: 12px 30px;
  background-color: #fff;
  border-bottom-left-radius: 7px;
  -ms-border-bottom-left-radius: 7px;
}

.header_main .logo {
  margin-right: auto;
  margin-top: -7px;
  width: 150px;
}

.header_main .login {
  display: inline-block;
  padding: 13px 24px 8px;
  font-family: "poppinsbold";
  font-size: 18px;
  color: #fff;
  background-color: #34b5f2;
  border-radius: 3px;
  -ms-border-radius: 3px;
}

.header_main .login:hover {
  background-color: #c71c14;
}

.banner_main {
  position: relative;
  width: 100%;
  height: 580px;
  padding-top: 86px;
  background-color: #30365a;
  margin-top: -62px;
}

.banner_main .container {
  position: relative;
  height: 100%;
}

.banner_main .cruise_block {
  position: absolute;
  bottom: 48px;
  left: 50%;
  width: 930px;
  margin-left: -465px;
  /* border: 2px solid green; */
  display: flex;
}

.banner_main .cruise_block > img {
  max-width: 100%;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}

.banner_main .cruise_block .profile-box {
  position: absolute;
  top: 0;
  left: -96px;
  width: 500px;
  height: 100%;
  /* padding-bottom: 2px; */
  /* border: 1px solid red; */
}

.banner_main .cruise_block .profile-box1 {
  position: absolute;
  top: 0;
  right: 150px;
  width: 500px;
  height: 100%;
  /* border: 1px solid palevioletred; */
}

.banner_main .cruise_block .profile-box div[class*="block-"] {
  position: relative;
  display: inline-block;
  width: 100%;
}

.banner_main .cruise_block .profile-box1 div[class*="block-"] {
  position: relative;
  display: inline-block;
  width: 100%;
}

.banner_main .cruise_block .profile-box .block-1 {
  text-align: right;
}

.banner_main .cruise_block .profile-box .block-2 {
  margin-top: 48px;
  text-align: center;
  /* border: 1px solid orange; */
}

.banner_main .cruise_block .profile-box .block-3 {
  margin-top: 74px;
}

.banner_main .cruise_block .profile-box1 .block-4 {
  margin-top: 170px;
  text-align: right;
  /* border: 2px solid purple; */
}

.banner_main .cruise_block .profile-box .avtaar {
  position: relative;
  display: inline-block;
  width: 66px;
  border: solid 1px #116390;
  border-radius: 100%;
  -ms-border-radius: 100%;
  border: 2px solid goldenrod;
}

.banner_main .cruise_block .profile-box1 .avtaar {
  position: relative;
  display: inline-block;
  width: 66px;
  border: solid 1px #116390;
  border-radius: 100%;
  -ms-border-radius: 100%;
  border: 2px solid goldenrod;
}

.banner_main .cruise_block .profile-box .avtaar a {
  display: block;
}

.banner_main .cruise_block .profile-box1 .avtaar a {
  display: block;
}

.banner_main .cruise_block .profile-box .avtaar img {
  width: 100%;
  border-radius: 100%;
  -ms-border-radius: 100%;
}

.banner_main .cruise_block .profile-box1 .avtaar img {
  width: 100%;
  border-radius: 100%;
  -ms-border-radius: 100%;
}

.profile-box1 .banner_main .cruise_block .avtaar img {
  width: 100%;
  border-radius: 100%;
  -ms-border-radius: 100%;
  border: 5px solid goldenrod;
  /* border: 5px solid grey; */
}

.banner_main .cruise_block .profile-box .avtaar:after {
  position: absolute;
  height: 1px;
  background-color: #fff;
  content: "";
  pointer-events: none;
}

.banner_main .cruise_block .profile-box1 .avtaar:after {
  position: absolute;
  height: 1px;
  background-color: #fff;
  content: "";
  pointer-events: none;
}

.banner_main .cruise_block .profile-box .block-1 .avtaar:after {
  bottom: -25px;
  right: -52px;
  width: 70px;
  transform: rotate(45deg);
}

.banner_main .cruise_block .profile-box .block-2 .avtaar:after {
  bottom: -100px;
  right: -245px;
  width: 290px;
  transform: rotate(45deg);
}

.banner_main .cruise_block .profile-box .block-3 .avtaar:after {
  top: 35px;
  right: -190px;
  width: 180px;
}

.banner_main .cruise_block .profile-box1 .block-4 .avtaar:after {
  top: 35px;
  right: 70px;
  width: 130px;
}

.banner_main .log_reg_block {
  position: relative;
  z-index: 10;
  margin-top: -36px;
  width: 452px;
  float: right;
  /* padding: 15px 48px 20px 30px; */
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border-radius: 7%;
}

.log_reg_block .nav-tabs {
  display: inline-block;
  width: 100%;
  border: none;
  margin-top: 10px;
}

.log_reg_block .nav-tabs li {
  display: block;
  float: left;
  padding-left: 12px;
}

.log_reg_block .nav-tabs li:first-child {
  border-right: solid 2px #000;
  padding-right: 12px;
  padding-left: 0;
}

.log_reg_block .nav-tabs li a {
  position: relative;
  padding: 0;
  font-family: "montserratbold";
  font-size: 16px;
  color: #000;
  border: none;
  border-radius: 0;
  -ms-border-radius: 0;
}

.log_reg_block .nav-tabs li.active a {
  color: #34b5f2;
}

.log_reg_block .nav-tabs li a:after {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.log_reg_block .nav-tabs li.active a:after {
  background-color: #34b5f2;
}

.log_reg_block .tab-content {
  height: 212px;
  padding-top: 22px;
  padding-bottom: 30px;
  overflow-y: auto;
}

.form-block {
  position: relative;
  width: 100%;
}

.form-block .form-control {
  height: auto;
  margin-bottom: 9px;
  padding: 5px 20px 2px;
  font-size: 14px;
  color: #a2a2a2;
  border-color: #a2a2a2;
  outline: none;
  border-radius: 3px;
  -ms-border-radius: 3px;
  box-shadow: none;
  -ms-box-shadow: none;
}

.form-block .box {
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
  padding-top: 15px;
}

.form-block .box label {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  font-family: "montserratbold";
  font-size: 14px;
  color: #000;
  font-weight: normal;
}

.form-block .box label input {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.form-block .box a {
  display: inline-block;
  font-family: "montserratbold";
  font-size: 14px;
  color: #34b5f2;
}

.form-block .box .link {
  display: block;
  float: right;
}

.form-block .submit {
  width: 100%;
  padding: 8px 20px 8px;
  font-family: "montserratregular";
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #c71c14;
  border: none;
  outline: none;
  border-radius: 4px;
  -ms-border-radius: 4px;
}

.form-block .submit:hover {
  background-color: #34b5f2;
}

.care-onboard {
  position: relative;
  text-align: center;
  border-top: solid 1px #a2a2a2;
  overflow: hidden;
}

.care-onboard h6 {
  margin-top: 20px;
  font-family: "montserratbold";
  font-size: 16px;
  color: #000;
}

.care-onboard .img-wrapper {
  overflow: hidden;
}

.care-onboard .button {
  display: block;
  max-width: 300px;
  padding: 8px 20px;
  margin: 0 auto;
  font-family: "montserratbold";
  font-size: 14px;
  color: #fff;
  background-color: #052162;
  border-radius: 4px;
  -ms-border-radius: 4px;
}

.care-onboard .button:hover {
  background-color: #34b5f2;
}

.sec_profile {
  position: relative;
  width: 100%;
  padding-top: 40px;
}

.sec_profile .sec_title {
  margin-bottom: 13px;
}

.sec_profile .content-block {
  display: inline-block;
  width: 100%;
}

.sec_profile .content-block .text_block {
  position: relative;
  float: left;
  width: 440px;
}

.sec_profile .content-block ul {
  display: block;
}

.sec_profile .content-block ul li {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 22px;
}

.sec_profile .content-block ul li:after {
  margin-bottom: 0;
}

.sec_profile .content-block ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
  content: "";
}

.sec_profile .content-block ul li:hover:before,
.sec_profile .content-block ul li.active:before {
  background-color: #c71c14;
}

.sec_profile .content-block h5 {
  margin-bottom: 6px;
  font-size: 22px;
  color: #bdbdbd;
  line-height: 33px;
}

.sec_profile .content-block ul li:hover h5,
.sec_profile .content-block ul li.active h5 {
  color: #00acff;
}

.sec_profile .content-block p {
  font-size: 18px;
  color: #bdbdbd;
  line-height: 24px;
}

.sec_profile .content-block ul li:hover p,
.sec_profile .content-block ul li.active p {
  color: #171717;
}

.sec_profile .content-block .img_block {
  position: relative;
  float: right;
}

.sec_profile .content-block .img_block img {
  display: none;
}

.sec_profile .content-block .img_block img.active {
  display: block;
}

.sec_intrests {
  position: relative;
  width: 100%;
  padding-top: 60px;
  text-align: center;
}

.sec_intrests .sec_title {
  margin-bottom: 20px;
}

.sec_intrests .row div[class*="col-"] {
  margin-bottom: 30px;
}

.sec_intrests .img-block {
  position: relative;
  width: 306px;
  height: 230px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: solid 2px #003152;
  overflow: hidden;
  border-radius: 12px;
  -ms-border-radius: 12px;
}

.sec_intrests .text-block {
  padding-top: 13px;
  overflow: hidden;
}

.sec_intrests .text-block h4 {
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 33px;
}

.sec_network {
  position: relative;
  width: 100%;
  text-align: center;
}

.sec_network .sec_title {
  margin-bottom: 20px;
}

.network_block {
  position: relative;
  width: 100%;
  padding: 27px 0 30px;
  background-color: #003152;
  border-radius: 13px;
  -ms-border-radius: 13px;
}

.network_block h3 {
  margin-bottom: 20px;
  color: #fff;
}

.network_block .icon {
  display: block;
  min-height: 65px;
}

.network_block p {
  margin-top: 18px;
  font-family: "montserratregular";
  font-size: 18px;
  color: #fff;
}

.network_block p span {
  display: block;
}

.sec_enquiry {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.sec_enquiry .sec_title {
  margin-bottom: 20px;
}

.sec_enquiry .row {
  justify-content: center;
  -ms-flex-align: center;
}

.sec_enquiry .card-box {
  position: relative;
  display: inline-block;
  padding-right: 45px;
  padding-left: 45px;
}

.sec_enquiry .card-box .circle {
  position: relative;
  width: 244px;
  margin-bottom: 17px;
  border: solid 3px #a2a2a2;
  border-radius: 100%;
  -ms-border-radius: 100%;
}

.sec_enquiry .card-box .circle img {
  width: 100%;
  border-radius: 100%;
  -ms-border-radius: 100%;
}

.sec_enquiry .card-box h6 {
  margin-bottom: 8px;
  font-family: "montserratbold";
  font-size: 18px;
  color: #000;
}

.sec_enquiry .button {
  display: block;
  width: 118px;
  margin: 0 auto;
  padding: 6px 0 8px;
  font-family: "montserratbold";
  font-size: 14px;
  color: #fff;
  background-color: #c71c14;
  border-radius: 15px;
  -ms-border-radius: 15px;
}

.sec_enquiry .button:hover {
  background-color: #34b5f2;
}

.footer_main {
  position: relative;
  width: 100%;
  background: url("../images/map-img.png") center top no-repeat #0179c5;
}

.footer_main .text-block {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

.footer_main .text-block h3 {
  margin-bottom: 6px;
  font-family: "poppinsbold";
  font-size: 32px;
  color: #fff;
  line-height: 34px;
}

.footer_main .text-block p {
  margin-bottom: 25px;
  font-size: 22px;
  color: #fff;
  line-height: 26px;
}

.footer_main .button {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 15px 0 15px;
  text-align: center;
  font-family: "montserratbold";
  font-size: 18px;
  color: #fff;
  background-color: rgb(7, 72, 7);
  border-radius: 15px;
  -ms-border-radius: 15px;
}

.footer_main .button:hover {
  background-color: #34b5f2;
}

.footer_main .links {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer_main .links a {
  display: inline-block;
  font-family: "poppinsbold";
  font-size: 14px;
  color: #fff;
}

.footer_main .links a:hover {
  text-decoration: underline;
}

.footer_main .links ul {
  display: block;
}

.footer_main .links ul li {
  display: block;
  float: left;
  width: 33.333333%;
  margin-bottom: 8px;
}

.footer_main .pull-right {
  max-width: 430px;
}

.footer_main .links p {
  display: inline-block;
}

.footer_main .links p:first-child {
  margin-right: 30px;
}

.footer_main .links p i {
  display: inline-block;
  vertical-align: top;
}

.footer_main .links p span {
  display: inline-block;
  margin-left: 8px;
}

.footer_main .links p span a {
  display: block;
}

.footer_main .links p span a:first-child {
  margin-bottom: 8px;
}

.footer_main .copyright {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #fff;
  text-align: center;
}

.footer_main .copyright a {
  color: #000;
}

.footer_main .copyright a:hover {
  color: #00acff;
}

.inner_page {
  position: relative;
  width: 100%;
  padding-top: 65px;
}

.about_main {
  position: relative;
  width: 100%;
  padding-top: 45px;
}

.about_main .hedading {
  display: inline-block;
  width: 100%;
  margin-bottom: 90px;
  text-align: center;
}

.about_main h3 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #041c4d;
  line-height: 30px;
}

.about_main h3.center {
  text-align: center;
}

.about_main h6 {
  font-size: 18px;
  color: #041c4d;
  line-height: 30px;
}

.about_main .row {
  margin-bottom: 50px;
}

.about_main .img-box {
  width: 100%;
}

.about_main .img-box.right {
  text-align: right;
}

.about_main .img-box.left {
  text-align: left;
}

.about_main .text_box {
}

.about_main .text_box h6 {
  margin-bottom: 8px;
}

.about_main .text_box h6 + p {
  margin-bottom: 35px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .sec_profile .content-block .text_block {
    width: 420px;
  }
  .sec_profile .content-block .img_block {
    max-width: 480px;
  }
  .banner_main .cruise_block .profile-box {
    left: -10px;
    width: 400px;
  }
  /* .banner_main .cruise_block .profile-box1 {
    left: 200px;
    width: 700px;
  } */
  .banner_main .cruise_block .profile-box .block-1 .avtaar:after {
    right: -62px;
    width: 80px;
  }
  .banner_main .cruise_block .profile-box .block-3 .avtaar:after {
    right: -110px;
    width: 100px;
  }

  .sec_intrests .img-block {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .sec_profile .content-block .text_block {
    width: 100%;
  }
  .sec_profile .content-block ul li {
    display: block;
    float: left;
    width: 50%;
    padding-right: 20px;
  }
  .sec_profile .content-block .img_block {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .sec_profile .content-block .img_block img.active {
    display: inline-block;
  }
  .network_block {
    padding: 27px 15px 0;
  }
  .network_block .row div[class*="col"] {
    margin-bottom: 30px;
  }
  .footer_main .links {
    margin-top: 0;
  }
  .footer_main .links .pull-left,
  .footer_main .links .pull-right {
    width: 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  .footer_main .links ul li {
    width: 50%;
  }
  .footer_main .links p:first-child {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .banner_main {
    height: auto;
    padding-top: 80px;
  }
  .banner_main .log_reg_block {
    z-index: 20;
    width: 100%;
    float: none;
    display: inline-block;
  }
  .banner_main .cruise_block {
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    margin-top: 30px;
  }
  .banner_main .cruise_block .profile-box {
    width: 330px;
  }
  .banner_main .cruise_block .profile-box1 {
    width: 330px;
    right: 70px;
  }
  .banner_main .cruise_block .profile-box .block-1 .avtaar:after {
    right: -20px;
    bottom: -10px;
    width: 35px;
  }
  .banner_main .cruise_block .profile-box .block-2 {
    margin-top: 20px;
  }
  .banner_main .cruise_block .profile-box .block-2 .avtaar:after {
    bottom: -75px;
    right: -130px;
    width: 180px;
    transform: rotate(55deg);
  }
  .banner_main .cruise_block .profile-box .block-3 {
    margin-top: 25px;
  }
  .banner_main .cruise_block .profile-box .block-3 .avtaar:after {
    right: -65px;
    width: 56px;
  }
  .banner_main .cruise_block .profile-box1 .block-4 {
    margin-top: 110px;
  }
  .banner_main .cruise_block .profile-box1 .block-4 .avtaar:after {
    right: 70px;
    width: 115px;
  }

  .footer_main .col-sm-12 {
    -ms-flex-order: 3;
    order: 3;
  }
  .footer_main .col-sm-12 + .col-sm-6 {
    -ms-flex-order: 2;
    order: 2;
  }
  .banner_main {margin-top: -80px; }
}

@media (max-width: 767.98px) {
  .sec_title h3 {
    font-size: 28px;
    line-height: 30px;
  }
  .sec_enquiry .card-box {
    padding: 0 10px;
  }
  .banner_main {
    padding-bottom: 20px;
  }
  .banner_main .cruise_block {
    width: 500px;
    margin: 30px auto 0;
  }
  .banner_main .cruise_block .profile-box {
    width: 240px;
  }
  .banner_main .cruise_block .profile-box1 {
    width: 240px;
    right: 65px;
  }
  .banner_main .cruise_block .profile-box .avtaar {
    width: 60px;
  }
  .banner_main .cruise_block .profile-box1 .avtaar {
    width: 60px;
  }

  .banner_main .cruise_block .profile-box .block-2 {
    margin-top: 0;
  }
  .banner_main .cruise_block .profile-box .block-2 .avtaar:after {
    bottom: -48px;
    right: -95px;
    width: 120px;
    transform: rotate(50deg);
  }
  .banner_main .cruise_block .profile-box .block-3 {
    margin-top: 0;
  }
  .banner_main .cruise_block .profile-box .block-3 .avtaar:after {
    right: -45px;
    width: 40px;
  }
  .banner_main .cruise_block .profile-box1 .block-4 {
    margin-top: 75px;
  }
  .banner_main .cruise_block .profile-box1 .block-4 .avtaar:after {
    bottom: 148px;
    right: 60px;
    width: 60px;
  }
  .sec_profile .content-block ul li {
    display: inline-block;
    float: none;
    width: 48%;
    vertical-align: top;
  }
  .about_main .img-box.right,
  .about_main .img-box {
    text-align: center;
  }
  .about_main .row {
    margin-bottom: 20px;
  }
  .about_main .row div[class*="col"] {
    margin-bottom: 20px;
  }
  .footer_main .links .pull-left,
  .footer_main .links .pull-right {
    padding: 0;
  }
  .footer_main .text-block h3 {
    font-size: 28px;
    line-height: 30px;
  }
  .footer_main .copyright {
    width: 100%;
    max-width: 540px;
    padding: 13px 10px;
  }
}

@media (max-width: 575.98px) {
  .sec_enquiry {
    margin-bottom: 20px;
  }
  .sec_enquiry .card-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .sec_enquiry .card-box .circle {
    margin-right: auto;
    margin-left: auto;
  }
  .banner_main .cruise_block {
    width: 450px;
  }
  .banner_main .cruise_block .profile-box {
    right: 0;
    width: 210px;
  }
  .banner_main .cruise_block .profile-box .block-2 .avtaar:after {
    bottom: -36px;
    right: -86px;
    width: 108px;
  }
  .banner_main .cruise_block .profile-box .block-3 .avtaar:after {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    right: -39px;
  }

  .sec_profile .content-block ul li {
    width: 100%;
    padding-right: 0;
  }
  .footer_main .col-sm-12 {
    -ms-flex-order: 2;
    order: 2;
  }
  .footer_main .col-sm-12 + .col-sm-6 {
    -ms-flex-order: 3;
    order: 3;
  }
  .footer_main .img-fluid {
    text-align: center;
  }
  .footer_main .img-fluid img {
    display: inline-block;
  }
  .footer_main .links {
    margin-top: 40px;
  }
  .footer_main .links .pull-left,
  .footer_main .links .pull-right {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
  }
  .footer_main .links .pull-left {
    margin-bottom: 15px;
  }
  .footer_main .links p:first-child {
    margin-right: 20px;
  }
}

@media (max-width: 479px) {
  .header_main .inner_header {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header_main .logo {
    max-width: 180px;
  }
  .banner_main .cruise_block {
    width: 340px;
  }
  .banner_main .cruise_block .profile-box {
    width: 160px;
  }
  .banner_main .cruise_block .profile-box1 {
    width: 160px;
    right: 55px;
  }
  .banner_main .cruise_block .profile-box .avtaar {
    width: 45px;
  }
  .banner_main .cruise_block .profile-box1 .avtaar {
    width: 45px;
  }
  .banner_main .cruise_block .profile-box1 .block-4 {
    margin-top: 35px;
  }
  .banner_main .cruise_block .profile-box .block-3 .avtaar:after {
    top: 28px;
    right: -28px;
    width: 32px;
  }
  .banner_main .cruise_block .profile-box1 .block-4 .avtaar:after {
    top: 28px;
    right: 40px;
    width: 32px;
  }
  .banner_main .cruise_block .profile-box .block-2 .avtaar:after {
    bottom: -30px;
    right: -70px;
    width: 80px;
    transform: rotate(40deg);
  }
}
