body {
	font-family: 'Poppins', sans-serif !important;
}

.centre {
	transform: translate(-50%, -50%);
	left: 50%;
	position: absolute;
	top: 50%;
	width: 100%;
}

.p_10 {
	padding: 20px 10px 15px 10px;
	border-radius: 10px;
}

.pos-relative {
	position: relative;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-top: 20px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pt-10 {
	padding-top: 10px;
}

.font-trebuchet {
	font-family: 'Trebuchet MS';
}

.hr {
	border: dotted 1px;
	border-color: #938b8b;
	margin-top: 5px;
}

.d-ib {
	display: inline-block;
}

.border-grey {
	border: 1px solid grey;
}

.bg-white {
	color: rgb(51, 51, 51);
}

.bg-white {
	background-color: #fff;
}

a.bg-white:hover,
a.bg-white:focus {
	background-color: #f3f3f3;
}

.font-15 {
	font-size: 15px;
}

.nav > li > a {
	padding: 10px 11px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0, 0, 0, .7);
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 0%;
	max-width: 0%;
	border: 3px solid white;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
	box-sizing: border-box;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
	display: block;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	background: white;
	color: black;
	text-decoration: none;
	position: absolute;
	top: -80px;
	right: 0;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: black;
	position: absolute;
	left: 26px;
	top: 10px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: black;
	position: absolute;
	left: 26px;
	top: 10px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
}

.lightbox-target:target img {
	max-height: 100%;
	max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
	top: 0px;
}

.blockOverlay {

	z-index: 99999 !important;
}

.form-container {
	background: #F0F0F0;
	border: #e0dfdf 1px solid;
	padding: 20px;
	border-radius: 2px;
	width: 550px;
	height: 450px;
}

.avatar-upload {
	position: relative;
	margin: 5px auto;
}

.avatar-upload .avatar-edit {
	position: absolute;
	right: 12px;
	z-index: 1;
	top: 10px;
}

.avatar-upload .avatar-delete {
	position: absolute;
	left: 12px;
	z-index: 1;
	top: 75%;
}

.avatar-upload .avatar-view {
	position: absolute;
	right: 4%;
	z-index: 1;
	top: 71%;
}

.avatar-upload .avatar-preview {
	/* border: 6px solid #F8F8F8;
	 box-shadow: 0px 2px 4px 0px rgb(42, 85, 162);*/
}

.user-registration .user-details-container .form-group {
	padding-top: 0px;
}

.avatar-upload .avatar-edit input {
	display: none;
}

.avatar-upload .avatar-edit label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #FFFFFF;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-delete label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #FFFFFF;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-view label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #FFFFFF;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit label:after {
	content: "\f040";
	font-family: 'FontAwesome';
	color: #757575;
	position: absolute;
	top: 6px;

	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
}

.avatar-upload .avatar-delete label:after {
	content: "\f014";
	font-family: 'FontAwesome';
	color: #757575;
	position: absolute;
	top: 6px;
	color: red;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
}

.avatar-upload .avatar-view label:after {
	content: "\f00e";
	font-family: 'FontAwesome';
	color: #757575;
	position: absolute;
	top: 2px;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
	font-size: 12px;
}

.avatar-upload .avatar-preview > div {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.custom_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.custom_col {
	flex: 0 1 150px;
	padding: 0 7px;
}

.m_h-100v {
	min-height: 85vh;
}

.panel-bricky, .partition-bricky {
	background-color: #894550;
	position: relative;
	background-color: #9a4e5a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9a4e5a), to(#894550));
	background-image: -webkit-linear-gradient(top, #9a4e5a 0px, #894550 100%);
	background-image: -moz-linear-gradient(top, #9a4e5a 0px, #894550 100%);
	background-image: -ms-linear-gradient(top, #9a4e5a 0px, #894550 100%);
	background-image: -o-linear-gradient(top, #9a4e5a 0px, #894550 100%);
	background-image: linear-gradient(top, #9a4e5a 0px, #894550 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9a4e5a 0px', endColorStr='#894550 100%');
	color: white;
}

.panel-bricky .panel-tools .btn, .panel-bricky .panel-tools > a, .partition-bricky .panel-tools .btn, .partition-bricky .panel-tools > a {
	color: rgba(255, 255, 255, 0.7) !important;
}

.panel-bricky .panel-tools .btn:hover, .panel-bricky .panel-tools > a:hover, .partition-bricky .panel-tools .btn:hover, .partition-bricky .panel-tools > a:hover {
	color: white !important;
}

.btn-azure {
	background-color: #00bdcc;
	border-color: #00a5b3;
	color: white;
}

.btn-azure:hover, .btn-azure:focus, .btn-azure:active, .btn-azure.active {
	background-color: #00a5b3;
	border-color: #008e99;
	color: white;
}

.btn-azure.disabled:hover, .btn-azure.disabled:focus, .btn-azure.disabled:active, .btn-azure.disabled.active, .btn-azure[disabled]:hover, .btn-azure[disabled]:focus, .btn-azure[disabled]:active, .btn-azure[disabled].active, fieldset[disabled] .btn-azure:hover, fieldset[disabled] .btn-azure:focus, fieldset[disabled] .btn-azure:active, fieldset[disabled] .btn-azure.active {
	background-color: #e5fdff;
	border-color: #ccfbff;
	color: white;
}

.btn-azure .caret {
	border-top-color: white;
}

.dropup .btn-azure .caret {
	border-bottom: 4px solid white;
}
.px-4{
	padding: 0 4px;
}
.py-4{
	padding: 4px 0;
}
.pl-25{
	padding-left: 25px;
}
.p-12{
	padding: 12px;
}
.pt-30{
	padding-top: 30px;
}
.my-8{
	margin: 8px 0;
}
.pt-7 {
	padding-top: 7px;
}
.font-12{
	font-size: 12px;
}
._flex{
	display: flex;
	align-items: center;
}
.wordwrap{
	word-wrap: break-word;
}
.flex{
	display: flex;
}
.flex_ch {
	flex: 1 1 auto;
}
._vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
@media (max-width: 991px) {
	.pt-m-8{
		padding-top: 8px;
	}
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/public/assets/images/Preloader_11.gif') center no-repeat #fff;
}
@media (max-width: 768px){
    .dropdown-menu.dropdown-menu-right {
        left: -70px !important;
    }
}
@media (max-width: 480px){
    .reg-country-code {
        width: 15% !important;
        display: inline !important;
    }
    .reg-mobile-no {
        width: 83% !important;
        display: inline !important;
    }
    
    .landline-number{
    	width: 89% !important;
    	display: inline !important;"
    }
    
    .kin-number{
    	width: 100% !important;
    	display: inline !important;"
    }
}

@media (min-width: 480px){
    .reg-country-code {
        width: 10% !important;
        display: inline !important;
    }
    .reg-mobile-no {
        width: 89% !important;
        display: inline !important;
    }
    .landline-country-code{
    	 width: 8% !important;display: inline !important;       
    }
     .kin-number{
    	width: 100% !important;
    	display: inline !important;"
    }
     .kin-country-code{ width: 8% !important;
        display: inline !important;
    }
   
}