* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  /* background-color: #000; */
  background-color: white;
}

.slider-image-title {
  color: #fff;
  font-weight: 500;
}

.slider-image-text {
  color: #fff;
}

.slideshow {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  /* border: 1px solid red; */
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 41s infinite;
}

.slideshow-item img {
  width: 50%;
  height: 80%;
  float: right;
  margin-top: 20px;
  margin-right: 60px;
  /* object-fit: cover; */
  animation: zoom 41s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
  animation-delay: 30s;
}

.slideshow-item-text {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5rem 5rem;
}

.slideshow-item-text h5 {
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text-transform: uppercase; */
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
}

.slideshow-item-text p {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-weight: 300;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1.3);
  }
}

@media (max-width: 1000px) {
  .slideshow-item-text {
    width: 55%;
    padding: 5rem 1rem;
  }
  .slideshow-item-text h5 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .slideshow-item-text {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    top: initial;
    bottom: 0;
    transform: initial;
  }
  .slideshow-item-text h5 {
    font-size: 2rem;
    height: 8rem;
  }
  .slideshow-item-text p {
    font-size: 1.4rem;
  }
  .slider-image-title {
    color: #fff;
    font-weight: 400;
    text-align: center;
  }

  .slideshow-item img {
    width: 70%;
    height: 70%;
    float: unset;
    /* margin-top: 2px; */
    margin-left: 100px;
  }
}
