
.city-heading{
	padding: 5px;
	background-color: #ddd;
}

.state-location-container, .city-location-container{
	background-color: #fff;
    padding: 5px 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    height: 500px;
    overflow: auto;
    border: 1px solid #ddd;
}
.form-error{
	color:red;
}