

$font-family-base : 'PT Sans', sans-serif;
$font-size-base   : 16px;
$text-color       : rgba(0,0,0,1);

$coss-primary-color   : #c71c14;
$coss-secondary-color : #47c4f0;

$btn-default-color  : #FFFFFF;
$btn-default-bg     : $coss-primary-color;
$btn-default-border : $coss-primary-color;

$coss-font-xxl     : 35px;
$coss-font-xl      : 25px;
$coss-font-lg      : 20px;
$coss-font-md      : 18px;
$coss-font-sm      : 17px;
$coss-font-default : 16px;
$coss-font-xs      : 15px;
$coss-font-xxs     : 14px;
$coss-font-tiny    : 11px;

$coss-darkBlack  : rgba(0,0,0,1);
$coss-mildBlack  : rgba(0,0,0,0.87);
$coss-lightBlack : rgba(0,0,0,0.70);

$grid-float-breakpoint : 768px !default;



@import "resources/assets/sass/custom_font.scss";

@import "resources/assets/sass/site/vendors/bootstrap.scss";
@import "resources/assets/sass/site/vendors/font-awesome.min.scss";


@import 'resources/assets/sass/global';
@import 'resources/assets/sass/site/site_global';

@import 'resources/assets/sass/site/pages/home';
@import 'resources/assets/sass/site/pages/service';

