

html, body {
  overflow: visible;
  position: relative;
}

$container-xlg : 1200px;
.container{
  @media (min-width: $screen-lg-min){
    width: $container-xlg;
  }
}

.coss-primary-btn{
	@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  @extend .z-depth-1;

	line-height: normal;
  padding: 10px 20px;
  font-size: $coss-font-sm;
  transition: all 0.35s ease-in-out;
}

$btn-inverse-bgColor : transparent;
.coss-inverse-btn{
  @include button-variant($coss-primary-color, $btn-inverse-bgColor, $coss-primary-color);

  line-height: normal;
  padding: 10px 20px;
  font-size: $coss-font-sm;
  transition: all 0.35s ease-in-out;

  &:hover{
    background-color : $coss-primary-color;
    color : #FFFFFF;
  }
}

.section{
	padding-top: 40px;
	padding-bottom: 40px;	
	
  &_heading{
    font-size: $coss-font-xl;
    color: $coss-darkBlack;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;

    &.is_centerAligned{ text-align: center; }
  }

  &_subHeading{
    font-size: $coss-font-xxs;
    color: $coss-mildBlack;

    &.is_centerAligned{ text-align: center; }
  }
}

.is_bold{ font-weight: 700; }
.is_normal{ font-weight : 400; }

.is_whiteText{ color: #FFFFFF; }
.is_redText{ color : $coss-primary-color; }

.is_flex{ 
  display : flex ; 

  &_wrap{
    flex-wrap : wrap;
  }
}

/*
|--------------------------------------------------
|     CUSTOM WIDTH
|-------------------------------------------------- 
*/

.width_100{ width : 100%; }

/*
|--------------------------------------------------
|     MARGIN & PADDING
|-------------------------------------------------- 
*/

.m_t_25 { margin-top : 25px; }

.m_lr_0 {
  margin-left: 0;
  margin-right: 0;
}


.p_lr_0 {
  padding-left : 0;
  padding-right : 0;
}


/*
|--------------------------------------------------
|     BOX SHADOW || Z Depth Levels
|-------------------------------------------------- 
*/

.z-depth-0 {
  box-shadow : none !important;
}

.z-depth-1 {
  box-shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half {
  box-shadow : 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  box-shadow : 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow : 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow : 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow : 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable {
  transition : box-shadow .25s;
  box-shadow : 0;
}

.hoverable:hover {
  transition : box-shadow .25s;
  box-shadow : 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.full_overlay{
  position   : absolute;
  width      : 100%;
  height     : 100%;
  top        : 0;
  left       : 0;
  bottom     : 0;
  z-index    : 0;
  background : rgba(255, 255, 255, 0.8);
}

.lg_curved_overlay{
  position   : absolute;
  width      : 100%;
  height     : 100%;
  top        : 0;
  z-index    : 0;
  background : rgba(255, 255, 255, 0.8);

  @media (min-width : $screen-sm-min){
    width      : 50%;
    background : radial-gradient(14% 60% at calc(100% + 50px) 50%, transparent 98px, rgba(255, 255, 255, 0.8) 100px, rgba(255, 255, 255, 0.8) 30px, rgba(255, 255, 255, 0.8) 21px);
  }
}
.pointer{
  cursor:pointer;
}