

.institutesCourses{
    background-color: #FFF;

    &_banner{
        padding: 60px 0;
        width: 100%;
        //background-image: url('/images/institutes_courses/banner-img.jpg');
        background-position: center 25%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.35);
            top: 0;
            left: 0;
        }

		.search-option-container{
			text-align: center;
			padding-top: 60px;
			.search-card{
                background-color: rgba(95, 111, 125, 0.65);
				border-radius: 4px;
				color: #fff;
				width: 105px;
				display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
				border:1px solid transparent;
				cursor: pointer;
				position: relative;
				.arrow-up {
					position: absolute;
				    bottom: -32px;
    				left: 35%;
					width: 0; 
					height: 0; 
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
				  	border-bottom: 15px solid #fff;
				  	display: none;
				}
				.title{
					font-size: $coss-font-xxs;
					text-align: center;
					padding-top: 8px;
    				padding-bottom: 5px;
				}
			}
			.home-search-active{
				background-color:#018bcc;
				border-color:#fff;
				.arrow-up{
					display: block;
				}
			}
		}
		.banner-search-container{
		    margin: 30px auto 0px;
			max-width: 930px;
			.search-container-row{
				@media (max-width: $screen-xs-max) {
					padding:0px 15px;
					.search-btn {
						padding: 0px;
					}
				}
			}
			.per-search{
			    padding: 4px 10px;
				border-right: 1px solid #ddd;
				@media (max-width: $screen-xs-max) {
					border-right:none;
					border-bottom: 1px solid #ddd;
				}
				.control-label{
					margin-top: 8px;
					font-size: $coss-font-xxs;
				}
				.form-control{
					border: none;
					box-shadow: none;
					font-size: $coss-font-xxs;
				}
			}
			.fa-search{
				margin-right: 5px;
			}
			.section_cta{
				@media (max-width: $screen-xs-max) {
			    	margin-top: 10px;
    				text-align: right;	
    				button {
    					width: 100%;
    				}
				}
			}
		}

		.banner_cta{ margin-top : 0px !important; }
    }

    .courses_section{
        padding: 30px 0 50px;
        position: relative;
        min-height: 40vh;
        
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 250px;
            bottom: 0;
            left: 0;
            background-image: url('/images/institutes_courses/bg-pattern.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .flexRow{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }

        .flexCol{
            @media (min-width: $screen-sm-max){
                width: 20%;
                padding: 0 15px;
            }
        }

        .course_card{
            cursor: pointer;
            background-color: #ed5959;
            border: 1px solid #ed5959;
            margin-top: 20px;
            border-radius: 4px;
            overflow: hidden;
            min-height: calc(100% - 20px);
            display: flex;
            flex-direction: column;
            max-width: 320px;
            margin: 20px auto 0;
            transition: box-shadow 0.25s linear;

            &:hover{
                box-shadow: 0px 2px 8px rgba(1, 1, 1, 0.5);
            }

            &-title{
                padding: 30px 10px;
                text-align: center;
                background-color: #FFF;
                flex: 1;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-desc{
                padding: 8px 10px;
                text-align: center;
                color: #FFF;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 21px;
                    //background-image: url('/images/institutes_courses/pattern_bluewave.png');
                    background-position: center;
                    background-repeat: repeat;
                    top: -10px;
                    left: 0;
                    z-index: 1;
                }
            }
        }
    }
}