
.institutesSearchResult{
    background-color: #FFFFFF;
    padding: 80px 0 40px;
    min-height: 100vh;
    @media (max-width: $screen-xs-max) { 
        padding: 20px 0px;
        min-height: 100vh;
    }
    .search-listing-sm-filter-btn{
        padding: 16px;
        font-size: 26px;
        position: fixed;
        top: 25%;
        left: 0px;
        z-index: 10;
        background: #47c4f0;
        border-radius: 0px 5px 5px 0px;
        color: #fff;
        @media (min-width: $screen-sm-min) {
            display:none;
        }
    }

    .filter_grid_section{
        @media (max-width: $screen-xs-max) { 
            display:none;
            padding: 0px;
        }
    }
    .filter_grid{
        .form_section{
            margin-top: 20px;

            &-title{
                // background-color: #1495d3;
                // border-radius: 4px;
                // padding: 5px 10px 5px 12px;
                // color: #FFF;
                border-radius: 4px;
                margin-top: 20px;
                background-color: #2a55a2;
                padding: 15px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                color: #fff
            }
            
            &-block{
                max-height: 170px;
                overflow: auto;
                border-bottom: 1px solid #1495d3;
    
                &::-webkit-scrollbar-track {
                    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
                    background-color: #d5ddf4;
                }
    
                &::-webkit-scrollbar {
                    width: 6px;
                    background-color: #F5F5F5;
                }
    
                &::-webkit-scrollbar-thumb {
                    background-color: #d35b55;
                }

                &.calender{
                    max-height: 100%;
                }

                .switch_block{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding: 15px 0;

                    .text{
                        margin: 0 15px;

                        &:first-child{ margin-left: 0; }
                        &:last-child{ margin-right: 0; }
                    }
                }

                .switch{
                    background-color: lightgrey;
                    width: 80px;
                    height: 5px;
                    border-radius: 10px;
                    display: inline-block;
                    margin: 10px;
                    position: relative;
                }
                  
                .switch input{
                    position: absolute;
                    opacity: 0;
                }
                  
                .switch span{
                    width: 20px;
                    height: 20px;
                    background-color: #d43423;
                    border-radius: 50%;
                    position: absolute;
                    top: -8px;
                    transition: left .3s;
                    box-shadow: 0px 0px 10px 1px lightgrey;
                }
                  
                .switch input:not(:checked) ~ span{
                    left: -5px;
                }
                  
                .switch input:checked ~ span{
                    left: 60px;
                    background-color: #d43423;
                }
            }
        }

        .form{
            &_group{
                margin-top: 10px;

                &:last-child{ margin-bottom: 10px; }

                label{ margin-bottom: 0; }
            }
        }

        .coss_datepicker{
            border: 1px solid #1495d3;
            border-radius: 5px;
            margin-top: 20px;

            .datetimepicker table td.active, .datetimepicker table td.active:hover{
                background-color: #1495d3;
            }
        }
    }

    /* CHECKBOX STYLING */
    [type=checkbox]:checked, [type=checkbox]:not(:checked) {
        position: absolute;
        left: -9999px;
        visibility: hidden;
    }

    [type=checkbox].filled-in:not(:checked)+label:before {
        width: 0;
        height: 0;
        border: 3px solid transparent;
        left: 6px;
        top: 10px;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 20% 40%;
        transform-origin: 100% 100%;
    }

    [type=checkbox].filled-in:not(:checked)+label:after {
        height: 14px;
        width: 14px;
        background-color: transparent;
        border: 1px solid #d1dbe6;
        top: 3px;
        z-index: 0;
    }

    [type=checkbox]+label {
        position: relative;
    }

    [type=checkbox]+label{
        -khtml-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        font-size: 15px;
        padding-left: 23px;
        display: inline-block;
        font-weight: 400;
    }

    [type=checkbox].filled-in:checked+label:before {
        top: 2px;
        left: 0px;
        width: 6px;
        height: 10px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    [type=checkbox].filled-in+label:after, [type=checkbox].filled-in+label:before {
        content: '';
        left: 0;
        position: absolute;
        transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
        z-index: 1;
    }

    [type=checkbox]:checked+label:before {
        top: -4px;
        left: -3px;
        width: 12px;
        height: 22px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #4285F4;
        border-bottom: 2px solid #4285F4;
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        -o-transform: rotate(40deg);
        transform: rotate(40deg);
        -webkit-backface-visibility: hidden;
        -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    [type=checkbox]+label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid #5a5a5a;
        border-radius: 1px;
        margin-top: 2px;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -o-transition: .2s;
        -ms-transition: .2s;
        transition: .2s;
    }

    [type=checkbox].filled-in:checked + label:after {
        top: 3px;
        width: 14px;
        height: 14px;
        border: 2px solid #1495d3;
        background-color: #1495d3;
        z-index: 0;
    }

    [type=checkbox].filled-in+label:after {
        border-radius: 3px;
    }

    [type=checkbox].filled-in:disabled{
        &+label{
            color: #e3e3e3 !important;
            &:after{
                border-color: #e3e3e3 ;
            }

        }
    }


    .section_title{
        border-bottom: 1px solid #ccd9e7;

        &-item{
            display: inline-block;
            padding: 0 25px;
            border-right: 1px solid #ccd9e7;
            margin-bottom: 20px;

            .is_bold{ font-weight: 600; }

            &:first-child{ 
                padding-left: 0; 
                @media (max-width: 665px){
                    border-right: 0;
                }
            }

            &:last-child{ 
                border-right: 0; 
                @media (max-width: 665px){
                    padding-left: 0;
                }
            }

            span{ display: inline-block; }
        }
    }

    .searchResult_tags{
        padding: 20px 0px 10px 0px;
        border-bottom: 1px solid #ccd9e7;

        .coss_tag{
            line-height: 1;
            display: inline-block;
            padding: 3px 30px 3px 8px;
            border: 1px solid #1495d3;
            border-radius: 4px;
            margin-right: 15px;
            margin-bottom: 10px;
            position: relative;

            .close_tag{
                width: 15px;
                height: 15px;
                background-color: #a5b9d2;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transform: rotate(135deg);
                position: absolute;
                top: 50%;
                right: 7px;
                margin-top: -7px;
                z-index: 2;
                cursor: pointer;
                padding-bottom: 1px;
                font-size: 19px;
                color: #FFF;
            }
        }
    }

    .instituteGrid{
        .flexRow{
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            border-bottom: 1px solid #ccd9e7;
            align-items: center;
            font-size: 14px;

            @media (max-width: $screen-xs-max){
                flex-wrap: wrap;
            }
        }

        .flexCol{
            width: 10%;
            text-align: center;

            &:first-child{ 
                width: 20%; 
                text-align: left;
                @media (max-width: $screen-xs-max){
                    width: 100%;
                    margin-top: 0;
                }
            }

            &:nth-child(2){ 
                width: 15%; 
                @media (max-width: $screen-xs-max){
                    width: 100%;
                }
            }

            @media (max-width: $screen-xs-max){
                width: 100%;
                text-align: left;
                margin-top: 15px;
            }
        }

        &-heading{
            // background-color: #1495d3;
            // color: #FFF;
            // padding: 5px 10px;
            border-radius: 4px;
            margin-top: 20px;
            background-color: #2a55a2;
            padding: 15px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: #fff;

            .flexRow{ 
                padding: 0; 
                border-bottom: 0;
            }
        }

        &-content{
            .book_cta{
                background-color: #c71c14;
                color: #fff !important;
                border: 1px solid #c71c14 !important;
                line-height: normal;
                padding: 10px 20px !important;
                font-size: 16px !important;
                transition: all 0.35s ease-in-out;
                border-radius: 4px;
                cursor: pointer;
            }

            .striked_cost{
                text-decoration: line-through;
                font-size: 12px;
                color: #c71c14;
                display: inline-block;
            }
            .new_cost{
                display: inline-block;   
            }

            .burst{
                background: #c71c14;
                width: 30px;
                height: 25px;
                position: relative;
                text-align: center;
                margin: 0 auto;
                border-radius: 4px;
                position: relative;
                z-index: 8;
                color: #FFF;
                font-size: 13px;
                line-height: 25px;
                font-weight: 600;

                &::before{
                    content: "";
                    position: absolute;
                    top: -1.5px;
                    left: 1.5px;
                    height: 27.5px;
                    width: 27.5px;
                    background: #c71c14;
                    border-radius: 4px;
                    z-index: -1;
                }

                &::before{
                    transform: rotate(135deg);
                }

                /* &::after{
                    transform: rotate(60deg);
                } */
            }

            .discount{
                @media (max-width: $screen-xs-max){
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    .burst{
                        margin: 0 15px 0 0;
                    }
                }
            }

            .cta{
                margin-top: 10px;
                .book_cta{
                    display: inline-block;
                }
            }

            .content{
                .title{
                    color: #1495d3;
                    font-weight: 700;
                }
            }
        }
    }
}
.table-responsive {
    overflow-x: hidden !important;
}