/*.datepicker-days{
   .prev {display:none;}
   .next{display:none;}
   .datepicker-switch{
        padding-left:40px !important;
   }
}
.datepicker:after{
    display: none;    
}
.datepicker:before{
    display: none;    
}*/
.institutesDetails{
    @media (min-width: 320px) and (max-width: 767px){
        height: auto;
    }
    @media (min-width: 768px) and (max-width: 1023px){
        height: auto;
    }
    @media (min-width: 1024px){
        min-height: 100vh;
    }

    background-color: #FFFFFF;
    padding: 50px 0;

    .lg_border_right{
        @media (min-width: $screen-md-max){ border-right: 1px solid #ccd9e7; }
    }

    .details_content{
        &:first-child{
            @media (max-width: $screen-xs-max){ margin-top: 20px; }
        }
    }

    .detailsBlock{
        border-bottom: 1px solid $coss-secondary-color;
        margin-top: 20px;

        &:first-child{ margin-top: 0; }

        &.has_border{
            border: 1px solid $coss-secondary-color;
            border-radius: 4px;
        }

        &_title{
            background-color: $coss-secondary-color;
            color: #FFFFFF;
            padding: 6px 15px;
            border-radius: 4px;
        }

        &_content{
            padding: 15px 0;

            .list_wrapper{
                display: flex;
                align-items: center;
                padding-bottom: 10px;
                border-bottom: 1px solid #ccd9e7;

                @media (max-width: 640px){
                    display: block;

                    .detail_list{ padding: 0; }
                }

                .detail_list{
                    margin-top: 0;
                    padding: 0 15px;

                    @media (max-width: 640px){
                        padding: 0;
                    }

                    &:first-child{
                        padding-left: 0;
                        border-right: 1px solid #ccd9e7;
                    }
                }
            }

            .detail_desc{
                margin-top: 10px;
            }

            &.p_lr_15{
                padding-left: 15px;
                padding-right: 15px;
            }

            .detail_list{
                margin-top: 5px;

                &:first-child{ margin-top: 0; }
            }

            .attendance_list{
                position: relative;
                margin-top: 5px;
                padding-right: 85px;

                &:first-child{ margin-top: 0; }

                .status_label{
                    position: absolute;
                    right: 0;
                    max-width: 85px;
                    display: block;
                    width: 100%;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 4px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #FFF;

                    &.is_green{ background-color: #75b324; }
                    &.is_orange{ background-color: #f68e56; }
                    &.is_pink{ background-color: #cd5cc1; }
                }
            }

            .select_date{
                border: 1px solid #59c2ed;
                border-radius: 5px;
    
                .datetimepicker table td.active, .datetimepicker table td.active:hover{
                    background-color: #59c2ed;
                }
            }
        }
    }

    .info_block{
        padding: 8px 10px;
        border: 1px solid $coss-secondary-color;
        border-radius: 4px;
        margin-top: 20px;
        font-size: $coss-font-xs;

        p{
            margin-bottom: 0;
            font-size: $coss-font-xxs;
            margin-top: 5px;
        }
    }
}
.coss-primary-book-btn{
    color: #FFFFFF;
    background-color: #c71c14;
    border-color: #c71c14;
    line-height: normal;
    padding: 5px 20px;
    font-size: 15px;
    transition: all 0.35s ease-in-out;
}
#display-advertise-modal{
    background-color: black;
}