
.coss_footer{
  position: relative;
  padding: 15px 0;
  background-color: rgba(0,0,0,0.87);
  color: #FFFFFF;
  font-size: $coss-font-xxs;
  height: auto;


  .powered_by{
    display: flex;
    align-items: center;

    @media (max-width : $screen-xs-max){ 
      text-align : center; 
      display : block;
    }

    a{ 
      color : #FFFFFF; 
      text-decoration : none;
      position: relative;
      &:hover{
        text-decoration : underline;
      }
    }
    a:not(:last-child):after {
        content:'|';
        color: #fff;
        position: absolute;
        right: -3px;
    }
    a:last-child {
        padding-right: 0px;
    }
    a:first-child {
        padding-left: 0px;
    }

    &_nav{
      padding: 0 35px;

      a{ padding: 0 10px; }
    }
  }

  .rights_bar{ 
    text-align : right;

    @media (max-width : $screen-xs-max){ text-align : center; }

    a{ 
      color : #FFFFFF; 
      padding:0 10px;
      position: relative;
      &:hover{
        text-decoration : underline;
      }
    }
    a:not(:last-child):after {
        content:'|';
        color: #fff;
        position: absolute;
        right: -3px;
    }
    a:last-child {
        padding-right: 0px;
    }
    a:first-child {
        padding-left: 0px;
    }
  }
}