.cs-footer{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .copyryt{        
    background-color: #fff;
    border-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
        text-align: center;
        padding: 10px;
    }
}