.cs-header {
    z-index:99;
    position: relative;
    .navbar{
        &-default{
            background-color:#fff;
            border-color: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            display: flex;
            align-items: center;
            // padding: 0 15px;
        }
        &-header{
            flex:1;
            display: flex;
            align-items: center;
        }
        &-brand{
            padding: 0 15px !important;
            line-height: 0;
            width: 150px !important;
            img{
                width:100%;
            }
        }
        &-toggler{
            margin-left:15px;
        }
        &-right{
            margin-right: 15px !important;
            .nav{
                .dropdown{
                    &-toggle{
                        padding-bottom: 0;
                        padding-top:0;
                        background: 0;
                        border: 0;
                        padding-right: 0;
                        padding-left: 0;
                        &:after {
                            display: inline-block;
                            width: 0;
                            height: 0;
                            margin-left: 0.255em;
                            vertical-align: 0.255em;
                            content: "";
                            border-top: 0.3em solid;
                            border-right: 0.3em solid transparent;
                            border-bottom: 0;
                            border-left: 0.3em solid transparent;
                        }
                    }
                }
            }
        }
    }
    .dropdown-menu{
        right:-15px;
        top:35px;
        .dropdown-header{
            padding: 8px 20px;
            background: #f0f3f5;
            border-bottom: 1px solid #c2cfd6;
            text-align: center;
        }
        .dropdown-item{
            padding: 10px;
            display:flex;
            justify-content: center;
            align-items:center;
            span{
                display: block;
            }
            .icon{
                margin-right: 10px;
                color: #c1c1c1;
            }
        }
    }
}