.coss_header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1002;

	.width-100{
		@media (max-width: $screen-sm-max){
			width: 100%;
		}
	}

	.header-subscription-btn{
        a{
        	padding: 5px !important;
        	color:#fff !important;
        }
	}

	.coss_navbar{
		margin-bottom: 0;
		border: 0;
		border-radius: 0;
		background-color: #fff;
		background-image: none !important;
		&_logo{

			margin-left : 0;
			margin-top : 0;
			padding : 0;

			@media (min-width : $grid-float-breakpoint){
				//margin-top : 7px;	
				margin-top: 4px;
			}

			img{
			    max-width: 160px;
				@media (max-width : $grid-float-breakpoint){
					height : 50px;
				}
			}
		}

		&__logowrapper{
			@media (max-width: $screen-xs-max) {
				min-height: 50px;
			}
		}

		&_collapse{
			border-color: #20201f;

			// &.overflow-y{
			// 	@media (max-width: $screen-sm-max){
			// 		max-height: 416px;
			// 		overflow-y: scroll;

			// 		&::-webkit-scrollbar {
			// 			width: 5px;
			// 		}

			// 		&::-webkit-scrollbar-track {
			// 			-webkit-box-shadow: inset 0 0 6px transparent;
			// 			border-radius: 2px;
			// 		}

			// 		&::-webkit-scrollbar-thumb {
			// 			border-radius: 2px;
			// 			-webkit-box-shadow: inset 0 0 6px rgba($coss-primary-color,0.7);
			// 		}
			// 	}
			// }
		}

		&-right{
			display : block;

			@media (min-width : $grid-float-breakpoint){
				display: flex;
				align-items: center;
			}
			
			.coss_navMenuItem{
				padding : 4px 5px;
				text-align : center;

				@media (max-width : $screen-xs-max){ padding : 0 15px; }

				&.active{
					background-color: transparent;
					.coss_navMenuItem-Link{ 
						transition: color .45s ease-in-out;
						color: $coss-primary-color;
						background-color : transparent !important;  
					}
				}

				.coss_navMenuItem-Link{ 
					position: relative;
					font-size: $coss-font-default;
					text-align: center; 
					padding: 16px 15px;
					box-shadow: none;
					background-image: none !important;
				    color: #444040;
					&:hover{
						color: $coss-primary-color;
					}
					@media (max-width : $grid-float-breakpoint){
						padding:5px 15px;
					}

					&.enquire_btn{
						background-color: $coss-primary-color;
						color: #fff !important;
						border: 1px solid $coss-primary-color !important;
						line-height: normal;
						padding: 10px 20px !important;
						font-size: 16px !important;
						transition: all 0.35s ease-in-out;
						border-radius : 4px;
						cursor:pointer;
						&:hover{
							background-color: $coss-primary-color !important;
							color: #fff;
						}
					}
				}


				.social_icon{
					display : inline-block;
					padding : 0;
					width: 30px;
				    height: 30px;
				    background-color: #FFF;
				    border-radius: 50%;
				    margin: 0 5px;

				    @media (max-width : $screen-xs-max){ margin: 10px 5px; }

				    .fa{
				    	display: block;
					    height: 100%;
					    line-height: 30px;
					    text-align: center;
					    color: #fff;
					    border-radius: 50%;
				        box-shadow: 0px 1px 5px 0px #ababab;
				    }
				    .fa.fa-facebook{
				    	background-color: #3e569c;
				    }
				    .fa.fa-twitter{
				    	background-color: #00adec;
				    }
				    .fa.fa-linkedin{
				    	background-color: #007bb9;
				    }
				}
			}

			.dropdown{
				font-size: 16px;
				color: #333;
				&:hover{
					color: $coss-primary-color;
				}
				.dropdown-toggle {
					color: #444040;
					padding:16px 14px;
					text-align:center;
					@media (max-width : $grid-float-breakpoint){
						padding:5px 14px;
					}
				}
				.dropdown-menu {
					color: #333;
    				min-width: 142px;
    				text-align:center;
				}
			}
			.dropdown-menu > li > a:hover{
				color: #c71c14;
			}
		}
	} 
}
