

html {
  overflow: visible;
  position: relative;
  height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
  // height: calc(100% - 50px);\
  height: 100%;
}

.font-size-12{
  font-size: 12px;
}

.font_weight_bold{
  font-weight: bold;
}

.display_block{
  display: block;
}

.black{
  color: #000;
}

.profile_view_page{
  @media (min-width: 320px) and (max-width: 767px){
    height: auto;
  }
  @media (min-width: 768px) and (max-width: 1023px){
    height: auto;
  }
  @media (min-width: 1024px){
    min-height: 100vh;
  }
}

$container-xlg : 1200px;
.container{
  @media (min-width: $screen-lg-min){
    width: $container-xlg;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.coss-primary-btn{
	@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  @extend .z-depth-1;

	line-height: normal;
  padding: 10px 20px;
  font-size: $coss-font-sm;
  transition: all 0.35s ease-in-out;
}

$btn-inverse-bgColor : transparent;
.coss-inverse-btn{
  @include button-variant($coss-primary-color, $btn-inverse-bgColor, $coss-primary-color);

  line-height: normal;
  padding: 10px 20px;
  font-size: $coss-font-sm;
  transition: all 0.35s ease-in-out;

  &:hover{
    background-color : $coss-primary-color;
    color : #FFFFFF;
  }
}

.section{	
  &_heading_new{
    font-size: 20px;
    @media (max-width : 768px){
      font-size: 20px;
    }
    color: $coss-darkBlack;
    font-weight: 600;
    line-height: 1;

    &.is_centerAligned{ text-align: center; }
  }

  &_heading{
    font-size: $coss-font-xl;
    @media (max-width : 768px){
      font-size: 20px;
    }
    color: $coss-darkBlack;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;

    &.is_centerAligned{ text-align: center; }
  }

  &_subHeading{
    font-size: $coss-font-xxs;
    color: $coss-mildBlack;

    &.is_centerAligned{ text-align: center; }
  }
}

.is_bold{ font-weight: 700; }
.is_normal{ font-weight : 400; }

.is_whiteText{ color: #FFFFFF; }
.is_redText{ color : $coss-primary-color; }

.is_flex{ 
  display : flex ; 

  &_wrap{
    flex-wrap : wrap;
  }
}

/*
|--------------------------------------------------
|     CUSTOM WIDTH
|-------------------------------------------------- 
*/

.width_100{ width : 100%; }

/*
|--------------------------------------------------
|     MARGIN & PADDING
|-------------------------------------------------- 
*/

.m_t_25 { margin-top : 25px; }

.m_lr_0 {
  margin-left: 0;
  margin-right: 0;
}

.mt-5{
  margin-top: 5px;
}

.p_lr_0 {
  padding-left : 0;
  padding-right : 0;
}


/*
|--------------------------------------------------
|     BOX SHADOW || Z Depth Levels
|-------------------------------------------------- 
*/

.z-depth-0 {
  box-shadow : none !important;
}

.z-depth-1 {
  box-shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half {
  box-shadow : 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  box-shadow : 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow : 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow : 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow : 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable {
  transition : box-shadow .25s;
  box-shadow : 0;
}

.hoverable:hover {
  transition : box-shadow .25s;
  box-shadow : 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.full_overlay{
  position   : absolute;
  width      : 100%;
  height     : 100%;
  top        : 0;
  left       : 0;
  bottom     : 0;
  z-index    : 0;
  background : rgba(255, 255, 255, 0.8);
}

.lg_curved_overlay{
  position   : absolute;
  width      : 100%;
  height     : 100%;
  top        : 0;
  z-index    : 0;
  background : rgba(255, 255, 255, 0.7);

  @media (min-width : $screen-sm-min){
    width      : 50%;
    /*background : radial-gradient(14% 60% at calc(100% + 50px) 50%, transparent 98px, rgba(255, 255, 255, 0.8) 100px, rgba(255, 255, 255, 0.8) 30px, rgba(255, 255, 255, 0.8) 21px);*/
  }
}
.pointer{
  cursor:pointer;
}

.bg-white{
  background-color: #fff;
}

.m-l-15{
  margin-left: 15px;
}

.m-l-5{
  margin-left: 5px;
}

.m-b-5{
  margin-bottom: 5px;
}

.m-b-15{
  margin-bottom: 15px;
}

.m-t-0{
  margin-top: 0!important;
}
.m-b-0{
  margin-bottom: 0px!important;
}

.ladda-button-save{
  float: right;
  padding: 8px;
}

.no-margin {
    margin : 0;
}

.p-l-0 {
  padding-left : 0 !important;
}
.p-l-15 {
  padding-left : 15px !important;
}
.p-l-50 {
  padding-left : 50px !important;
}
.p-0 {
  padding : 0px !important;
}
.p-5 {
  padding : 5px;
}
.p-10 {
  padding : 10px;
}
.p-15 {
  padding : 15px;
}
.p-10-0 {
  padding : 10px 0px;
}
.p-25-20 {
  padding: 25px 20px !important;
}
.p-r-0 {
  padding-right : 0 !important;
}

.no-padding{
  padding: 0;
}

.red {
  background-color: #df3b29 !important;
}

.txt-red{
  color: #df3b29 !important;
}

.txt-green{
  color: green !important;
}
.red-text {
  color: #df3b29 !important;
  background-color: white !important;
  border: 1px solid #df3b29 !important;
}

.m-r-50 {
  margin-right: 50px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-100 {
  margin-left: 100px;
}

.m-l-30 {
  margin-left: -30px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-t-10 {
  padding-top: 10px;
}
.p-t-35{
  padding-top: 35px;
}
.p-b-35{
  padding-bottom: 35px;
}
.p-b-15{
  padding-bottom: 15px;
}
.p-t-7 {
  padding-top: 7px;
}

.p-l-5 {
  padding-left : 5px !important;
}

.p-l-45 {
  padding-left : 45px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.right {
  float: right;
}

.details-main-heading {
  font-size: 25px;
  color: #47c4f0;
  margin-bottom: -20px;
  margin-top: 20px;
}

.m-22 {
  margin: 27px 0;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10{
  margin-bottom: 10px;
}

.m-t-5{
  margin-top: 5px;
}

.default-site-button-style{
  color: #fff;
  border: 1px solid #47c4f0;
  background-color: #47c4f0;
  outline: none;
  &:hover{
    color: #fff;
    border: 1px solid #47c4f0;
    background-color: #47c4f0;
  } 
  &:active{
    color: #fff;
    border: 1px solid #47c4f0;
    background-color: #47c4f0;
  }  
}

.default-cancel-button-style {
  color: #000;
  border: 1px solid #ddd;
  background-color: #ddd;
  outline: none;
  padding: 6px 20px;
  &:hover{
    color: #000;
    border: 1px solid #ddd;
    background-color: #ddd;
  } 
  &:active{
    color: #000;
    border: 1px solid #ddd;
    background-color: #ddd;
  }
}

.select-loader {
 font-size: 14px;
 color: #000;
 position: absolute;
 right: 10px;
 top: 45px;
}

.f-14 {
  font-size: 16px;
  font-weight: normal;
}

label.error{
  font-size: 14px;
}

input.error{
  font-size: 16px;
}

select.error{
  font-size: 16px;
}

.no-results-found{
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
  color: #767c8b;
}

.pagi{
  display: flex;
  flex-wrap: wrap;
  .search-count{
      font-size: 13px;
      margin-right: 15px;
  }
  float: right;
  .pagination, .pagination-sm{
    margin: 0px;
  }
  .pagi-pre a,.pagi-next a,.pagi-no a{
    color: $coss-primary-color;
  }
  .pagi-active a{
    background-color: $coss-primary-color;
    color: #fff;
  }
  @media (max-width: $screen-xs-max) { margin-top:5px; }
}
/*.pagi-up{
  @media (max-width: $screen-xs-max) { display:none; }
}*/
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: $coss-primary-color;
  border-color: $coss-primary-color;
  cursor: pointer;
}
.pagination > li > a, .pagination > li > span{
  color: $coss-primary-color;
}

.upload-file-name{
  display: block; 
  color: black; 
  margin-left: -17px;
  margin-top: 8px;
  margin-bottom: 8px;
  word-wrap:break-word;
}

.w-100{
  width: 100%;
}

.red-text-upload{
  color: #cf1b00;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #dcdcdc;
    margin: 1em 0;
    padding: 0;
}

hd {
    display: block;
    border: 0;
    border-top: 1px solid #dcdcdc;
    margin: 0.25em 0;
    padding: 0;
}

.pincode-error-message {
  color: #e2412d;
  font-size: 14px;
  font-weight: bold;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.f-14{
  font-size: 14px;
}
.form-group select {
  /*font-size: 14px;*/
}

.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.h-184{
  height: 184px;  
}

.no-padding {
  padding: 0px;  
}

.upload-photo-container-company {
  height: 200px !important;
  width: 200px !important;
  border-radius: 0px !important;
}

.job-applicant-user-profile-pic {
  width: 120px;
  height: 120px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0px #b1abab;
}

.job-applicant-profile-pic-box {
    padding: 5px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 290px;
    margin: 0 auto;
}
.d-btn{
  font-size: 12px;
  padding: 5px 10px !important;
}

.select2-choices {
    border: none !important;
    background: transparent !important;
}

.login_home_page {
  padding-top: 50px 0;
  .user-login {
    // padding: 150px;
  }
}

.w-210 {
  width: 210px !important;
}

.tick {
  color: green !important;
  font-weight: normal;
  padding-left: 15px;
}

#wrapper .text {
position:relative;
bottom: 42px;
left: -16px;
visibility:hidden;
color: green;
font-size: 14px;

}

#wrapper:hover .text {
visibility:visible;
}

.symbol.required:before {
  content: "*";
  display: inline;
  color: #E6674A;
  font-size: 15px;
}

.dropdown_login {
    padding-top: 21px !important;
    padding-bottom: 21px !important;
}

#content-wrapper{
  margin-top: -55px;
  // padding-top: 50px;
  min-height: 100%;
  background-color: #fff;
  // @media (max-width: $screen-xs-max){ min-height: calc(100% - 40px); }
  @media (min-width: $grid-float-breakpoint){ 
    // padding-top: 55px; 
  }
}

.content-section-wrapper{
  // padding-top: 120px;
  // padding-bottom: 120px;
  .section {
    padding: 80px 0;
    height: 100vh;
  }
}

.sm-filter-space{
  @media (max-width: $screen-xs-max) { padding-top: 70px; }
  @media (min-width: 768px) and (max-width: 992px){
   padding-top: 80px;
  }
}

#main-data{
  @media (min-width: $screen-md-min) and (max-width: 1220px){
   padding-left: 50px; 
  }
}

.company-page-profile-heading{
    font-size: 22px;
    color: #04a3ed;
    padding-bottom: 10px;
}

.input-group-addon {
    border: 1px solid #a7acb7 !important;
}

.modal-dialog-availability{
    max-width: 552px !important;
    padding: -2px !important;
    border-radius: 5px;
    text-align: left !important;margin: 0px;
}

.availability-modal{
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    max-width: 555px;
    background-color: #f5f5f5;
    margin: 0 auto;
}
.batches{
    &.dont-break{
        overflow: hidden;
        max-height: 55px;
      }
  .slick-list{
      margin-right: 30px;
      margin-left: 30px;
      padding: 0px !important;
    }
  .date_slide{
      width: 47px !important;
      height: 45px;
      margin-right: 10px;
      padding-left: 10px;
      line-height: 20px;
      border: 1px solid;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      padding-top: 2px;
      &.select{
        color: #019fe8;
      }
    }
} 

.add-course-batch-button {
  color: #FFFFFF;
  width: 100%;
  margin-top: 10px;
  background-color: #c71c14;
  border-color: #c71c14;
  line-height: normal;
  padding: 10px 20px;
  font-size: 20px;
}

.login-box {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  max-width: 570px;
  background-color: #f5f5f5;
  margin:0 auto;
}

.add-more-section{
    background-color: #f8f8f9;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 3px 3px 5px #eeeeee;
}

.section-title{
  padding-top: 20px;
}

.display-flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui-autocomplete{
  width: 290px !important;
  list-style: none;
  border: 1px solid;
  background-color: #fff;
  color: black;
  padding-left: 10px;

  div a{
    cursor: pointer;
    text-decoration: none;
  }
}

.ui-helper-hidden-accessible{
  display: none;
}

.italic-text{
  padding-top: 5px;
  color: #59c2ed;
}

.green{
  color:green;
}

.red-icon{
  color:red;
}

.note-clr-gray{
  color:gray;
}

  .page-dont-break{
    overflow: hidden;
    max-height: 94px;
  }

.terms-conditions{
  display:inline;
  float:none;
  color:#808080;
  a {
    color:#47c4f0;
  }
}

.sea-service-buttons{
  display: flex;
  align-items: center;
  cursor: pointer;
    .sea-service-close-button{
      padding-left: 5px;
      margin-top: -2px;
    }
    .course-close-button{
      padding-left: 5px;
      margin-top: -2px;
    }

  .img-box-shadow{
    box-shadow: 0px 2px 5px 1px #b3aeae;
  }

}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark{
  top:39% !important;
}

.dropzone .dz-preview .dz-remove{
  padding: 8px!important;
}

.document_slide .active{
  background-color: #03a3ed;
  color: #fff;
}

.d-flex{
  display: flex;
}

.d-flex-center{
  display: flex;
  align-items: center;
}

.d-block{
  display: block;
}

.b-i-none{
  background-image: none !important;
}

.dont-break-out {

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.featured_advertise_section{
  padding-top: 15px;
}

.view_resume_btn{
  width: 100px !important;
  -webkit-font-smoothing: auto;
}

.ad_card{
    margin: 10px 15px !important;
    width: 270px;
  .ad_cardTitle{
    padding: 5px 5px !important;
    font-size: 16px;
    .advertisement_enquiry{
      float: right;
      cursor: pointer;
      font-size: 14px;
        margin-top: 4px;
    }
  }
  .ad_cardImg {
    position: relative;
  }
  .ad_cardImg img{
    max-height: 128px;
    width: 260px;
      height: 128px;
  }
  .ad_card_logo_container{
    display: flex;
      justify-content: space-around;
      margin: 6px;
  }
}

.ad_card_box {
    float: left;
    /*margin-top: 20px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ad_card{
    border-radius : 4px;
      max-width: 345px;
    margin: 25px auto 0;
    @extend .z-depth-1;

    &Title{
      font-size: $coss-font-xl;
        color: $coss-darkBlack;
        font-weight: 600;
        line-height: 1;
          padding: 20px;
        background-color: #f5f5f5;
    }

    &Img{
      padding : 5px;
      img{
        width : 100%;
      }
    }
  }

.datepicker.datepicker-inline {
  display: none;
}
.loader_overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
}

.no-border {
  border: none !important;
}

.datetimepicker table thead tr:first-child th.prev{
  &::before {
    content: "<<";
  }
}

.datetimepicker table thead tr:first-child th.next{
  &::before {
    content: ">>";
  }
}

.status-block{
  display:flex;
  justify-content:space-between;
  padding: 20px 0px 10px 0px;
  @media (max-width : $screen-xs-max){ 
    display : block;
  }
  .status{
    display: block;
    flex:1;
    @media (max-width : $screen-xs-max){ 
      display : flex;
    }
    @media (max-width : $screen-xs-max){ 
      .status-text-line{
        padding-left: 10px;
      }
    }
    .status-text-line .status-text .status-date{
      font-size: 13px;
      color: #8e8e9d;
    }
    .track-status{
      padding-left: 20px;
      .green-dot{
        background-color: #61c26e;
        border: 3px solid #61c26e;
        width: 14px;
        height: 14px; 
        border: 3px solid #e3e3e3;
        border-radius: 50px;
        position: absolute;
        padding-top: 0px;
        @media (max-width : $screen-xs-max){ 
          background-color: #61c26e;
          border: 3px solid #e3e3e3;
        }
      }
      .green-status-line{
        border-top: 3px solid #61c26e;
        min-width: calc(100% - 5px);
        vertical-align: middle;
        margin-left: 19px;
        margin-bottom: 7px;
        margin-right: 5px;
        display: inline-block;
        @media (max-width : $screen-xs-max){ 
          border-left: 3px solid #61c26e;
          min-width: 3px;
          margin-left: 5px;
          margin-bottom: 7px;
          margin-right: 5px;
          height: 30px;
          margin-top: 20px;
        }
      }
    }
    &:last-child{
      .green-status-line{
        border-top: 3px solid transparent !important;
        border-left: none !important;
      }
    }
  }
}

.img-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25%;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 4px 0px #908d8d;
    #preview{
      width: 320px;
      height: 200px;
      box-shadow: 0px 2px 4px 0px #908d8d;
      margin: 10px;
    }
    .gallery-close-icon{
      padding: 4px;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0px;
      right: 0;
      background-color: rgb(214, 61, 47);
      color: #fff;
      border-radius: 50%;
      margin: 0px 10px;
    }
}

.notification-main-view{
  width: 400px;
  max-height: 397px;
  border: 1px solid #323232;
  position: absolute;
  right: 0px;
  background-color: #323232;
  font-size: 12px;
  padding: 0px;
  @media (min-width:320px) and (max-width: 767px) {
    width: 95%;
    margin: 0 auto;
  }

  #notification::-webkit-scrollbar {
    width: 10px;
    background-color:#c8d0e5;
  }

  #notification::-webkit-scrollbar-thumb {
    background-color: #323232;
  }

  .notification-title{
    background-color: #66c6ee;
    color: #fff;
    padding: 15px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .notification-count{
      //float: right;
      //line-height: 0;
      background-color: #323232;
      border-radius: 50%;
      position: relative;
      top: auto;
      left: auto;
      transform: translate(0,0);
      padding: 3px 8px;
      font-size: 10px;
    }
  }


  .notification-content-view{
    text-transform: initial!important;
    max-height: 346px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .notification{

      .wrapper{
        display: flex;
        padding: 15px 20px;
        color: #777;
        border-bottom: 1px solid #bcbdc0;
      }
      .wrapper:first-child{
        font-weight: bold;
      }
      &:hover{ 
        background-color: #FFFFFF !important;
        cursor: pointer;
      }
      &.unread{
        background-color: #c3e1ef !important;
        @media (min-width:320px) and (max-width: 767px) {
          background-color: #c3e1ef !important;
        }
      }
      .notification-icon{
        min-width: 60px;
        height: 60px;
        border: 2px solid #b4b4b4;
        border-radius: 50%;
        margin-right: 10px;
        padding: 8px;
        background-position: center;
        img{
          width: 30px;
          height: 30px;
        }
      }

      .notification-contents{
        .notification-heading{
          color: #323232;
        }
        .notification-day-time-details{
          color: #323232;
        }
      }
    }

    .notification:first-child{
      .notification-contents{
        font-weight: bold;
        // color:#323232;
      }
    }
  }

  .notification-view-more{
    a{
      padding: 10px!important;
      float: right;
      color: #323232!important;
      font-weight: bold;
    }
  }
}
.notification-count{
  position: absolute;
  top: 16px;
  right: -4px;
  transform: translate(-50%, -50%);
  background-color: #fb746c;
  color: #ffffff;
  font-size: 10px;
  border: 1px solid;
  border-radius: 50%;
  padding: 0;
  min-width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}


@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.dropdown-menu{
  position: absolute;
    top: 100%;
    left: 8px;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;

    @media (min-width: $screen-xs-max) and (max-width: $screen-md-max){
      right: 68px;
      top: 30px !important;
      left: auto !important;
      transform: none !important;
    }
}

.menu_overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(254, 254, 254, 0.2);
  z-index: 99;
}

/*new*/
.notification-content-main-view{
  font-size: 14px;
  
  @media (min-width:320px) and (max-width: 767px) {
    width: 95%;
    margin: 0 auto;
  }

  #notification::-webkit-scrollbar {
    width: 10px;
    background-color:#c8d0e5;
  }

  #notification::-webkit-scrollbar-thumb {
    background-color: #323232;
  }

  .notification-title{
    background-color: #66c6ee;
    color: #fff;
    padding: 15px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .notification-count{
      //float: right;
      //line-height: 0;
      background-color: #323232;
      border-radius: 50%;
      position: relative;
      top: auto;
      left: auto;
      transform: translate(0,0);
      padding: 3px 8px;
      font-size: 10px;
    }
  }

  .notification-content{
    text-transform: initial!important;
    max-height: 346px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .notification{

      .wrapper{
        display: flex;
        padding: 15px 20px;
        color: #777;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0px #b1abab;
        margin-top: 10px;
      }
      .wrapper:first-child{
        font-weight: bold;
      }
      &:hover{ 
        background-color: #FFFFFF !important;
        cursor: pointer;
      }
      &.unread{
        background-color: #c3e1ef !important;
        @media (min-width:320px) and (max-width: 767px) {
          background-color: #c3e1ef !important;
        }
      }
      .notification-icon{
        min-width: 60px;
        height: 60px;
        border: 2px solid #b4b4b4;
        border-radius: 50%;
        margin-right: 10px;
        padding: 8px;
        background-position: center;
        img{
          width: 30px;
          height: 30px;
        }
      }

      .notification-contents{
        .notification-heading{
          color: #323232;
        }
        .notification-day-time-details{
          color: #323232;
        }
      }
    }

    .notification:first-child{
      .notification-contents{
        font-weight: bold;
        // color:#323232;
      }
    }
  }

  .notification-content-view{
    text-transform: initial!important;
    max-height: 346px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .notification{

      .wrapper{
        display: flex;
        padding: 15px 20px;
        color: #777;
        border-bottom: 1px solid #bcbdc0;
      }
      .wrapper:first-child{
        font-weight: bold;
      }
      &:hover{ 
        background-color: #FFFFFF !important;
        cursor: pointer;
      }
      &.unread{
        background-color: #c3e1ef !important;
        @media (min-width:320px) and (max-width: 767px) {
          background-color: #c3e1ef !important;
        }
      }
      .notification-icon{
        min-width: 60px;
        height: 60px;
        border: 2px solid #b4b4b4;
        border-radius: 50%;
        margin-right: 10px;
        padding: 8px;
        background-position: center;
        img{
          width: 30px;
          height: 30px;
        }
      }

      .notification-contents{
        .notification-heading{
          color: #323232;
        }
        .notification-day-time-details{
          color: #323232;
        }
      }
    }

    .notification:first-child{
      .notification-contents{
        font-weight: bold;
        // color:#323232;
      }
    }
  }

  .notification-view-more{
    a{
      padding: 10px!important;
      float: right;
      color: #323232!important;
      font-weight: bold;
    }
  }
}

//ruth changes
.hide-on-med-and-down {
    @media only screen and (max-width: 992px){
      display: none !important;
    }
  }
  .hide-on-med-and-up{
    @media only screen and (min-width: 992px){
      display: none !important;
    }
  }
  .d-flex{
    display: flex;
  flex-wrap: wrap;
  }
body{
  font-family: 'Poppins';
  font-size:14px;
  // height: unset !important;
  .navbar{
    margin-bottom: 0 !important;
  }
}

  .p-zero{
    padding: 0 !important;
  }
  .mr-top-0{
    margin-top: 0;
  }
  .mr-bottom-minus-32{
    margin-bottom: -32px;
  }
  .mr-bottom-30{
    margin-bottom:30px; 
  }
  .mt-20{
      margin-top: 20px;
  }
  .mt-24{
    margin-top:24px;
  }
  .bold-black-big-text{
    font-size: 45px;
    font-weight: 900;
    color:$cs-secondary-color;
  }
  .bold-black-small-text{
    font-size: $cs-font-sm;
    font-weight: 700;
    color:$cs-secondary-color;
  }
  .black-med-bold-text{
    font-size: 30px;
    font-weight: 700;
    color:$cs-secondary-color;
  }
  .black-med-text{
    font-size: 30px;
    color:$cs-secondary-color;
  }
  .blue-bold-big-text{
    font-size: 45px;
    font-weight: 900;
    color: $cs-primary-color;
  }
  .blue-med-bold-text{
    font-size: 30px;
    font-weight: 700;
    color: $cs-primary-color;
  }
  .blue-med-text{
    font-size: 30px;
    color: $cs-primary-color;
  }
  .blue-bold-text{
    color: $cs-primary-color;
    font-weight: 700;
  }
  
  
  
  
  
  .mr-bottom-0{
    margin-bottom: 0 !important;
  }
  
  .z-depth-1{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }
  .cs-primary-btn{
      background-color: $cs-secondary-color;
      color:$cs-white;
      
  }
  .cs-secondary-btn{
    background-color: #fff;
    color:$cs-secondary-color;
    border: 1px solid $cs-secondary-color;
    &:hover,:active,:focus{
      color:$cs-secondary-color;
    }
  }
  a{
    text-decoration: none;
    &:hover,:focus,:active{
      text-decoration: none;
    }
  }
  .curvy-square{
    border-top-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  .filter-column{
    padding: 0 !important;
    margin-top:15px;
  }
  ul{
    list-style-type: none !important;
    li{
      list-style-type: none !important;
    }
  }
  .p-0{
    padding: 0 !important;
  }
  .pl-0{
    padding-left: 0 !important;
  }
  .plr-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pr-0{
    padding-right: 0 !important;
    @media(max-width:768px){
      padding: 0 !important;
    }
  }
  .mt-30{
    margin-top: 30px;
  }
  .mt-15{
    margin-top: 15px;
  }
  .mb-15{
    margin-bottom: 15px;
  }
  .br-r-0{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .br-l-0{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
  .br-0{
    border-radius: 0 !important;
  }
 .border-top{
    border-top: 1px solid #c1c1c1;
  }
  .border-right{
    border-right: 1px solid #c1c1c1;
  }
  .border-left{
    border-left: 1px solid #c1c1c1;
  }
  .border-bottom{
    border-bottom: 1px solid #c1c1c1;
  }
  .mb-100{
    margin-bottom: 100px !important;
  }
  .body-regular{
    display: table;
    color: #fff;
    margin-bottom: 0px;
    padding-left: 5px;
  }
  .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    &--one{
      flex:1;
    }
  }
  .d-flex-row{
    display: flex;
    flex-wrap: wrap;
  }
  
  .blue{
    color:$cs-secondary-color !important;
  }
  .dark-blue{
    color:$cs-primary-color !important;

  }
  .red-text-only{
    color:#e42b45 !important;
  }
.orange-label{
  font-size: 14px;
  background-color: #f7854d;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}
.green-label{
  font-size: 14px;
  background-color: #5fb53a;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}
  .card{
    border-radius: 5px;
    margin-top: 30px;
    &-header{
      background-color: $cs-primary-color;
      padding: 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color:$cs-white;
    }
    &-footer{
      background-color: $cs-primary-color;
      padding: 15px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color:$cs-white;
    }
    &-body{
      padding: 15px;
      background-color: $cs-white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background-color: #fff;
    }
   
  }

  .ml-minus-15{
    margin-left: -15px;

  }
  .flex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &--two{
      display: block;
    }
    &--one{
      display: block;
    }
  }


  .icon-image{
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 20px !important;
    height: 20px !important;
    background-position: center;
    margin-right: 5px;
  }

  // custom footer
  .cs-custom-footer{
  
    padding: 30px  30px 50px 30px;
    color: #fff;
    position: relative;
    @media(min-width:768px){
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%
    }
    @media(max-width:767px){
      background-color: #2855a2;
      &:after{
        content:"";
        background-image: url('public/assets/images/home/footer.png');
        background-repeat: repeat;
        background-size: cover;
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 10px;
      }
    }
    .footer-title{
        padding:20px 10px;
    }
    
    .links{
        &-list{
            margin: 0;
            padding: 0;
            &-menu{
                a{
                    color:#fff;
                    
                    .show_on_hover{
                      opacity: 0;
                      transition: 0.2ms
                    }
                    &:hover{
                        color: $cs-secondary-color;
                        .show_on_hover{
                          opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .social-icons{
        margin: 0;
        padding:0 5px;
        display: flex;
        align-items: center;
        &-menu{ 
          margin-right: 15px;
        }
    }
}

.title{
  font-size: 18px;
  font-weight: 600;
}
.full-height-vh{
  height:100vh;
}
.course_list{
  position: relative;
    overflow-x: auto;
    overflow-y: hidden;
//    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
//    display: -webkit-box;
    &_item{
//      float:none !important;
    }
  &::-webkit-scrollbar {
    width: 4px !important;
    height: 3px !important;
    background-color: #F5F5F5!important;
    &-thumb {
      background-color: transparent !important;
      border: 2px solid transparent !important;
    }
    &-track {
      -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1) !important;
      background-color: #ebebeb !important;
    }
  }
}
.datepicker table {
  // width: 100% !important;
}

.cs-tabs{

}
.cs-item{
  border: none;
    &:hover{
        border:none;
        border-bottom: 2px solid $cs-secondary-color; 
    }
    &.active{
        border:none !important;
        border-bottom: 2px solid $cs-secondary-color !important; 
        a{
            color: $cs-secondary-color !important;
        }
    }  
    a{
        border: none;
        color: #a9b6cb;
        font-weight: 600;
        &:hover{
            color: $cs-secondary-color;
            background-color: transparent;
        }

    }
}
.tab-content{
    .content{
        &-title{
            color: $cs-secondary-color;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2;
            padding: 10px 0
        }
        .list{
            display: flex;
            flex-wrap: wrap;
            flex-flow: column;
            justify-content: flex-start;
            &-item{
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: flex-start;
                padding: 10px 0;
                .icon{
                    margin-right: 10px;
                    display: block;
                }
                .text{
                    display: block;
                }
            }
        }
    }
}
.top-borderradius{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tick-mark{
    color: #34b5f2;
    margin-right: 10px;
    padding-top: 4px;
}
.nav-tabs > li > a {
        /* margin-bottom: 3% !important; */
}
.custom-month-calender {
  height: 305px; 
}

/* calender css */

.planner .today {
    background: #bee1ff;
}
table.month.table {
    text-align: center;
}
.custom-month-calender {
    height: 305px;
    border: 1px solid #8e8e8e;
    background-color: #fff;
}
td.event > a {
    color: #fff;
}
td.event {
    cursor: pointer;
    background-color: #3F51B5;
}
span.sub-date {
    font-size: 10px;
}
span.ans.spanGreen {
    color: green;
}