// .cs-home{
//     margin-top: -75px;
//     z-index: 98;
//     .banner{
//         background-size: cover;
//         background-position: center;
//         height: 100vh;
//         background-repeat: no-repeat;
//         text-align:center;
//         @media(max-width:1024px){
//             height: 40vh;
//         }
//         @media(max-width:768px){

//         }
//         &-wrapper{
//             display:flex;
//             justify-content:center;
//             align-items:center; 
//             padding: 120px 60px;
//             @media(max-width:768px){
//                 padding: 90px 60px;
//             }
//         }
//         &-content{
//         }
//         &-heading{
//             color: #fff;
//             text-align: center;
//             // font-family: Salsa,cursive;
//             font-size: 35px;
//             @media(max-width:768px){
//                 font-size: 22px;
//             }
//         }
//         &-search{
//             .search_tabs{
//                 padding-top: 21px;
//                 outline: 0 !important;
//                 .nav{
//                     margin-bottom: 0;
//                     padding-left: 0;
//                     list-style: none;
//                     &-pills{
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         li{
//                             margin: 0 10px;
//                             float: left;
//                             display: block;
//                             outline: none !important;
//                             &.active{
//                                 position: relative;
//                                 &:before{
//                                     content: "";
//                                     width: 0;
//                                     height: 0;
//                                     border-left: 15px solid transparent;
//                                     border-right: 15px solid transparent;
//                                     border-top: 15px solid #fff;
//                                     position: absolute;
//                                     bottom: -12px;
//                                     left: calc(50% - 15px);
//                                 }
//                                 a{
//                                     background-color: #fff;
//                                     color: #000;
//                                 }
//                             }
//                             a{
//                                 padding: 12px 24px;
//                                 background-color: $cs-ternary-color;
//                                 color:rgba(255,255,255,0.6);
//                             }
//                         }
//                     }   
//                 }
//             }
//         }
//         &-filter{
//             display:flex;
//             justify-content:center;
//             align-items:center;
//         }
//     }

//     .section{
//         &-one{
//             padding: 80px 0;
//             @media(max-width:768px){
//                 padding:30px 0;
//             }
//             .course-wrapper{
//                 .courses{
//                     display: flex;
//                     flex-wrap: wrap;
//                     .card{
//                         text-decoration: none;
//                         color: #fff;
//                         text-align: center;
//                         font-size: 14px;
//                         max-width: 150px;
//                         margin: 25px 0 0 auto;
//                         width: 33%;
//                         @media(max-width:768px){
//                             width: 50%;
//                             margin:20px;
//                         }
//                         &-body{
//                             padding:16px 12px;
//                             background-color:$cs-secondary-color;
//                             border-top-left-radius: 25px !important;
//                             border-top-right-radius: 0 !important;
//                         }
//                         &-footer{
//                             padding: 12px;
//                             background-color:$cs-white;
//                             border-bottom-right-radius: 25px !important;
//                             border-bottom-left-radius: 0 !important;
//                             color:#000;
//                             border:1px solid #e5e5e5;
//                             box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
//                             .icon{
//                                 font-weight: bolder;
//                                 font-size: 16px;
//                                 color: #34b5f2;
//                                 cursor: pointer;
//                             }
//                         }
//                     }
//                 }
//             }  
//             .white_board{
//                 @media(max-width:768px){
//                     // margin-top: 30px;
//                 }
//                 &-bg{
//                     background-position: center;
//                     background-repeat: no-repeat;
//                     background-size: contain;
//                     height: 100vh;
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }
// .cs-custom-footer{
//     padding: 30px;
//     color: #fff;
//     background-repeat: no-repeat;
//     background-size: cover;
//     .footer-title{
//         padding: 20px 0;
//     }
//     .links{
//         &-list{
//             margin: 0;
//             padding: 0;
//             &-menu{
//                 a{
//                     color:#fff;
//                     &:hover{
//                         color: $cs-secondary-color;
//                     }
//                 }
//             }
//         }
//     }
//     .social-icons{
//         margin: 0;
//         padding: 0;
//         display: flex;
//         align-items: center;
//         &-menu{ 

//         }
//     }
// }

.cs-home{
    margin-top: -75px;
    z-index: 98;
    .banner{
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-repeat: no-repeat;
        text-align:center;
        @media(max-width:1024px){
            height: 40vh;
        }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
        and (orientation : landscape) { 
            /* STYLES GO HERE */
            height: 65vh;
        }
        @media(max-width:767px){
            height: 100vh;
        }
        &-wrapper{
            display:flex;
            justify-content:center;
            align-items:center; 
            padding: 120px 60px;
            @media(max-width:768px){
                padding: 90px 60px;
            }
        }
        &-content{
        }
        &-heading{
            color: #fff;
            text-align: center;
            // font-family: Salsa,cursive;
            font-size: 35px;
            @media(max-width:768px){
                font-size: 22px;
            }
        }
        &-search{
            .search_tabs{
                padding-top: 21px;
                outline: 0 !important;
                .nav{
                    margin-bottom: 0;
                    padding-left: 0;
                    list-style: none;
                    &-pills{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        li{
                            margin: 0 10px;
                            float: left;
                            display: block;
                            outline: none !important;
                            &.active{
                                position: relative;
                                &:before{
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-left: 15px solid transparent;
                                    border-right: 15px solid transparent;
                                    border-top: 15px solid #fff;
                                    position: absolute;
                                    bottom: -12px;
                                    left: calc(50% - 15px);
                                }
                                a{
                                    background-color: #fff;
                                    color: #000;
                                }
                            }
                            a{
                                padding: 12px 24px;
                                background-color: $cs-ternary-color;
                                color:rgba(255,255,255,0.6);
                            }
                        }
                    }   
                }
            }
        }
        &-filter{
            // display:flex;
            // justify-content:center;
            // align-items:center;
            padding: 0 0 0 120px;
            @media(max-width:768px){
                padding: 0;
            }
        }
    }

    .section{
        &-one{
            padding: 70px 0;
            @media(max-width:1024px){
                padding:30px 0;
            }
            .course-wrapper{
                .courses{
                    display: flex;
                    flex-wrap: wrap;
                    .card{
                        text-decoration: none;
                        color: #fff;
                        text-align: center;
                        font-size: 14px;
                        max-width: 150px;
                        margin: 25px 0 0 auto;
                        width: 33%;
                        @media(max-width:1024px){
                            max-width: 120px;
                        }
                        @media(max-width:768px){
                            max-width: 150px;
                            width: 50%;
                            margin:10px auto;
                        }
                        
                        &-body{
                            padding:16px 12px;
                            background-color:$cs-secondary-color;
                            border-top-left-radius: 25px !important;
                            border-top-right-radius: 0 !important;
                        }
                        &-footer{
                            padding: 12px;
                            background-color:$cs-white;
                            border-bottom-right-radius: 25px !important;
                            border-bottom-left-radius: 0 !important;
                            color:#000;
                            border:1px solid #e5e5e5;
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                            .icon{
                                font-weight: bolder;
                                font-size: 16px;
                                color: #34b5f2;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }  
            .white_board{
                @media(max-width:768px){
                    // margin-top: 30px;
                }
                &-bg{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 100vh;
                    width: 100%;
                    @media(max-width:1366px){
                        height: 80vh;
                    }
                    @media(max-width:1024px){
                        height: 50vh;
                    }
                }
            }
        }
    }
}
