/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}
mark, rp, rt, ruby, summary, time {
    display: inline
}
/* Global properties ======================================================== */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.4em;
    color: #c0c0c0;
}
html {

}
html, body {
    height: 100%;
}
/* Global Structure ============================================================= */
.container_16 {
    font-size: .75em;
    position: relative;
}
/* Header */
header {  }
/* Footer */
footer { }
/* The inside class provides consistent padding. To be used often! */
/*----- form defaults -----*/
input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    vertical-align: middle;
    font-weight: normal;
}
h1 {
    font-size: 33px;
    color: #fff;
    line-height: 1.2em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: -1px;
    margin-bottom: .5em;
}
h2 {
    font-size: 33px;
    color: #fff;
    line-height: 1.2em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: -1px;
    margin-bottom: .5em;
}
h3 {
    font-size: 1em;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #c0c0c0;
    margin-bottom: 5px;
}
h4 {
    font-size: 1em;
    color: #616161;
    margin-bottom: 12px;
}
h5 {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: #909090;
    font-style: italic;
    margin-bottom: 1em;
}

.container16 {max-width: 1170px; margin: 0px auto;}
.left_part { width: 27%; float: left; margin-right: 3%; }
.right_part { width: 70%; float: right; }
.edit_main { width: 100%;float: left; font-family: 'Poppins', sans-serif; border: 1px solid #dedede; padding: 15px; margin-bottom: 25px;}
.edit_main_two { width: 100%;float: left; font-family: 'Poppins', sans-serif; margin-top: 35px;border: 1px solid #dedede; padding: 15px;}
.edit_main_three { width: 100%;float: left; font-family: 'Poppins', sans-serif;border: 1px solid #dedede; padding: 15px;}


.edit_left { width: 38%; float: left; padding-right: 3%; text-align: center;}

.image_full { display:block; }
.image_mobile { display:none; }
.image_mobile_one { display:none; }
.image_mobile_two { display:none; }
.edit_right { width: 62%; float: right; font-size: 16px; color: #454545; line-height: 23px; }



.get-started {width: 100%; float: left; padding-top: 40px; padding-bottom: 40px;}
.get-started a { color: #00a2e8; text-decoration: underline; margin-left: 5px; }
.get-started a:hover { color: #000; text-decoration: underline; }
.get-started .fa-ship{color: #288de3;}



.menu-option a { color: #00a2e8; text-decoration: underline; margin-left: 5px; }
.menu-option a:hover { color: #000; text-decoration: underline; }

.menu-left { width: 13%; float: left; margin-right: 2%; }
.menu-right { width: 85%; float: right; }

.edit_left1 { width: 38%; float: left; padding-right: 3%; text-align: center;}
.edit_right1 { width: 62%; float: right; font-size: 14px; color: #454545; }


/* Navigation Section */ 
/*.navbar-default{
    background:#fff;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    border: none;
    margin:0;
    padding: 30px 0 25px;
    z-index: 120;
    overflow: hidden;
}*/
/*.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{margin: 0;}
.navbar-collapse{padding: 0;}
.navbar-brand{
    padding: 0;
    height: auto;
}
.navbar-brand img{
    height: 45px;
    margin-right: 40px;
}
.navbar-default .navbar-nav{
    position: relative;
    padding: 0 15px;
    display: inline-block;
}
.navbar-default .navbar-nav:after{
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    top: 0;
    right:-47%;
    z-index: -1;
}
.navbar-default .navbar-nav>li{
    margin-right: 00px;
}
.navbar-default .navbar-nav>li:last-child{
    margin-right: 0;
}
.navbar-default .navbar-nav>li>a{
    padding: 12px 25px;
    color: #454545 !important;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}
.navbar-default .navbar-nav>li>a:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;

}
.navbar-default .navbar-nav>li>a span{position: relative;z-index: 5;}
.navbar-default .navbar-nav>li.active a:after,
.navbar-default .navbar-nav>li>a:hover:after{opacity: 1;visibility: visible;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    background: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #fff;
    background: transparent;
}*/

ul.social-list{top: -10px; display: inline-block;background: #171717;position: relative;transform: skew(-20deg);padding: 0 15px;}
ul.social-list li{display: inline-block;margin-right: 10px;}
ul.social-list li:last-child{margin: 0;}
ul.social-list li a{
    padding: 10px 10px;
    font-size: 16px;
    color: #fff;
    display: inline-block;
}
ul.social-list:after{
    position: absolute;
    content: '';
    background: #171717;
    width: 100%;
    height: 100%;
    top: 0;
    right:-99%;
}
ul.social-list li a:hover{
    color: #850f82;
}

/* Toggle */
.navbar-toggle .icon-bar { background: #fff;transition: .5s ease;}
.navbar-toggle.collapsed .icon-bar:nth-child(2){transform: rotate(0)translateY(0)translateX(0);}
.navbar-toggle.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggle.collapsed .icon-bar:nth-child(4){transform:rotate(0)translateY(0)translateX(0);}
.navbar-toggle .icon-bar:nth-child(2){transform: rotate(-45deg)translateY(5px)translateX(-5px);}
.navbar-toggle .icon-bar:nth-child(3){opacity: 0}
.navbar-toggle .icon-bar:nth-child(4){transform:rotate(45deg)translateY(-4px)translateX(-3px);}
.navbar-default .navbar-toggle{
    border-color: #333333 !important;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #337ab7 !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: #850f82;
    border-color: #850f82;
}
.navbar-default .navbar-toggle:hover .icon-bar,.navbar-default .navbar-toggle:focus .icon-bar{
    background: #fff;
}

.image_dk{ display: none; }
.image_mobile2{display: none;}
.image_mobile3{display: none;}
/* End Navigation CSS */

.hl-call{max-width: 100%; height: auto; float: left;}
.hl-call img{width: 100%; height: auto;}


.edit_left_one { width:25%; float: left; padding-right: 3%; text-align: center;}
.edit_right_one { width: 75%; float: right; font-size: 16px; line-height: 23px; color: #454545; }
.edit_right_one span{color: #e60202;}
.edit_right_one_l{width: 100%; height: auto; float: left;}
.edit_right_one h2{font-size:20px; line-height: 25px; border-bottom: 1px solid #222; display: inline-block; margin-bottom: 15px; font-style: normal;}
.edit_right_one p{font-size: 14px; color: #727272;}

.user-bar{width:100%; float: left;margin-top:35px; margin-bottom: 25px;}

.edit_main_three { width: 100%;float: left; font-family: 'Poppins', sans-serif;border: 1px solid #dedede; padding: 15px; margin-top: 35px;}

.full-docoment{width: 100%; height: auto; float: left; border: 1px solid #ccc; padding: 25px; margin-bottom: 25px;font-size: 16px;}


.depend-p{width:100% ; height: auto;font-size: 16px; float: left;}
.depend-p span{color: #e60202;}
.pic-88l{width: 150px; height: auto; float: left;margin: 0px 52px;}
.pic-88l img{width: 100%; height: auto;}

.personal-st{width: 100%; height: auto; padding: 22px; border: 1px solid #ccc; float: left;}

.showcases-se{width: 100%; height: auto; float: left; margin-bottom: 45px;}

.dgl-p{float: left; margin-right: 15px; width: 160px;}
.dgl-p img{width: 100%; height: auto;}
.dgl-text{width: 70%;float: left; font-size: 18px; color: #222; line-height: 35px; margin-left: 80px;}
.section-five{border: 1px solid #ccc; float: left; padding:15px ; margin-bottom: 30px; width: 100%;}
.dgl-text h2{font-size:20px; font-weight: normal; margin-bottom: 15px; border-bottom: 1px solid #222; font-style: normal; float: left;}
.dgl-text ul{display:block; padding: 0px; margin: 0px; list-style-type: none; padding-left: 25px; margin-top: 35px;}
.dgl-text ul li{float: left; width: 100%; margin-bottom: 15px;}
.container17 {
    width: 1170px;
    margin: 0px auto;
    max-width: 1170px;
}