@media(min-width:1025px) and (max-width:1350px){
	.navbar-default{padding: 15px 0;}
	.navbar-brand img{height: 22px;margin:10px 15px 0 0;}
	.navbar-default .navbar-nav>li>a{font-size: 14px;}
.image_dk{ display: none; }
}

@media(min-width:992px) and (max-width:1024px){
	/* **** Home Page **** */
	.navbar-default{padding: 10px 0;}
	.navbar-default .navbar-nav{display: block;width: 100%;}
	.navbar-default .navbar-nav:after{display: none;}
	ul.social-list{top: 0;}
	.image_dk{ display: none; }
 img.image_full{max-width: 100%;}
}

@media(min-width:768px) and (max-width:991px){
	.navbar-default{padding: 10px 0;}
	.navbar-default .navbar-nav{display: block;width: 100%;}
	.navbar-default .navbar-nav:after{display: none;}
	ul.social-list{top: 0;}
	.edit_left img {max-width: 100%;}
	.menu-left { width: 16%; }
	.menu-right {width: 81%;}
	.image_dk{ display: none; }
	 img.image_full{max-width: 100%;}
	 img.image_mobile_two{max-width: 100%;}
}

@media(min-width:448px) and (max-width:767px){
	/* **** Home Page **** */
	.navbar-default{padding: 10px 0;}
	.navbar-brand img{height: 35px;margin:8px 0 0;}
	.navbar-default .navbar-nav{float: none;margin: 0;padding: 15px;display: block;transform: skew(00deg)}
	ul.social-list:after,.navbar-default .navbar-nav:after{display: none;}
	ul.social-list{display: block;text-align: center;}
	ul.social-list li a,ul.social-list,.navbar-default .navbar-nav>li>a{transform: skew(0deg);top: 0;}

	.left_part {width: 100%; }
	.right_part {width: 100%; }
	.image_full{ display:none; }
	.edit_left_one{width: 100%; padding-right: 0px;}
.edit_right_one{width: 100%; height: auto;}

	.image_mobile{ display:block; margin: 0px auto; max-width: 100%; height: auto;}

.pic-88l{ float: none; margin:0px auto 35px;}
	.edit_left {width: 100%;}
	.edit_right {width: 100%;}
	.edit_left img {max-width: 100%;}
	.image_mobile_one{display: none;}
	.menu-left { width: 8%; }
	.menu-right { width: 89%; }
/*.image_mobile_one {
    display: block;margin: 0px auto;
}*/
	.edit_left1 {width: 100%;}
	.edit_right1 {width: 100%; margin-top: 10px; }
	.image_dk{ display: none; }
.up-pic{margin: 0px auto; display: table;}
.image_mobile2{display: block; margin: 0px auto;}
.image_mobile3{display:none;}
.dgl-text{margin-left: 0px; width: 100%;}
img.extra-pic{max-width: 100%; height: auto;}
 .image_mobile_two{display: block;}
  img.image_mobile_two{max-width: 100%;}
}

@media(max-width:447px){
	/* **** Home Page **** */
	.navbar-default{padding: 10px 0;}
	.navbar-brand img{height: 35px;margin:8px 0 0;}
	.navbar-default .navbar-nav{float: none;margin: 0;padding: 15px;display: block;transform: skew(00deg)}
	ul.social-list:after,.navbar-default .navbar-nav:after{display: none;}
	ul.social-list{display: block;text-align: center;}
	ul.social-list li a,ul.social-list,.navbar-default .navbar-nav>li>a{transform: skew(0deg);top: 0;}

	.left_part {width: 100%; }
	.right_part {width: 100%; }
	.image_full{ display:none; }
	
    .hl-call img{ max-width: 100%;
    height: auto;}
    .edit_left_one{width: 100%;}
    .edit_right_one{width: 100%;}
	.image_mobile2{display: block;}
	img.image_mobile2{width: 100%; height: auto;}
	.edit_left {width: 100%;}
	.edit_right {width: 100%;}
	.edit_left img {max-width: 100%;}
	.menu-left { width: auto; }
	.menu-right { width: 79%; float: left; }

	.edit_left1 {width: 100%; padding-right: 0px;}
	img.edit_right1{ width: 100%; height: auto; }
	.edit_right1 {width: 100%; margin-top: 5px;}
	.edit_right1 img { width: 100%; height: auto; }
	.image_dk{display: block;}
	.get-started img{max-width:100%; height: auto;}
	.image_mobile3{display: block;}
	.depend-p img{max-width: 100%; height: auto;}
	.pic-88l{width: 100%; margin: 0px auto;}
	img.extra-pic{max-width: 100%; height: auto;}
	.dgl-p{ margin: 0px auto; float: none;}
	.dgl-text{width: 100%; margin: 0px;}
	.image_mobile{display: none;}


	.image_mobile_one{display: block;margin: 0px auto;
    max-width: 100%;
    height: auto;}
    .image_mobile_two{display: block;}
     img.image_mobile_two{max-width: 100%;}
}