#pricing-page{
	.pricing-card{
		padding: 20px;
		.pricing-head{
			border-bottom: 1px solid #dbdbdb;
			.rate{
			    display: flex;
			    line-height: 50px;
			    font-size: 55px;
			    .period{
		    	    font-size: 16px;
				    font-weight: bold;
				    line-height: 31px;
				    align-self: flex-end;
				    margin-left: 5px;
			    }
			}
			.rate-discription{
			    font-size: 14px;
				padding-bottom: 10px;
			}
		}
		.included-content{
			padding: 20px 0px;
			.point{
			    display: flex;
			    padding: 7px 0px;
				.tick{
					color: #45c4ef;
					margin-right: 5px;
				    font-size: 23px;
					line-height: 23px;
				}
			}
			.point-border{
				border-bottom: 1px solid #dbdbdb;
			}
		}
		.purchase-btn-container{
			.purchase-btn{
				padding: 10px 30px;
			}
		}
	}
	.section-1{
		background-image    : url('/images/pricing/pricing_bg.jpg');
		background-size     : cover;
		background-position : center;
		background-repeat   : no-repeat;
		position: relative;
		.page-title{
			text-align: center;
			font-size: $coss-font-lg;
			font-weight: bold;
		    padding-top: 65px;
    		padding-bottom: 80px;
			@media (max-width: $screen-sm-max) {
				padding-bottom: 45px;
			}
		}
		.pricing-overlay{
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: #47c4f0;
			opacity: 0.7;
		}
	}
	.section-2{
		.nav-tabs{
			margin-top: -43px;
			li{
				a{
					color: #fff;
					&:hover{
						color: #000;
					}
					@media (max-width: $screen-xs-max) {
						padding: 11px 3px;
						font-size: 14px;
					}
				}
			}
			li.active{
				a{
					background-color: #f1f3f7;
					color: #000;	
				}
			}
		}
		.tab-content{
		    margin: 20px 0px;
		}
		.main-card{
			background-color: #fafafa;
			box-shadow: 0 0px 5px 1px #dad5d5;
    		@media (min-width: $screen-md-min) {
				position: absolute;
    			top: -30px;
    			width:90%;
			}
			.pricing-head{
				.rate{
					color: $coss-primary-color;
				}
			}
		}
		.all-main-card{
			background-color: #fafafa;
			box-shadow: 0 0px 5px 1px #dad5d5;
			.pricing-head{
				.rate{
					color: $coss-primary-color;
				}
			}
		}
	}
	.section-3{
		background-image    : url('/images/pricing/pricing_sec_3_bg.png');
		background-size     : cover;
		background-position : center;
		background-repeat   : no-repeat;
		padding: 15px 0px;
		.subcription-title{
			display: flex;
			justify-content: center;
			font-size: 20px;
			padding: 5px 0px;
			.icon{
				font-size: 30px;
				margin-right: 5px;
				color: #47c4f0;
			}
			.subcription-content{
				align-self: center;
			}
		}
		.subcription-discription{
			font-size: 16px;
			text-align: center;
			.spcl{
				color: $coss-primary-color;
			}
		}
		.free-subscription{
			margin-top: 44px;
    		max-height: 235px;
    		@media (max-width: $screen-xs-max) {
				display:none;
			}
		}
	}
}