.about-us{
	.nav-tabs {
		border-bottom: none; 
		li.active > a{
			border-bottom: 1px solid #ddd; 
		} 
	}
	.tab-content{
		.tab-content-head{
			font-size: 18px;
			color: #019fe8;
		}
		.tab-content-sub-head{
			font-size: 16px;
		}
	}
	.about-us-banner{
		background-image    : url('/images/about_us/about_us.jpg');
		background-size     : cover;
		background-position : center;
		background-repeat   : no-repeat;
		text-align: center;
	    padding-top: 30px;
    	padding-bottom: 30px;
		.heading{
			font-size: $coss-font-xxl;
			font-weight: bold;
		}
		.discription{
			padding-top: 10px;
			font-size: 13px;
			.special-red{
				color: #ec4e51;
				font-weight: bold;
			}
		}
	}

	.content-para{
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: $coss-font-xxs;
		.para-head{
			font-size: 21px;
			color: #019fe8;
			.fa{
				margin-right: 4px;
			}
		}
	}

	.a-u-card{
		border: 2px solid #019fe8;
	    border-radius: 4px;
	    padding: 19px;
		font-size: $coss-font-xxs;
		margin-top: 35px;
    	margin-bottom: 35px;
    	background-color: #fff;
		.para-head{
			font-size: 21px;
			color: #019fe8;
			margin-bottom: 20px;
			.fa{
			    font-size: 50px;
			}
		}
		.para-content{

		}
	}

	.about-us-content-container{
		padding-top: 20px;
		padding-bottom: 20px;
		.heading{
			font-size: $coss-font-xl;
			text-align: center;
		}
		.about-us-points{
			margin-bottom:5px;
			font-size:14px;
		}
		.feature-container{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-top: 20px;
			.small-feature-card{
				padding-top: 10px;
				margin-bottom: 10px;
				min-width: 160px;
				text-align: center;
				@media (max-width: $screen-xs-max) { 
					 	min-width: unset;
					 	max-width: 69px;
					 	a{
					 		padding: 3px;
					 	}
			    }
			    .test-arrow{
			    	width: 15px;
				    height: 15px;
				    position: absolute;
				    left: calc(50% - 8px);
				    bottom: -7px;
				    box-shadow: 1px 1px 0 0 #cccccc;
				    font-size: 32px;
				    transform: rotate(45deg);
				    background-color: #fff;
				    z-index: 1;
				    display: none;
					@media (max-width: $screen-xs-max) { 
					    width: 10px;
					    height: 10px;
					    left: calc(50% - 5px);
					    bottom: -4px;
					  }
			    }
				.feature-icon{
					height: 122px;
					width: 122px;
					border:1px solid #019fe8;
					border-radius: 50%;
					@media (max-width: $screen-xs-max) { 
					 	height: 50px;
    					width: 50px;
					  }
					
				}
				.feature-title{
					padding-top: 10px;
					text-align: center;
					font-size: $coss-font-xxs;
					color: #019fe8;
				}
			}
			.small-feature-card.active{
				.test-arrow{
					display: block;
				}
			}
		}
	}
}

.feature1, .feature2, .feature3, .feature4
{ 
	display: inline-block; background: url('/images/registration/consultseas_type_icon.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; 
	@media (max-width: $screen-xs-max) { 
	 	background: url('/images/registration/consultseas_type_small_icon.png') no-repeat;
	  }
}

.feature1 {
 background-position: 9px -8px;
 width: 85px; height: 85px;
	 @media (max-width: $screen-xs-max) { 
	 	background-position: 3px -6px;
	 }
 }
.feature2 {
 background-position: 7px -120px;
 width: 85px; height: 85px; 
	@media (max-width: $screen-xs-max) { 
 	    background-position: 3px -53px;
	}
}
.feature3 { 
background-position: -111px -6px;
width: 85px; height: 85px;
	@media (max-width: $screen-xs-max) { 
 	    background-position: -48px -4px;
	}
 }
.feature4 { 
	background-position: -114px -112px;
	width: 85px; height: 85px;
	@media (max-width: $screen-xs-max) { 
	 	background-position: -48px -49px;
	}
 }
