
.user-job-post{
	background-color: #f1f3f7;
	
	.heading{
	    font-size: 16px;
    	padding-top: 10px;
	    color: #47c4f0;
	}
	.job-post{
		//margin-left: 250px;
		@media (max-width: $screen-xs-max) { margin-left: 0px; }
		//padding: 30px;
		.job-discription-card{
			padding: 20px 10px;
			background-color: #fff;
			box-shadow: 0 2px 8px 0px #b1abab;
			border-radius: 4px;
			.form-group{
			padding-top: 10px;
		    padding-right: 15px;
    		padding-left: 15px;
    		.calendar-icon{
				float: right;
			    position: absolute;
			    right: 35px;
    		}
			.input-label{
				font-size: 16px;
				color: #8e8e8e;
				margin-bottom: 0px;
				font-weight: normal;
				width: 100%;
			}
			.form-control{
			    border: none;
			    background: transparent;
			    border-bottom: 1px solid #9e9e9e;
			    box-shadow: none;
			    border-radius: 0px;
		        padding: 0px;
		        &::placeholder{
		        	color:#4e4e4e;
		        }
		       &:focus{
		       	border-color:#47c4f0;
		       	color: #47c4f0;
		       	&::placeholder{
		        	color:#47c4f0;
		        }
		       }
			}
			.radio-inline{
				margin-top: 15px;
			}
			.checkbox-inline{
				margin-top: 35px;
			}
			
			.btn-group {
				.btn-default{
					width: 35px;
					height: 30px;
					border: 1px solid $coss-skyBlue;
					background-color: #fff;
					color: $coss-skyBlue;
					&.active{
						background-color: $coss-skyBlue;
						color: #fff;
					}
					.fa{
						font-size: 16px;
					}
				}
			}
			}
		}
		.job-btn-container{
			.job-reset-btn{
				color: #c71c14;
			    background-color: transparent !important;
			    border: 1px solid #c71c14 !important;
			    line-height: normal;
			    padding: 10px 20px !important;
			    font-size: 17px !important;
			    transition: all 0.35s ease-in-out;
			    border-radius: 4px;
			    vertical-align: bottom;
				width: 118px;
				margin-right: 5px;
			    font-size: 16px;
			    text-align: center;
			    padding: 15px;
			    box-shadow: none;
			    background-image: none !important;
			    &:hover{
			    	background-color:#c71c14 !important;
			    	color: #fff;
			    }
			}
			.job-post-btn{
				width: 125px;
			}
			
		}


	}

}