.m-0{
	margin: 0px;
}
.p-0{
	padding: 0px;
}
.m-t-25{
	margin-top: 25px;
}
.candidate-search{
	background-color: #f1f3f7;
	height: 100%;
	.candidate-search-modal-btn{
		position: fixed;
		top: 50%;
		right: 0px;
		z-index: 5;
		background-color: #04a3ed;
		color: #fff;
		display: none;
		@media (max-width: $screen-xs-max) { 
	    	display:block;
    	}
	}
	.switch-checkbox-container{
		.btn-default{
			color: #333!important;
			background-color: #d2d2d2!important;
			border-color: #d2d2d2!important;
		}
		.btn{
			padding: 3px 2px;
			margin-top: 4px;
		}
		.btn-group:focus{
			outline: none;
		}
	}
	.candidate-search-container{
	    @media (max-width: $screen-xs-max) { 
	    	margin-left: 0px;
	    	padding: 0px 10px 0px 10px;
    	}
	    .candidate-search-sm-filter-btn{
			position: fixed;
			width: 27px;
			height: 27px;
			top: 30%;
			left: 0px;
			background-color: $coss-primary-color;
			color: #fff;
			z-index: 99;
			@media (min-width: $screen-sm-min) {
				display:none;
			}
		}
		.section-1{
			padding: 20px 20px 8px 20px;;
			background-color: #fff;
			border: 1px solid #cdcdcd;
			border-radius: 4px;
			margin-bottom: 25px;
			display: none;
		    box-shadow: 0 1px 3px 0px #b1abab;
			@media (min-width: $screen-sm-min) {
				display:block;
			}
			.start{
				width: 40%;
				display: inline-block;
			}
			.to{
			    width: 10%;
			    display: inline-block;
			    text-align: center;
			    vertical-align: top;
			    padding-top: 7px;
			}
			.end{
				width: 40%;
				display: inline-block;
			}
			label{
					font-weight: 400;
				}
			.search-icon{
				margin-right: 5px;
			}
			.search-reset-btn{
				padding: 8px 25px !important;
				margin-right: 3px;
			}
			.search-post-btn{
				padding: 8px 10px !important;
			}
			.form-group{

			}
			.switch-checkbox-container{
				.btn-default{
					color: #333!important;
					background-color: #d2d2d2!important;
					border-color: #d2d2d2!important;
				}
				.btn{
					padding: 3px 5px;
					margin-top: 4px;
				}
				.btn-group:focus{
					outline: none;
				}
			}
		}
		.section-2{
			.heading{
				// font-size: $coss-font-xl;
				font-size: 22px;
				color: #019fe8;
				@media (max-width: $screen-xs-max) { font-size:18px; }
			}
			.search-result-card{
				background-color: #fff;
				border-radius: 4px;
				box-shadow: 0 1px 3px 0px #b1abab;
				margin-top: 10px;
				.profile-pic-container{
					padding: 5px;
					display: flex;
    				flex-wrap: wrap;
    				justify-content: center;
				    max-width: 290px;
    				margin: 0 auto;
					.profile-pic{
					    width: 120px;
					    height: 120px;
					    border: 2px solid #fff;
					    border-radius: 50%;
					    box-shadow: 0 1px 3px 0px #b1abab;
					}
					.profile-btn-container{
						text-align: center;
						margin-top: 5px;
						.btn{
							margin-top: 8px;
						}
						.cv-btn{
							font-size: 12px;
							padding: 5px 10px !important;
						}
						.view-profile-btn{
							font-size: 12px;
							padding: 5px 10px !important;
						}
					}
					
				}
				.company-discription{
				    border-left: 1px solid #cdcdcd;
					padding: 15px 20px;
					@media (max-width: $screen-xs-max) { border:none; }
					.company-name{
						padding: 0px 0px 5px 0px;
					    font-size: 16px;
					    color: #000;
					    font-size: $coss-font-lg;
					}
					.other-discription{
					    color: #8e8e8e;
    					padding: 3px 0px;
    					font-size: 16px;
    					.ans{
    						color: black;
    					}
					}
				}		
			}
			.pagi{
				display: flex;
				flex-wrap: wrap;
				.search-count{
				    margin-top: 10px;
    				margin-right: 10px;
				}
				float: right;
				.pagination, .pagination-sm{
					margin: 0px;
				}
				.pagi-pre a,.pagi-next a,.pagi-no a{
					color: $coss-primary-color;
				}
				.pagi-active a{
					background-color: $coss-primary-color;
					color: #fff;
				}
				
			}
			.pagi-up{
				@media (max-width: $screen-xs-max) { display:none; }
			}
			.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
				z-index: 3;
				color: #fff;
				background-color: $coss-primary-color;
				border-color: $coss-primary-color;
				cursor: pointer;
			}
			.pagination > li > a, .pagination > li > span{
				color: $coss-primary-color;
			}
		}
	}
}