.course_blocking{
    padding: 75px 0;
    .card{
        &-header{

        }
        &-body{
            padding:15px 15px 0 !important;
            .course_block_date{
                .datepicker table {
                    width: 100%;
                    margin: 0;
                }
            }
            
            .tab-wrapper{               
                .course_list{
                border-bottom: none;
                // overflow-y: hidden;
                // overflow-x: auto;
                &_item{
                    border: none;
                    &:hover{
                        border:none;
                        border-bottom: 2px solid $cs-secondary-color; 
                    }
                    &.active{
                        border:none !important;
                        border-bottom: 2px solid $cs-secondary-color !important; 
                        a{
                            color: $cs-secondary-color !important;
                        }
                    }  
                    a{
                        border: none;
                        color: #a9b6cb;
                        font-weight: 600;
                        &:hover{
                            color: $cs-secondary-color;
                            background-color: transparent;
                        }
    
                    }
                }
                }
                .tab-content{
                    .content{
                        padding: 10px 0;
                        &-title{
                            color: $cs-secondary-color;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 1.2;
                            padding: 10px 0;
                        }
                        .list{
                            display: flex;
                            flex-wrap: wrap;
                            flex-flow: column;
                            justify-content: flex-start;
                            &-item{
                                display: flex;
                                flex-wrap: nowrap;
                                align-items: center;
                                justify-content: flex-start;
                                padding: 10px 0;
                                .icon{
                                    margin-right: 10px;
                                    display: block;
                                }
                                .text{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .list{
                display: flex;
                flex-wrap: wrap;
                flex-flow: column;
                justify-content: flex-start;
                &-item{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 10px 0;
                    .icon{
                        margin-right: 10px;
                        display: block;
                    }
                    .text{
                        display: block;
                        .dark-blue{
                            font-weight: 600;
                        }
                        
                    }
                }
            }
            .sublist{
                display: block;
            }
            .unorderlist{
                .item{
                    list-style-type: disc !important;
                    color:$cs-secondary-color;
                    line-height: 1.5;
                    margin: 5px 0 0 0;
                    span{
                        color:#000 !important;
                    }
                }
            }
            .d-flex{
                flex-wrap: nowrap !important;
                padding: 30px 0;
            }
            .circle{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: rgba(52, 181, 242, 0.4);
                color:$cs-secondary-color;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-footer{

        }
    }
}