

.home{
	.slider_prev{
	    left: -45px;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-6px);

	    @media (max-width : 767px){
	    	left: calc(50% - 30px);
		    bottom: -35px !important;
	    }
	    @media (max-width : 1024px){
	    	left: calc(50% - 30px);
		    bottom: -35px !important;
		    top: 104% !important;
	    }
	}

	.slider_next{
	    right: -45px;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-6px);

	    @media (max-width : 767px){
	    	left: calc(50% + 15px);
		    bottom: -35px !important;
	    }
	    @media (max-width : 1024px){
	    	left: calc(50% + 15px);
		    bottom: -35px !important;
		    top: 104% !important;
	    }
	}
	.navArrow{
		width: 30px;
	    height: 30px;
	    display: flex !important;
	    align-items: center;
	    justify-content: center;
	    border: 2px solid #435a62;
	    color: #435a62;
		background-color: #FFFFFF;
	    border-radius: 50%;
	    position: absolute;
	    top: calc(50% - 15px);
	    cursor : pointer;
	    transition : all 0.25s ease-in-out;
	    @extend .z-depth-1;

	    &:hover{
			color : $coss-primary-color;
			border-color : $coss-primary-color;
			@extend .z-depth-1-half;
	    }

	    @media (max-width : $screen-xs-max){
	    	top : auto;
	    	bottom: calc(0% - 25px);
	    }

	    &_prev{
			left: -25px;
			padding-right: 3px;

			@media (max-width : $screen-xs-max){				    	
		    	left: calc(48% - 30px);
		    }
	    }

	    &_next{
    	    right: -25px;
			padding-left: 3px;

			@media (max-width : $screen-xs-max){
		    	right: calc(48% - 30px);
		    }
	    }
	}

	.section_1{
		width               : 100%;
		background-image    : url('/images/home/banner_1.jpg');
		background-size     : cover;
		background-position : center;
		background-repeat   : no-repeat;
		position            : relative; 
		padding-top         : 130px;
		padding-bottom      : 130px;

		.banner_text{
			font-size   : $coss-font-xxl;
			color       : $coss-mildBlack;
			line-height : 1;

		    @media (max-width: $screen-xs-max){ line-height: 1.25; }
		}

		.banner_cta{ margin-top : 20px; }
	}

	.section_2{
		background-color: #f9fafc;

		.dont-break{
	        overflow: hidden;
	        max-height: 55px;
	    }

	    /*a{
	    	font-size: 18px;
	    }*/

	    .slick-track{
	    	display: flex;
    		flex-wrap: wrap;
    		/*padding: 15px 0;*/
	    }

	    .slick-slide{
	    	display: flex;
	    }

		.flex_col{
			height: auto;

			@media (min-width : $screen-xs-max){
				padding : 3px 7px; 
			}
		}

		.coss_card{
			max-width        : 360px;
			margin           : 10px auto;
			background-color : #FFFFFF;
			border-radius    : 4px;
			margin-top       : 15px;
			height           : calc(100% - 25px);
		    display: flex;
		    flex-direction: column;
		    width: 100%;
			@extend .z-depth-1;
			@extend .is_flex;
			@extend .is_flex_wrap;

			&-image{
				height: 100px;
				width : 100%;
				background-size : contain;
				background-repeat : no-repeat;
				background-position : center;
				padding : 6%;
				display: flex;
    			align-items: center;
    			justify-content: center;

				&.selandia{ background-image : url('/images/home/featured_companies/selandia.jpg'); }
				&.ocs{ background-image : url('/images/home/featured_companies/ocs.jpg'); }
				&.darya{ background-image : url('/images/home/featured_companies/darya.jpg'); }
				&.torm{ background-image : url('/images/home/featured_companies/torm.jpg'); }
				&.seaspan{ background-image : url('/images/home/featured_companies/seaspan.jpg'); }
				&.wallem{ background-image : url('/images/home/featured_companies/wallem.jpg'); }
			}

			&-date{
				width            : 100%;
				font-size        : 10px;
				background-color : #f5f5f5;
				padding          : 8px 8px;
				color            : $coss-lightBlack;
				align-self       : flex-start;
			}

			&-no-opening{
				color: grey;
			}

			&-content{
				border-top: 1px solid #dcdcdc;
				padding : 5px 10px;
				width   : 100%;
				flex: 2;

				&Title{
					font-size     : 12px;
					color         : $coss-darkBlack;
					margin-bottom : 5px;
				}

				&Desc{
					height 	  : 50px;
					font-size : 12px;
					color     : $coss-darkBlack;
				}
			}

			&-footer{
				width      : 100%;
				font-size  : $coss-font-tiny;
				padding    : 10px 12px;
				border-top : 1px solid #dadada;
				text-align : right;
				align-self : flex-end;

			    &Link{ 
					color           : $coss-darkBlack;
					text-decoration : none;
					transition      : all 0.25s ease-in-out; 

					&:hover{
						color : $coss-primary-color;
					}
			    }
			}
			&-footer_new{
				width      : 100%;
				font-size  : $coss-font-tiny;
				padding    : 5px 10px;
				
				align-self : flex-end;

			    &Link{ 
					color           : $coss-darkBlack;
					text-decoration : none;
					transition      : all 0.25s ease-in-out; 

					&:hover{
						color : $coss-primary-color;
					}
			    }
			}
		}
		.ad_card_box {
			float: left;
			/*margin-top: 20px;*/
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.ad_card{
			border-radius : 4px;
		    max-width: 345px;
			margin: 25px auto 0;
			@extend .z-depth-1;

			&Title{
				font-size: $coss-font-xl;
			    color: $coss-darkBlack;
			    font-weight: 600;
			    line-height: 1;
		        padding: 20px;
    			background-color: #f5f5f5;
			}

			&Img{
				padding : 5px;
				img{
					width : 100%;
				}
			}
		}
	}

	.section_3{
		width : 100%;
		background-image : url('/images/home/top_companies/top_company_bg.jpg');
		background-size : cover;
		background-position : center;
		background-repeat : no-repeat;

		.clients{
			padding: 20px 0 0;
			
			@media (min-width: $screen-xs-min){
				padding: 20px 20px 0px;
			}
			&-title{
				font-weight: 500;
				line-height: normal;
				margin: 0 0 40px 0;

				@media only screen and (min-width: $screen-xs-max){ text-align: left; }
			}

			@media only screen and (max-width: $screen-xs-max){
				.slick-list{ 
					padding: 10px 20px !important;
				}
			}

			.client_slide{
				background-color : #f5f5f5;
				padding: 0px;
				margin: 5px 8px;
				border-radius: 3px;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				outline: 0;

				@media only screen and (max-width: $screen-xs-max){
					&.slick-current{
						box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
					}
				}

				&-name{
					padding : 10px 15px;
					font-size : $coss-font-xs;
					text-align : center;
				}

				&-logo{
					img{
						width: 100%;
						border-radius: 3px 3px 0 0;
					}
				}

			}

			// .navArrow{
			// 	width: 30px;
			//     height: 30px;
			//     display: flex !important;
			//     align-items: center;
			//     justify-content: center;
			//     border: 2px solid #435a62;
			//     color: #435a62;
			// 	background-color: #FFFFFF;
			//     border-radius: 50%;
			//     position: absolute;
			//     top: calc(50% - 15px);
			//     cursor : pointer;
			//     @extend .z-depth-1;
			//     transition : all 0.25s ease-in-out;

			//     &:hover{
			// 		color : $coss-primary-color;
			// 		border-color : $coss-primary-color;
			// 		@extend .z-depth-1-half;
			//     }

			//     &_prev{
			// 		left: -25px;
			// 		padding-right: 3px;
			//     }

			//     &_next{
		 //    	    right: -25px;
			// 		padding-left: 3px;
			//     }
			// }

			&.dont-break{
				overflow: hidden;
				max-height: 146px;
			}
		}
	}

	.section_4{
		.training_center-logo{
			max-width           : 340px;
			margin              : 0 auto;
		    background-position : center;
		    background-repeat   : no-repeat;
		    background-size     : cover;
		    padding             : 25%;
		    margin-top          : 20px;
		    border-radius       : 4px;
		    @extend .z-depth-1;

		    @media (max-width : $screen-xs-max){ padding : 15%; }

		    &.center_1{ background-image: url(/images/home/training_center/pmda.jpg); }

		    &.center_2{ background-image: url(/images/home/training_center/yak.jpg); }
		}
	}

	.section_5{
		width               : 100%;
		background-image    : url("/images/home/services_offered/service_bg.jpg");
		background-size     : cover;
		background-repeat   : no-repeat;
		background-position : center;
		position            : relative;

		.service_miniCard{
			text-align : center;
			margin-top : 15px;
			
			a{
				text-decoration: none;
			}

			&-icon{
			    width: 100px;
			    height: 100px;
			    display: inline-block;
			    background-repeat: no-repeat;
			    background-size: cover;

			    &.smb{ background-image: url(/images/home/services_offered/smb.png); }
			    &.coc{ background-image: url(/images/home/services_offered/coc.png); }
			    &.wtk{ background-image: url(/images/home/services_offered/wk.png); }
			    &.end{ background-image: url(/images/home/services_offered/end.png); }
			}

			&-title{
				font-weight : 600;
				font-size : $coss-font-default;
			}
		}
	}

	.section_6{
		width : 100%;
		background-image : url("/images/home/how_it_works/bg_pattern.jpg");
		background-size : cover;
		background-position : center;
		background-repeat : no-repeat;

		.howItWorks_block{
			padding: 25px 25px 0;
			font-size : $coss-font-default;

			&.no_beforeElement::before{ content : none; }

			&::before{
				@media (min-width : $screen-sm-max){
					content: '';
				    position: absolute;
				    width: 55%;
				    height: 2px;
				    background-color: #0aabf6;
				    top: 30%;
				    right: calc(0% - 30%);
				}
			}

			&-title{ 
				font-weight : 600; 
				margin-top : 10px;
			}

			&-desc{
				margin-top : 10px;
			}
		}
	}

	.section_7{
		width : 100%;
		background-image : url("/images/home/testimonials/testimonial_bg.jpg");
		background-size : cover;
		background-position : center;
		background-repeat : no-repeat;

		.testimonials{
			padding: 0 30px;

			@media (max-width : $screen-xs-max){ padding : 0 15px; }

			&-slide{ 
				outline: 0;

				&.slick-center{
					.card{
						box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
					}
				}
			}

			

			&_card{
				margin: 3rem 4.5rem 11.5rem;
				border-radius: 6px;
				background-color : #FFFFFF;
				position : relative;
				@extend .z-depth-1;

				@media (max-width : $screen-xs-max){ margin: 3rem 0.5rem 11.5rem; }

				&:before{
					content: '';
				    position: absolute;
				    bottom: -20px;
				    left: calc(4.5rem - 10px);
				    border: 10px solid transparent;
				    border-top-color: #ffffff;
				}

				&-image{
			        width: 90px;
				    height: 90px;
				    border-radius: 50%;
				    position: absolute;
				    bottom: calc(-50% - 25px);
				    left: 0rem;
				    display: block;
				    overflow: hidden;
				    background-color: #fff;

				    @media (max-width : $screen-xs-max){ bottom: calc(-50%); }

				    img{ width : 100%; }
				}

				&-title{
					font-size: 1.25rem;
				    font-weight: 600;
				    padding: 15px 15px 0;
				    line-height: 1;
				}

				&-content{
					font-size : $coss-font-default;
				    padding: 15px 15px 0;
	    			line-height: 1.2;
	    			color : #868686;
				}

				&-footer{
					padding: 25px 15px 15px;

					.client{
						&-name{
							line-height: 1;
						}

						&-designation{
							font-size: $coss-font-xxs;
							line-height: 1;
							margin-top:5px;
							color : #04a5ed;
						}
					}
				}
			}
		}

	}

	.section_8{
		position : relative;

		@media (min-width : $screen-sm-min){
			&::before{
				content             : '';
				position            : absolute;
				top                 : 0;
				left                : 0;
				width               : 320px;
				height              : 100%;
				background-image    : url("/images/home/reach_us/bg_pattern.jpg");
				background-repeat   : no-repeat;
				background-position : 0% 100%;
			}
		}

		.reachUsForm{

			.form-group{
				margin-top    : 45px;
				margin-bottom : 0;
				display       : flex;
				align-items   : center;

				.form_icon{
					width        : 35px;
					height       : 35px;
					display      : inline-block;
					margin-right : 10px;
				}
			}

			.form-control{
				border        : 0;
				border-bottom : 1px solid #e5e5e5 !important;
				border-radius : 0;
				box-shadow    : none;

			    &:focus{ 
					box-shadow    : none;
					border-bottom : 1px solid #0aabf6 !important;
			    }

			    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $coss-mildBlack;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $coss-mildBlack;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $coss-mildBlack;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $coss-mildBlack;
				}
			}
		}
	}
}

// contact us modal
.error{
	color: #e2412d;
	font-size: 12px;
}
#contact-us-modal{
	.modal-close{
	    position: fixed;
	    top: 10px;
	    right: 16px;
	    z-index: 7;
	    font-size: 30px;
	}
	.modal-content{
		display: flex;
		@media (max-width: $screen-xs-max) {
			display:block;
		}
		.contact-us-discription-container{
			width: 45%;
			background-image    : url('/images/contact_us/contact_us_discription.jpg');
			background-size     : cover;
			background-position : center;
			background-repeat   : no-repeat;
			padding: 25px 15px;
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
			@media (max-width: $screen-xs-max) {
				width: 100%;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 5px;
			}
			.heading{
				font-size: $coss-font-xl;
			    color: $coss-darkBlack;
			    font-weight: 600;
			    line-height: 1;
			    margin-bottom: 10px;
			}
			.para{
				font-size: $coss-font-xxs;
    			color: $coss-mildBlack;
    			font-weight: bold;
    			padding-top: 10px;
    			padding-bottom: 10px;
			}
			.contact-details{
				font-size: $coss-font-xxs;
				color: #ffffff;
			}
		}
		.contact-us-form-container{
			width: 55%;
			background-image    : url('/images/contact_us/contact_us_form.png');
			background-size     : cover;
			background-position : center;
			background-repeat   : no-repeat;
			padding: 25px 15px;
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			@media (max-width: $screen-xs-max) {
				width: 100%;
				border-top-right-radius: 0px;
				border-bottom-left-radius: 5px;
				padding: 25px 15px;
			}
			.contact-modal-btn{
				width: 100%;
			}
			.input-label{
				font-size: 12px;
				color: #6b7173;
				margin-bottom: 0px;
			}
			.form-control{
			    border: none;
			    background: transparent;
			    border-bottom: 1px solid #9e9e9e;
			    box-shadow: none;
			    border-radius: 0px;	
		        padding: 0px;
		       &:focus{
		       	border-color:#47c4f0;
		       	color: #47c4f0;
		       }
			}
		}
	}
}

#enquire-advertisements-modal{
	.modal-close{
	    position: fixed;
	    top: 10px;
	    right: 16px;
	    z-index: 7;
	    font-size: 30px;
	}
	.modal-header{
		font_weight: bold;
		color: #6b7173;
	}
	.modal-content{
		background-image    : url('/images/contact_us/contact_us_form.png');
		display: flex;
		@media (max-width: $screen-xs-max) {
			display:block;
		}
		.advertise-enquiry-form-container{
			width:100%;
		}
		.contact-us-discription-container{
			width: 45%;
			background-image    : url('/images/contact_us/contact_us_discription.jpg');
			background-size     : cover;
			background-position : center;
			background-repeat   : no-repeat;
			padding: 25px 15px;
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
			@media (max-width: $screen-xs-max) {
				width: 100%;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 5px;
			}
			.heading{
				font-size: $coss-font-xl;
			    color: $coss-darkBlack;
			    font-weight: 600;
			    line-height: 1;
			    margin-bottom: 10px;
			}
			.para{
				font-size: $coss-font-xxs;
    			color: $coss-mildBlack;
    			font-weight: bold;
    			padding-top: 10px;
    			padding-bottom: 10px;
			}
		}
		.enquire-advertisements-container{
			width: 100%;
			
			background-size     : cover;
			background-position : center;
			background-repeat   : no-repeat;
			padding: 25px 15px;
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			@media (max-width: $screen-xs-max) {
				width: 100%;
				border-top-right-radius: 0px;
				border-bottom-left-radius: 5px;
				padding: 25px 15px;
			}
			.contact-modal-btn{
				width: 100%;
			}
			.input-label{
				font-size: 12px;
				color: #6b7173;
				margin-bottom: 0px;
			}
			.form-control{
			    border: none;
			    background: transparent;
			    border-bottom: 1px solid #9e9e9e;
			    box-shadow: none;
			    border-radius: 0px;	
		        padding: 0px;
		       &:focus{
		       	border-color:#47c4f0;
		       	color: #47c4f0;
		       }
			}
		}
	}
}

#seaman-book-enquiry-modal{
	.modal-close{
	    position: fixed;
	    top: 10px;
	    right: 16px;
	    z-index: 7;
	    font-size: 30px;
	}
	.modal-header{
		font_weight: bold;
		color: #6b7173;
	}
	.modal-content{
		background-image    : url('/images/contact_us/contact_us_form.png');
		display: flex;
		@media (max-width: $screen-xs-max) {
			display:block;
		}
		.advertise-enquiry-form-container{
			width:100%;
		}
		.contact-us-discription-container{
			width: 45%;
			background-image    : url('/images/contact_us/contact_us_discription.jpg');
			background-size     : cover;
			background-position : center;
			background-repeat   : no-repeat;
			padding: 25px 15px;
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
			@media (max-width: $screen-xs-max) {
				width: 100%;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 5px;
			}
			.heading{
				font-size: $coss-font-xl;
			    color: $coss-darkBlack;
			    font-weight: 600;
			    line-height: 1;
			    margin-bottom: 10px;
			}
			.para{
				font-size: $coss-font-xxs;
    			color: $coss-mildBlack;
    			font-weight: bold;
    			padding-top: 10px;
    			padding-bottom: 10px;
			}
		}
		.enquire-advertisements-container{
			width: 100%;
			
			background-size     : cover;
			background-position : center;
			background-repeat   : no-repeat;
			padding: 25px 15px;
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			@media (max-width: $screen-xs-max) {
				width: 100%;
				border-top-right-radius: 0px;
				border-bottom-left-radius: 5px;
				padding: 25px 15px;
			}
			.contact-modal-btn{
				width: 100%;
			}
			.input-label{
				font-size: 12px;
				color: #6b7173;
				margin-bottom: 0px;
			}
			.form-control{
			    border: none;
			    background: transparent;
			    border-bottom: 1px solid #9e9e9e;
			    box-shadow: none;
			    border-radius: 0px;	
		        padding: 0px;
		       &:focus{
		       	border-color:#47c4f0;
		       	color: #47c4f0;
		       }
			}
		}
	}
}	

	.btn-1 {
		  border: none;
		  color: #FFF;
		  padding: 5px 20px;
		  cursor: pointer;
		  transition: all 0.5s;
		  text-align: center;
		  border-radius: 3px;
		  box-shadow: 0px 2px 4px 0px #888 !important;
		  min-height: 37px;
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: translateZ(0);
		  transform: translateZ(0);
		  //box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -moz-osx-font-smoothing: grayscale;
		  position: relative;
		  -webkit-transition-property: color;
		  transition-property: color;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  line-height: 1;

		  &:hover {
		    color: #FFF !important;
		    &:before {
		      -webkit-transform: scaleY(1);
		      transform: scaleY(1);    
		    }
		  }
		}
		

		.btn-1:active {
		  box-shadow: 0px 0px 5px 0px #AAA inset;
		  position: relative;
		  top: 2px;
		}

		.btn-1.fullwidth {
		  padding: 0.65em 0px;
		  width: 100%;
		}

		.bordered-btn-2.white {
		  color: #fff;
		  border-color: #fff;
		  &:hover {
		    border-color: #5BB6C8;
		  }
		}

		.btn-1.red {
		  //border-bottom: 2px solid #a01507;
		  &:before {
		    background-color: #C53021;
		  }
		}

		.btn-1.blue {
		  background-color: #253f95;
		  //border-bottom: 2px solid #0A1D5C;
		  &:before {
		    background-color: #40569F;
		  }  
		}
		.btn-1.light-blue {
		  background-color: #5bb6c8;
		  //border-bottom: 2px solid #0A1D5C;
		  &:before {
		    //background-color: #4aa0b1;
		  }  
		}

		.box-shadow-none {
		  box-shadow: none !important;
		  -webkit-box-shadow: none !important;
		  -moz-box-shadow: none !important;
		  -o-box-shadow: none !important;
		}

		.border-radius-none {
		  border-radius: 0 !important;
		  -webkit-border-radius: 0 !important;
		  -moz-border-radius: 0 !important;
		  -o-border-radius: 0 !important;
		  &:before {
		    border-radius: 0 !important;
		  }
		}

		.section-heading {
		  position: relative;
		  &:after {
		    content: '';
		    position: absolute;
		    top: 120%;
		    left: 0;
		    width: 70px;
		    height: 1px;
		    background-color: #5BA661;
		  }
		}
		.sub-heading {
		  font-size: 14px;
		  color: #888;
		}

		.p-t-30 {
			padding-top: 30px !important;
		}
	.doctor-icon {
  	    width: 100%;
	    max-height: 100px;
	    max-width: 100px;
	    @media (max-width: $screen-xs-max) {
	    	max-height: 70px;
	    	max-width: 70px;
	    }
    }

	.new-signup-role-content{
	  display: block;
	  padding: 30px;
	  background-color: #f5f5f5;
	  border-radius: 5px;
	  .role-container{
	    text-align: center;
	    padding: 15px 0px 40px 0px;
	    background-color: #f5f5f5;
	    border-radius: 5px;
	    position: relative;
	    cursor: pointer;
	    margin-bottom:30px;
	    .tic{
	      position: absolute;
	      width:45px; 
	      height:45px;
	      background-color: #5bb6c8;
	      border-radius: 50%;
	      left: calc(50% - 22px);
	      bottom: -22px; 
	      padding: 7px 11px;
	      color: #ffffff;
	      font-size: 24px;
	      box-shadow: 0px 4px 9px 2px #ddd;
	      display: none;
	    }
	    &:hover{
	      background-color: #ffffff;
	      box-shadow: 0px 0px 9px 2px #ddd;
	      .tic{
	        display: block;
	      }
	    }
	  }
	  .role-title{
	  	height: 52px;
	    padding-top: 10px;
	    font-size: 15px;
	  }
	}

	.new-signup-doc-content{
	  display: none;
	  padding: 20px 15px;
	  .role-form-title{
	    font-size: 15px;
	    margin-bottom: 15px;
	    .user-role{
	      color: #e65a4b;
	      font-weight:bold;
	    }
	  }

	  .doc-title{
	    display: none;
	  }
	  .patient-title{
	    display: none;
	  }
	  .new-social-signup{
	    height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
	    @media only screen and (max-width: 40em) { 
	        margin-bottom: 50px;
	    }

	    &:after{
	        content: "Or";
	        display: inline-block;
	        font-size: 25px;
	        top: 47%;
	        position: absolute;
	        right: 0px;
	      @media only screen and (max-width: 40em) { 
	        top: 228px;
	        right: 47%;
	      }
	    }
	    img{
	      height: 157px;
	    }
	    .new-gmail-signup{
	      margin-top: 30px;
	      font-size: 16px;
	      width: 91%;
	      .js-show-role{
	        display:none;
	      }
	 
	      @media only screen and (max-width: 40em) { 
	        width: 100%;
	      }
	      .social-login-btn {
	        padding: 6px;
	      }
	      .google-btn{
	        display: flex;
	        border-radius: 4px;
	        background-color: #f2553b!important;
	        &:hover{
	          box-shadow: 1px 3px 5px 0px #9c9090;
	          background-color: #c7442e !important;
	        }
	        .g-icon{
	          padding-left: 6px;
	          padding-right: 10px;
	        }
	        .gmail-text{
	          border-left: 1px solid #d2362a;
	          padding-right: 15px;
	          padding-left: 7px;
	        }
	      }
	    }
	    .doc-img{
	      display: block;
	    }
	    .patient-img{
	      display: block;
	    }
	  }
	  .new-signup-form-container{
	    &:before{
	      content: "";
	      display: block;
	      width: 1px;
	      //background-color: #e1e1e1;
	      height: 44%;
	      top: 0%;
	      left: -12px;
	      position: absolute;
	      @media only screen and (max-width: 40em) { 
	        width: 40%;
	        height: 1px;
	        top: -6%;
	        left: -2px;
	      }
	    }
	    &:after{
	      content: "";
	      display: block;
	      width: 1px;
	     // background-color: #e1e1e1;
	      height: 40%;
	      top: 60%;
	      left: -12px;
	      position: absolute;
	      @media only screen and (max-width: 40em) { 
	        width: 40%;
	        height: 1px;
	        top: -6%;
	        left: 60%;
	      }
	    }
	    .label-icon{
	      margin-right: 6px;
	      color: #f2553b;
	    }
	    .label-text{
	      font-size: 14px;
	    }
	    .optional{
	      font-size: 12px;
	      margin-left: 2px;
	      color: #b7b2b2;
	    }
	    input{
	      margin-bottom: 0px;
	      margin-top: 3px;
	      max-height: 30px;
	    }
	    select{
	      margin-bottom: 0px;
	      margin-top: 3px;
	      max-height: 30px;
	      padding: 0px 3px;
	    }
	    .new-signup-phone{
	      display: flex;
	      padding-left: 8px;
	      padding-right: 8px;
	    }
	    .terms{
	      font-size: 14px;
	      margin-bottom: 10px;
	      margin-left: 0px !important;
	      margin-right: 0px !important;
	      padding-left: 8px;
	    }
	    .new-sign-up-btn{
	      background-color: #c71c14!important;
	      font-size: 18px;
	      padding: 0px;
	      border-radius: 4px;
	      min-height: 37px;
	      transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -o-transition: all 0.5s;

	    }
	  }
	}


  .role-active {
  	background-color: #ffffff;
    box-shadow: 0px 0px 9px 2px #ddd;
    text-align: center;
    padding: 15px 0px 40px 0px;
    background-color: #fff !important;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }

  .tic-check {
  	display: block !important;
  }

  .tic-uncheck {
  	display: none !important;
  }

.new-login-content{
  background-color: #f5f5f5;
  padding: 15px 15px;
  border-radius: 4px;
  .new-social-signup{
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media only screen and (max-width: 40em) { 
        margin-bottom: 50px;
    }
    &:after{
      content: "Or";
      display: inline-block;
      font-size: 25px;
      top: 37%;
      position: absolute;
      right: 0px;
      @media only screen and (max-width: 40em) { 
        top: 112px;
        right: 46%;
      }
    }
    img{
      height: 157px;
    }
    .new-gmail-signup{
      margin-top: 3px;
      font-size: 16px;
      width: 91%;
      @media only screen and (max-width: 40em) { 
        width: 100%;
      }
      .social-login-btn {
        padding: 6px;
      }
      .google-btn{
        display: flex;
        border-radius: 4px;
        background-color: #f2553b!important;
        &:hover{
          box-shadow: 1px 3px 5px 0px #9c9090;
          background-color: #c7442e !important;
        }
        .g-icon{
          padding-left: 6px;
          padding-right: 10px;
        }
        .gmail-text{
          border-left: 1px solid #d2362a;
          padding-right: 15px;
          padding-left: 7px;
        }
      }
    }
    .new-fb-signup{
      margin-top: 30px;
      font-size: 16px;
      width: 91%;
      @media only screen and (max-width: 40em) { 
        width: 100%;
      }
      .social-login-btn {
        padding: 6px;
      }
      .fb-btn{
        display: flex;
        border-radius: 4px;
        &:hover{
          box-shadow: 1px 3px 5px 0px #9c9090;
          background-color: #3c5486!important;
        }
        .fb-icon{
          padding-left: 6px;
          padding-right: 10px;
        }
        .fb-text{
          border-left: 1px solid #182646;
          padding-right: 15px;
          padding-left: 7px;
        }
      }
    }
  }
  .new-login-form-container{
    &:before{
      content: "";
      display: block;
      width: 1px;
      //background-color: #e1e1e1;
      height: 44%;
      top: 0%;
      left: -12px;
      position: absolute;
      @media only screen and (max-width: 40em) { 
        width: 40%;
        height: 1px;
        top: -9%;
        left: -2px;
      }
    }
    &:after{
      content: "";
      display: block;
      width: 1px;
      //background-color: #e1e1e1;
      height: 40%;
      top: 60%;
      left: -12px;
      position: absolute;
      @media only screen and (max-width: 40em) { 
        width: 40%;
        height: 1px;
        top: -9%;
        left: 60%;
      }
    }
    .label-icon{
      margin-right: 6px;
      color: #f2553b;
    }
    .label-text{
      font-size: 14px;
    }
    input{
      margin-bottom: 0px;
      margin-top: 3px;
      max-height: 30px;
    }
    .new-sign-up-btn{
      background-color: #c71c14!important;
      font-size: 18px;
      padding: 0px;
      border-radius: 4px;
      min-height: 37px;
      transition: all 0.5s;
	  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    }
    .forget-pass-link{
        font-size: 13px;
    }
  }
}
	
	.white-popup {
	  position: relative;
	  background: #FFF;
	  padding: 20px;
	  width: auto;
	  max-width: 500px;
	  margin: 0px auto;
	  text-align:center;
	}

	.signin-sigup-default {
	  max-width: 585px!important;
	  padding: 0px!important;
	  border-radius: 5px;
	  text-align:left !important;
	}

	.signin-signup-heading{
	  padding: 0px 40px;
		border-bottom: 1px solid #eeeeee;
		cursor: pointer;
	  a{
	    color: black;
	    cursor: pointer;
	  }
	  .signin-signup{
	    font-size: 16px;
	    line-height: 40px;
	    border-bottom: 2px solid transparent;
	    display: inline-block;
	    padding-top: 5px;
	  }
	  .signin-book{
	  	font-size: 16px;
	  	line-height: 40px;
	  	border-bottom: 2px solid transparent;
	  	display: inline-block;
	  	padding-top: 5px;
	  }
	  .new-sigin-link, .new-sigup-link{
	    margin-right: 18px;
	  }
	  .active{
	    font-weight: bold;
	    color: #5bb6c8;
	    border-bottom: 2px solid #5bb6c8;
	    a{
    		text-decoration: none;
	    	color: #5bb6c8;
	    	cursor: pointer;
	  	}
	  }
	}

	.new-login-content{
	  padding: 15px 15px;
	  .new-social-signup{
	    height: 100%;
	    display: flex;
	    align-items: center;
	    flex-wrap: wrap;
	    @media only screen and (max-width: 40em) { 
	        margin-bottom: 50px;
	    }
	    &:after{
	      content: "Or";
	      display: inline-block;
	      font-size: 25px;
	      top: 37%;
	      position: absolute;
	      right: 0px;
	      @media only screen and (max-width: 40em) { 
	        top: 112px;
	        right: 46%;
	      }
	    }
	    img{
	      height: 157px;
	    }
	    .new-gmail-signup{
	      margin-top: 3px;
	      font-size: 16px;
	      width: 91%;
	      @media only screen and (max-width: 40em) { 
	        width: 100%;
	      }
	      .social-login-btn {
	        padding: 6px;
	      }
	      .google-btn{
	        display: flex;
	        border-radius: 4px;
	        background-color: #f2553b!important;
	        &:hover{
	          box-shadow: 1px 3px 5px 0px #9c9090;
	          background-color: #c7442e !important;
	        }
	        .g-icon{
	          padding-left: 6px;
	          padding-right: 10px;
	        }
	        .gmail-text{
	          border-left: 1px solid #d2362a;
	          padding-right: 15px;
	          padding-left: 7px;
	        }
	      }
	    }
	    .new-fb-signup{
	      margin-top: 30px;
	      font-size: 16px;
	      width: 91%;
	      @media only screen and (max-width: 40em) { 
	        width: 100%;
	      }
	      .social-login-btn {
	        padding: 6px;
	      }
	      .fb-btn{
	        display: flex;
	        border-radius: 4px;
	        &:hover{
	          box-shadow: 1px 3px 5px 0px #9c9090;
	          background-color: #3c5486!important;
	        }
	        .fb-icon{
	          padding-left: 6px;
	          padding-right: 10px;
	        }
	        .fb-text{
	          border-left: 1px solid #182646;
	          padding-right: 15px;
	          padding-left: 7px;
	        }
	      }
	    }
	  }
	  .new-signup-form-container{
	    &:before{
	      content: "";
	      display: block;
	      width: 1px;
	      //background-color: #e1e1e1;
	      height: 44%;
	      top: 0%;
	      left: -12px;
	      position: absolute;
	      @media only screen and (max-width: 40em) { 
	        width: 40%;
	        height: 1px;
	        top: -6%;
	        left: -2px;
	      }
	    }
	    &:after{
	      content: "";
	      display: block;
	      width: 1px;
	      //background-color: #e1e1e1;
	      height: 40%;
	      top: 60%;
	      left: -12px;
	      position: absolute;
	      @media only screen and (max-width: 40em) { 
	        width: 40%;
	        height: 1px;
	        top: -6%;
	        left: 60%;
	      }
	    }
	  }

	    .label-icon{
	      margin-right: 6px;
	      color: #f2553b;
	    }
	    .label-text{
	      font-size: 14px;
	    }
	    .optional{
	      font-size: 12px;
	      margin-left: 2px;
	      color: #b7b2b2;
	    }
	    input{
	      margin-bottom: 0px;
	      margin-top: 3px;
	      max-height: 30px;
	    }
	    select{
	      margin-bottom: 0px;
	      margin-top: 3px;
	      max-height: 30px;
	      padding: 0px 3px;
	    }
	    .new-signup-phone{
	      display: flex;
	      padding-left: 8px;
	      padding-right: 8px;
	    }
	    .terms{
	      font-size: 14px;
	      margin-bottom: 10px;
	      margin-left: 0px !important;
	      margin-right: 0px !important;
	      padding-left: 8px;
	    }
	    .new-sign-up-btn{
	      background-color: #c71c14!important;
	      font-size: 18px;
	      padding: 0px;
	      border-radius: 4px;
	      min-height: 37px;
	      transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -o-transition: all 0.5s;
	    }

	  	.width100 {
		  width: 100% !important;
		}
		.pos-relative {
		  position: relative !important;
		}
		.pos-absolute {
		  position: absolute !important;
		}
		.float-none {
		  float: none !important;
		}
		.font-bold {
			font-weight: bold !important;
		}
		.colorfff {
			color: #fff !important;
		}
		.fullwidth {
		  width: 100% !important;
		}
		.nomargin {
		  margin: 0 !important;
		}
		.margin-right-10 {
		  margin-right: 10px !important;
		}
		.margin-bottom-0 {
		  margin-bottom: 0px !important;
		}
		.margin-bottom-5 {
		  margin-bottom: 5px !important;
		}
		.margin-bottom-10 {
		  margin-bottom: 10px !important;
		}
		.margin-bottom-15 {
		  margin-bottom: 15px !important;
		}
		.margin-bottom-20 {
		  margin-bottom: 20px !important;
		}
		.margin-bottom-30 {
		  margin-bottom: 30px !important;
		}
		.margin-bottom-45 {
		  margin-bottom: 45px !important;
		}
		.margin-top-20 {
		  margin-top: 20px !important;
		}
		.margin-top-10 {
		  margin-top: 10px !important;
		}
		.margin-top-30 {
		  margin-top: 30px !important;
		}
		.margin-top-45 {
		  margin-top: 45px !important;
		}
		.margin-left-20 {
		  margin-left: 20px !important;
		}
		.margin-left-10percent {
		  margin-left: 5% !important;
		}
		.margin-left-5 {
		  margin-left: 5px !important;
		}
		.margin-left-10 {
		  margin-left: 10px !important;
		}
		.margin-right-20 {
		  margin-right: 20px !important;
		}
		.margin-vert-10 {
		  margin-top: 10px !important;
		  margin-bottom: 10px !important; 
		}
		.margin-vert-5 {
		  margin-top: 5px !important;
		  margin-bottom: 5px !important; 
		}
		.margin-vert-20 {
		  margin-top: 20px !important;
		  margin-bottom: 20px !important; 
		}
		.margin-vert-50 {
		  margin-top: 50px !important;
		  margin-bottom: 50px !important; 
		}
		.margin-5 {
			marginn: 5px !important;
		}
		.nopadding {
		  padding: 0 !important;
		}
		.padding-10 {
		  padding: 10px !important;
		}
		.padding-vert-30 {
		  padding-top: 30px !important;
		  padding-bottom: 30px !important;
		}
		.no-padding-top {
		  padding-top: 0px;
		}
		.no-padding-left {
		  padding-left: 0px;
		}
		.padding-top-5 {
		  padding-top: 5px !important;
		}
		.padding-top-10 {
		  padding-top: 10px !important;
		}
		.padding-top-20 {
		  padding-top: 20px !important;
		}
		.padding-bottom-10 {
		  padding-bottom: 10px !important;
		}
		.padding-bottom-50 {
		  padding-bottom: 50px !important;
		}
		.padding-vert-10 {
		  padding-top: 10px !important;
		  padding-bottom: 10px !important;
		}
		.padding-vert-20 {
		  padding-top: 20px !important;
		  padding-bottom: 20px !important;
		}
		.padding-vert-50 {
		  padding-top: 50px !important;
		  padding-bottom: 50px !important;
		}
		.padding-hori-10 {
		  padding-right: 10px !important;
		  padding-left: 10px !important;
		}
		.padding-hori-15 {
		  padding-right: 15px !important;
		  padding-left: 15px !important;
		}
		.padding-hori-20 {
		  padding-right: 20px !important;
		  padding-left: 20px !important;
		}
		.padding-left-0 {
		  padding-left: 0 !important;
		}
		.padding-right-0 {
		  padding-right: 0 !important;
		}
		.display-inline-block {
		  display: inline-block !important;
		}

		// #ui-datepicker-div {
		//   font-family: inherit;
		// }
		// .ui-datepicker .ui-datepicker-title select {
		//   padding: 0px;
		// }

		.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
		  font-family: inherit !important;
		}

		.ui-widget-header {
		  color: #000 !important;
		}

		.bordered-btn-2 {
		  background-color: transparent !important;
		  color: #777;
		  border: 1px solid;
		  border-color: #7F9B9F;
		  border-radius: 2px;
		  padding: 5px 20px;
		  min-height: 46px;
		  cursor: pointer;
		  transition: all 0.5s;
		  text-align: center;
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: translateZ(0);
		  transform: translateZ(0);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -moz-osx-font-smoothing: grayscale;
		  position: relative;
		  -webkit-transition-property: color;
		  transition-property: color;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  //line-height: 1;
		  display: flex !important;
		  align-items: center;
		  justify-content: center;

		  &:hover {
		    color: #FFF !important;
		    &:before {
		      -webkit-transform: scaleY(1);
		      transform: scaleY(1);    
		    }
		  }
		  &:active {
		    position: relative;
		    top: 2px;
		  }
		}

		.bordered-btn-2:before {
		  border-radius: 2px;
		  content: "";
		  position: absolute;
		  z-index: -1;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background: #5BB6C8;
		  box-shadow: 0px 2px 4px 0px #888;
		  -webkit-transform: scaleY(0);
		  transform: scaleY(0);
		  -webkit-transform-origin: 50% 100%;
		  transform-origin: 50% 100%;
		  -webkit-transition-property: transform;
		  transition-property: transform;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-timing-function: ease-out;
		  transition-timing-function: ease-out;    
		}

		.bordered-btn-2.btn-small {
		  padding: 0 10px;
		  font-size: 13px;
		  min-height: 30px;
		}

		.bordered-btn-2.inline-btn {
		  width: 120px;
		  display: inline-block !important;
		  line-height: 33px;
		  padding: 0;
		  min-height: 35px;
		}

		a.bordered-btn-2 {
		  display: table;
		  div {
		    display: table-cell;
		    vertical-align: middle;
		  }
		}

		

	  .new-login-form-container{
	    &:before{
	      content: "";
	      display: block;
	      width: 1px;
	      //background-color: #e1e1e1;
	      height: 44%;
	      top: 0%;
	      left: -12px;
	      position: absolute;
	      @media only screen and (max-width: 40em) { 
	        width: 40%;
	        height: 1px;
	        top: -9%;
	        left: -2px;
	      }
	    }
	    &:after{
	      content: "";
	      display: block;
	      width: 1px;
	      //background-color: #e1e1e1;
	      height: 40%;
	      top: 60%;
	      left: -12px;
	      position: absolute;
	      @media only screen and (max-width: 40em) { 
	        width: 40%;
	        height: 1px;
	        top: -9%;
	        left: 60%;
	      }
	    }
	    .label-icon{
	      margin-right: 6px;
	      color: #f2553b;
	    }
	    .label-text{
	      font-size: 14px;
	    }
	    input{
	      margin-bottom: 0px;
	      margin-top: 3px;
	      max-height: 30px;
	    }
	    .new-sign-up-btn{
	      background-color: #c71c14!important;
	      font-size: 18px;
	      padding: 0px;
	      border-radius: 4px;
	      min-height: 37px;
	      transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -o-transition: all 0.5s;
	    }
	    .forget-pass-link{
	        font-size: 13px;
	    }
	  }

	.medium-12 {
		width: 100%;
	}

	.columns {
		position: relative;
	    padding-left: 0.9375rem;
	    padding-right: 0.9375rem;
	}
	.flex-center{
		@media only screen and (min-width: 40em) { 
	    display: flex;
	    align-items: center;
	    justify-content: center;
	  }
	}

	.popupTitle {
	  margin: 0.7em 0;
	  text-align: center;
	  color: #222;
	  letter-spacing: 0.1em;
	  border-bottom: 1px solid #EEE;
	  font-weight: bold;
	  font-size: 2em;
	  /*font-family: PT;*/
	  padding-bottom: 0.3em;
	}

	.white-popup .link {
	  margin-top: 1em;
	}

	/* login & signup */
	#login-form, #signup-form {
	  display: none;
	  .row {
	  	margin: 0 -0.5rem;
	  }
	  .columns {
		   padding: 0 0.5rem;
		}
	}
	.social-sep {
	  position: absolute;
	  top: 11px;
	  width : 100%;
	  text-align: center;
	  color: #253F95;
	  font-weight: bold;
	  span {
	    background: #fff;
	    width: 170px;
	    margin: 0 auto;
	    display: block;  
	  }
	}

	.social-login-btn {
	  padding: 10px;
	  display: block;
	  color: #fff;
	  transition: all 0.5s;
	  -webkit-transition: all 0.5s;
	  -moz-transition: all 0.5s;
	  -o-transition: all 0.5s;
	  &:hover, &:focus {
	    color: #fff
	  }
	  i {
	    left: 15px;
	  }
	}

	.social-login-btn.fb-btn {
	  background: #3b5998;
	  &:hover {
	    background: #2A3457;
	  }
	}
	.social-login-btn.google-btn {
	  background: #DF4B38;
	  &:hover {
	    background: #C53021;
	  }
	}

	.blockUI {
	  min-width: 250px;
	  padding: 20px 0 !important;
	  z-index:1200 !important;
	}

	.large-12 {
		width: 100%;
	}

	.mar-b-10{
	  margin-bottom: 10px;
	}
	.sm-modal-default {
	  max-width: 340px!important;
	  padding: 0px!important;
	  border-radius: 5px;
	}
	

}
.sm-mar-b-30{
	@media only screen and (max-width: 40em) { 
	  margin-bottom:30px;
	}
}
