.back-white{
	background-color: #fff;
}
.border-rad-l{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	@media (max-width: $screen-xs-max){ 
		border-bottom-left-radius: 0px;
		border-top-right-radius: 4px;
	}
}
.border-rad-r{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	@media (max-width: $screen-xs-max){ 
		border-top-right-radius: 0px;
		border-bottom-left-radius: 4px;
	}
}
.loader {
	position: absolute;
	border: 5px solid #f3f3f3;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 40%;
}
.fade-img {
	opacity: 0.5;
	height: 128px;
	width: 260px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.home-new{
	.section{
		padding-top:20px;
		padding-bottom:20px;
		@media (max-width : 767px){
	    	padding-bottom: 60px;
	    }
	    @media (max-width : 1024px){
	    	padding-bottom: 60px;
	    }
	}
	.section_new{
		padding-top:40px;
		padding-bottom:40px;
	}
	.section_1{
		width               : 100%;
		background-image    : url('/images/home/coss_banner.jpg')!important;
		background-size     : cover;
		background-position : center;
		background-repeat   : no-repeat;
		position            : relative; 
		padding-top         : 70px;
		padding-bottom      : 60px;

		.banner_text_new{
			text-align: center;
			font-size   : 40px;
			color       : #fff;
			line-height : 1;
			font-weight: bold;

		    @media (max-width: $screen-xs-max){ line-height: 1.25; }
		}
		.search-option-container{
			text-align: center;
			padding-top: 60px;
			.search-card{
				background-color:transparent;
				border-radius: 4px;
				color: #fff;
				width: 105px;
				display: inline-block;
				margin-left: 20px;
				margin-right: 20px;
				border:1px solid transparent;
				cursor: pointer;
				position: relative;
				.arrow-up {
					position: absolute;
				    bottom: -32px;
    				left: 35%;
					width: 0; 
					height: 0; 
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
				  	border-bottom: 15px solid #fff;
				  	display: none;
				}
				.img-container{

				}
				.title{
					font-size: $coss-font-xxs;
					text-align: center;
					padding-top: 8px;
    				padding-bottom: 5px;
				}
			}
			.home-search-active{
				background-color:#018bcc;
				border-color:#fff;
				.arrow-up{
					display: block;
				}
			}
		}
		.banner-search-container{
		    margin: 30px auto 0px;
			max-width: 930px;
			.search-container-row{
				@media (max-width: $screen-xs-max) {
					padding:0px 15px;
					.search-btn {
						padding: 0px;
					}
				}
			}
			.per-search{
			    padding: 4px 10px;
				border-right: 1px solid #ddd;
				@media (max-width: $screen-xs-max) {
					border-right:none;
					border-bottom: 1px solid #ddd;
				}
				.control-label{
					margin-top: 8px;
					font-size: $coss-font-xxs;
				}
				.form-control{
					border: none;
					box-shadow: none;
					font-size: $coss-font-xxs;
				}
			}
			.fa-search{
				margin-right: 5px;
			}
			.section_cta{
				@media (max-width: $screen-xs-max) {
			    	margin-top: 10px;
    				text-align: right;	
    				button {
    					width: 100%;
    				}
				}
			}
		}

		.banner_cta{ margin-top : 0px !important; }
	}
	.lg_curved_overlay_new{
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    z-index: 0;
	    background: rgba(0, 0, 0, 0.2);
	}


	.section_2{
		.ad_card_box{

		}
		
		.institute_logo{
			padding: 12px 0;
			img{
				height: 200px;
				width: 200px;
			}
			@media (max-width : 768px){
				img{
					height: 100px;
					width: 100px;
				}
			}
			
		}
		
		.ad_card{
		    margin: 10px 15px !important;
		    width: 270px;
		    height: 164px;
			.ad_cardTitle{
				padding: 5px 5px !important;
				font-size: 16px;
				.advertisement_enquiry{
					float: right;
					cursor: pointer;
					font-size: 14px;
   					margin-top: 4px;
				}
			}
			.ad_cardImg {
				position: relative;
			}
			.ad_cardImg img{
				max-height: 128px;
				width: 260px;
    			height: 128px;
			}
			.ad_card_logo_container{
				display: flex;
			    justify-content: space-around;
			    margin: 6px;
			}
		}
	}
}