.dashboard-body{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: hidden;
    background-color: #f1f3f7 !important;
    .main{
        flex: 1;
        min-width: 0;
        transition: margin-left .25s,margin-right .25s,width .25s,flex .25s,-ms-flex .25s;
        margin-left: 250px;
        margin-top: 55px;
        padding: 20px 0 80px 0;
        @media(max-width:768px){
            margin-left: 0;
            // margin-top: 0;
        }
        .logo{
            text-align: center;
            background-color: #fff;
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 20px;
            width: 200px;
            border-radius: 50%;
            margin: 0 auto;
            &-title{
                text-align: center;

            }
        }
        .banner{
            border-radius: 5px;
            &-image{
                height: 300px;
                width: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 5px;
            }
        }
        .courses{
            .card{
                &:hover{
                    background-color: $cs-primary-color;
                }
            }
            .course_list{

            }
            .course_list_item{
              border: none;
                &:hover{
                    border:none;
                    border-bottom: 2px solid $cs-secondary-color;
                }
                &.active{
                    border:none !important;
                    border-bottom: 2px solid $cs-secondary-color !important; 
                    a{
                        color: $cs-secondary-color !important;
                    }
                }  
                a{
                    border: none;
                    color: #a9b6cb;
                    font-weight: 600;
                    &:hover{
                        color: $cs-secondary-color;
                        background-color: transparent;
                    }

                }
            }
            .tab-content{
                .content{
                    &-title{
                        color: $cs-secondary-color;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.2;
                        padding: 10px 0
                    }
                    .list{
                        display: flex;
                        flex-wrap: wrap;
                        flex-flow: column;
                        justify-content: flex-start;
                        &-item{
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                            justify-content: flex-start;
                            padding: 10px 0;
                            .icon{
                                margin-right: 10px;
                                display: block;
                            }
                            .text{
                                display: block;
                            }
                        }
                    }
                }
            }
            
        }
        .gallery-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            &-item{
                width: 22%;
                height:175px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 10px;
                border-radius:6px;
                @media(max-width:1024px){
                    height: 120px;
                }
                @media(max-width:560px){
                    height: 75px;
                }
            }
        }
    }
    .block-small{
        @media(max-width:768px){
            display: block !important;
        }
    }
}

li.intc-text.active > a {
    color: #34b5f2 !important;
    font-weight: bold;
}