.h-100{
	height: 100%;
}
.m-0{
	margin: 0px;
}
.p-0{
	padding: 0px;
}
.flex-height{
	display: flex;
	flex-wrap: wrap;
}
.job-application-listing{
	background-color: #f1f3f7;
	.listing-container{
		/*padding: 25px 30px;*/

		@media (max-width: $screen-xs-max) { margin-left: 0px; }

		.job-card{
			background-color: #fff;
			box-shadow: 0 2px 8px 0px #b1abab;
			border-radius: 5px;
			margin-bottom: 10px;
			.setting{
				float: right;
				cursor: pointer;
				margin-right: 5px;
				margin-top: 5px;
				a{
					color: #828282;
					font-size: 16px;
				}
			}
			.job-company-image{
			    display: flex;
			    justify-content: center;
			    align-items: center;
			}
			.company-discription{
			    border-left: 1px solid #cdcdcd;
				padding: 15px 20px;
				.company-name{
					padding: 0px 0px 5px 0px;
					font-size: 16px;
					color: #000;
				}
				.other-discription{
					color: #8e8e8e;
					padding: 3px 0px;
				}
			}
		}
	}
	
}

.job_applicant_pic_name{
	span{
		display: block;
		text-align: center;
		padding: 5px 0px;
		color: #04a3ed !important;
	}
}

.job_applicant_pic{
	padding: 10px;
	.profile-btn-container{
		@media (min-width: 768px) and (max-width: 1023px){
			display: flex;
			align-items: center;
		}
		.coss-inverse-btn{
			@media (min-width: 768px) and (max-width: 1023px){
				margin-right: 10px;
			}
		}
		.d-btn{
			padding: 5px !important;
		}
	}
}

.company_main_container{
	.company_job_card{
		.other-discription{
			color: #8e8e8e;
		}
	}
}

.ship_details_container{
	.content_description{
		display: block;
	}
}

.company_job_details{
	.apply-btn{
		height: 40px;
		width: 100%;
		padding: 0px;
		border-radius: 0px;
		margin: 10px 0px 0px 0px;
	}
}
