.my-profile{
    padding: 80px 0 80px 0;
    .logo{
        text-align: center;
        background-color: #fff;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 20px;
        width: 200px;
        border-radius: 50%;
        margin: 0 auto;
        &-title{
            text-align: center;

        }
    }
    .course_list{
        background-color: transparent !important;
    }
    .course_list_item{
      border: none;
        &:hover{
            border:none !important;
            border-bottom: 2px solid $cs-secondary-color; 
        }
        &.active{
            border:none !important;
            border-bottom: 2px solid $cs-secondary-color !important; 
            background-color: transparent !important;
            a{
                color: $cs-secondary-color !important;
                background-color: transparent !important;
            }
        }  
        a{
            border: none !important;
            color: #a9b6cb;
            font-weight: 600;
            &:hover{
                color: $cs-secondary-color;
                border:none !important;
                background-color: transparent;
            }

        }
    }
    .tab-content{
        .content{
            &-title{
                color: $cs-secondary-color;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.2;
                padding: 10px 0
            }
            .list{
                display: flex;
                flex-wrap: wrap;
                flex-flow: column;
                justify-content: flex-start;
                &-item{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 10px 0;
                    .icon{
                        margin-right: 10px;
                        display: block;
                    }
                    .text{
                        display: block;
                    }
                }
            }
        }
    }
}