.m-0{
	margin: 0px;
}
.p-0{
	padding: 0px;
}
.flex-height{
	display: flex;flex-wrap: wrap;
}
.flex-center{
	display: flex;justify-content: center;align-items: center;margin: 20px auto;
	@media (max-width: $screen-xs-max) { margin: 40px auto 5px;}
}
.search-listing{
	padding-top: 50px;
	background-color: #f1f3f7;
	.search-listing-sm-filter-btn{
		padding: 16px;
		font-size: 26px;
		position: fixed;
		top: 25%;
		left: 0px;
		z-index: 10;
		background: #47c4f0;
		border-radius: 0px 5px 5px 0px;
		color: #fff;
		@media (min-width: $screen-sm-min) {
			display:none;
		}
	}
	.filter-container-lg{
		@media (max-width: $screen-xs-max) { 
			display:none;
		 }
	}
	.filter-container{
		background-color: #fff;
		box-shadow: 0 1px 3px 0px #b1abab;
		border-radius: 4px;
		.heading{
			padding: 5px 23px;
			background-color: #04a3ed;
			color: #fff;
			font-size: $coss-font-lg;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		.content-container{
			padding-bottom: 2px;
			.form-group{
				position: relative;
				padding-top: 10px;
			    padding-right: 15px;
	    		padding-left: 15px;
	    		.calendar-icon{
					float: right;
				    position: absolute;
				    right: 22px;
				    bottom: 10px;
	    		}
				.input-label{
					font-size: 16px;
					color: #8e8e8e;
					margin-bottom: 0px;
					font-weight: normal;
					width: 100%;
				}
				.form-control{
				    border: none;
				    background: transparent;
				    border-bottom: 1px solid #9e9e9e;
				    box-shadow: none;
				    border-radius: 0px;
			        padding: 0px;
			        &::placeholder{
			        	color:#4e4e4e;
			        }
			       &:focus{
			       	border-color:#47c4f0;
			       	color: #47c4f0;
			       	&::placeholder{
			        	color:#47c4f0;
			        }
			       }
				}
				.radio-inline{
					margin-top: 15px;
				}
				.checkbox-inline{
					margin-top: 35px;
				}
			}
		}
	}
	.search-listing-container{
		.sort-by-container{
			border-bottom: 1px solid #dedede;
			padding: 2px 0px;
			.search-title{
				font-size: $coss-font-sm;
				color:#767c8b;
			}
			.sort{
				color:#767c8b; 
				.title{
					font-size: $coss-font-sm;
				}
				.sort-btn{
				    background-color: transparent;
    				border: none;
    				font-size: $coss-font-xxs;
    				&:hover{
    					text-decoration:underline;
    				}
				}
				.sort-active{
					background-color: $coss-primary-color;
					border-radius: 3px;
					color: #fff;
				}
			}
		}
		.card-container{
			.job-card{
				background-color: #fff;
				box-shadow: 0 2px 8px 0px #b1abab;
				border-radius: 5px;
				margin-top: 10px;
				position: relative;
				.applied-company{
					position: absolute;
				    top: 0px;
				    left: 0px;
					margin-top: 10px;
					margin-left: 10px;
					background-color: #1ca83b;
					color: #fff;
				    padding: 2px 5px;
    				border-radius: 3px;
    				font-size: $coss-font-xxs;
    				z-index: 9;
    				.applied-icon{
    					margin-right: 3px;
    				}
				}
				.job-company-image{
				    display: flex;
				    justify-content: center;
				    align-items: center;
				}
				.company-discription{
				    border-left: 1px solid #cdcdcd;
					padding: 15px 20px;
					min-height: 192px;
					.company-name{
						padding: 0px 0px 5px 0px;
						font-size: 16px;
						color: #000;
					}
					.other-discription{
						color: #8e8e8e;
						padding: 3px 0px;
					}
				}
				.apply-btn{
				    height: 40px;
				    width: 100%;
				    padding: 0px;
				    border-radius: 0px;
				}
			}
		}
	}
	#search-listing-filter-modal{
		.modal-header{
		    padding: 4px 10px;
		}
		.modal-footer{
		    padding: 5px 15px;
		}
	}
}