

.service{
	/*padding-top: 50px;*/

	@media (min-width: $grid-float-breakpoint) AND (max-width: $grid-float-breakpoint){ padding-top: 65px; }

	.section_1{
		width               : 100%;
		background-image    : url('/images/services/banner_1.jpg');
		background-size     : cover;
		background-position : center;
		background-repeat   : no-repeat;
		position            : relative; 
		padding-top         : 60px;
		padding-bottom      : 50px;

		.banner_title{
			font-size   : $coss-font-xxl;
			color       : $coss-mildBlack;
			line-height : 1;
			text-align  : center;
			font-weight : 600; 

		    @media (max-width: $screen-xs-max){ line-height: 1.25; }
		}

		.banner_subTitle{}
	}


	.section_2{

		.dropdown_xs{
			display: flex;
    		align-items: center;
    		background-color : #f9f9f9;

    		&.fixed_top{
				position: fixed;
			    top: 50px;
			    left: 0;
			    right: 0;
			    z-index: 999;
    		}

    		&-btn{
    			color : #262626;
    			background-color : transparent;
    			border-color : transparent;

    			@media (max-width : $screen-xs-max){
    				background-color : transparent;
    				border-color : transparent;
    			}

    			.caret{
    				border-top: 6px solid;
				    border-right: 8px solid transparent;
				    border-left: 8px solid transparent;
    			}
    		}

    		&-title{
    			display : block;
    			padding-left : 20px;
    		}
		}

		.affix-bottom{
			position : absolute;
		}

		.coss_sideBar{
			height: 100vh;
			position: relative;
			z-index : 900;

			@media (max-width : $screen-sm-max){
				position : fixed;
				width : 240px;
				height : 100%;
				background-color : #FFFFFF;
				top : 50px;
				left: -100%;
				z-index : 999;
			}

			&.fixed_sidenav{
				position : fixed;
				top : 65px!important;
				left: 0;
				height : 100%;

				@media (max-width : $screen-sm-max){ display : none; }
			}

			&-menu{
				height: 70%;
				overflow-y: auto;
				border : 0;
				// float : none;

				&::-webkit-scrollbar {
                  width: 4px;
                }
                 
                /* Track */
                &::-webkit-scrollbar-track {
                  -webkit-box-shadow: inset 0 0 1px rgb(255,255,255); 
                  -webkit-border-radius: 0;
                  border-radius: 0;
                }
                 
                /* Handle */
                &::-webkit-scrollbar-thumb {
                  -webkit-border-radius: 0px;
                  border-radius: 0px;
                  background: $coss-primary-color; 
                  -webkit-box-shadow: inset 0 0 6px $coss-primary-color; 
                }
                &::-webkit-scrollbar-thumb:window-inactive {
                  background: rgba(255,0,0,0.4); 
                }

				&Item{
					float : none;

					&.active{
						a{
							background-color: $coss-primary-color !important;
					    	color: #FFFFFF !important;
					    	border : 0 !important;
					    	cursor: pointer !important;
						}
					}

					a{
						display: block;
						font-size: $coss-font-md;
					    padding: 12px 20px;
					    line-height: normal;
					    color: $coss-mildBlack;
					    text-decoration: none;
					    cursor: pointer;
					    transition: all 0.35s ease-in-out;

					    margin-right : 0;
					    border : 0;
					    border-radius : 0;

					    &:hover{
					    	background-color: $coss-primary-color !important;
					    	color: #FFFFFF !important;
					    }
					}

					.drop__icon{
						float: right;
					}


					.panel-group{
						margin-bottom : 0;
					}

					.panel-default{ 
						border : 0; 

						&.panel{ box-shadow : none; }
						
						>.panel-heading{
							padding : 0;
							background-color : transparent;

							.panel-title{
								a{
									&.collapsed{
										.drop__icon{
											transition : transform 0.25s linear;
											transform: rotate(90deg);
										}
									}
								}
							}
						}
					}

					.panel-body{
						padding : 0 ;
						border-top : 0;

						.dropdown{
							list-style-type : none;
							padding : 0;
							margin-bottom : 0;

							&-icon{}

							&__item{
								a{
									padding: 12px 20px 12px 30px !important;
									font-size: $coss-font-md !important;
								}
							}
						}

						.has__dropdown{
							padding-left : 0;
							list-style-type : none;

							&--item{
								a{
									padding: 12px 20px 12px 45px !important;
									font-size: $coss-font-default !important;
								}
							}
						}
					}
				}
			}
		}

		.coss_sideBarContent{

			.sideBarContent{

				&.p_t_93{ 
					padding-top : 93px;

					.slider_wrapper{
						position : fixed;
	                    top : 65px;
	                    right : 0;
	                    z-index : 1000;
	                    @extend .z-depth-1;
					}
				}

				.seaman_book{
					 background-color: #177b9b;
					 color: #FFF;
					 padding: 0 50px;

					 // .slick-current{
					 // 	@media (max-width : $screen-xs-max){
					 // 		background-color : #FFFFFF;

					 // 		.seaman_book_slideTitle{ color : $coss-primary-color; }
					 // 	}
					 // }

					 .active{
						 background-color : #FFFFFF;
						 height: 95px;

						 .seaman_book_slideTitle{ color : $coss-primary-color; }
					 }

					 &_slide{
						 text-align : center;
						 padding : 15px 0;
						 outline : 0;
						 cursor : pointer;


						 &Img{
							 margin : 0 auto;
							 border-radius: 5px;
							 border: 1px solid #FFFFFF;
						 }

						 &Title{
							 margin-top: 5px;
							 display : block;
							 line-height : 1;
						 }
					 }

					 .navArrow{
						 width: 30px;
						 height: 30px;
						 display: flex !important;
						 align-items: center;
						 justify-content: center;
						 border: 2px solid #435a62;
						 color: #435a62;
						 background-color: #FFFFFF;
						 border-radius: 50%;
						 position: absolute;
						 top: calc(50% - 15px);
						 cursor : pointer;
						 transition : all 0.25s ease-in-out;

						 &:hover{
							 color : $coss-primary-color;
							 border-color : $coss-primary-color;
							 @extend .z-depth-1;
						 }

						 &_prev{
							 left: 10px;
							 padding-right: 3px;
						 }

						 &_next{
							 right: 10px;
							 padding-left: 3px;
						 }
					 }
				 }

				.seamanBook_card{
					padding : 30px;
					background-color : #ffffff;
				    border-bottom: 1px solid #d6d6d6;

					&-title{
						display: flex;
    					align-items: center;
    					line-height : 1;

						.logo{
						    background-position: center;
						    background-size: cover;
						    min-width: 60px;
						    height: 35px;
						    border-radius: 5px;

						    &.lsb{ background-image: url(/images/services/liberian.jpg); }
						    &.msb{ background-image: url(/images/services/micronesia.jpg); }
						    &.dsb{ background-image: url(/images/services/dominican.jpg); }
						    &.psb{ background-image: url(/images/services/palau.jpg); }
						    &.csb{ background-image: url(/images/services/cook.jpg); }
						    &.pasb{ background-image: url(/images/services/panama.jpg); }
						    &.ssb{ background-image: url(/images/services/kitts.jpg); }
						    &.ind{ background-image: url(/images/services/india.jpg); }
						    &.bah{ background-image: url(/images/services/bahama.jpg); }
						    &.hnd{ background-image: url(/images/services/honduras.jpg); }
						}

						.desc{
							padding-left: 20px;
						    font-size: 25px;
						    font-weight: 600;
						}
					}

					&-list{
						padding: 15px 0;

						&Item{
							margin-top: 5px;
						    padding-left: 20px;
						    position: relative;
						    font-size: $coss-font-md;
    						color: $coss-mildBlack;

						    &::before{
						    	content: '';
							    position: absolute;
							    top: 9px;
							    left: 1px;
							    width: 10px;
							    height: 10px;
							    background-color: #47c4f0;
							    border-radius: 50%;
						    }
						}
					}

					&_rank{
						font-size: $coss-font-md;
					}

					&_heading{
						font-size: $coss-font-md;
						color: #47c4f0;
						padding: 15px 0px;
						text-decoration: underline;
					}

					&-content{
						font-size : $coss-font-lg;
						font-weight : 600;
					    color: $coss-mildBlack;
					}

					&-cta{
						@media (max-width : $screen-xs-max){ margin-top : 25px; }
					}
				}

				.coc_tab{
					background-color: #177b9b;
					color: #FFF;
					padding: 0 50px;

					// .slick-current{
					// 	@media (max-width : $screen-xs-max){
					// 		background-color : #FFFFFF;

					// 		.seaman_book_slideTitle{ color : $coss-primary-color; }
					// 	}
					// }

					//.slick-track{
					//	width: 15%!important;
					//}

					.active{
						background-color : #FFFFFF;
						height: 95px;
						//width: 100%!important;

						.coc_tab_slideTitle{ color : $coss-primary-color; }
					}

					&_slide{
						text-align : center;
						padding : 15px 0;
						outline : 0;
						cursor : pointer;


						&Img{
							margin : 0 auto;
							border-radius: 5px;
							border: 1px solid #FFFFFF;
						}

						&Title{
							margin-top: 5px;
							display : block;
							line-height : 1;
						}
					}

					.navArrow{
						width: 30px;
						height: 30px;
						display: flex !important;
						align-items: center;
						justify-content: center;
						border: 2px solid #435a62;
						color: #435a62;
						background-color: #FFFFFF;
						border-radius: 50%;
						position: absolute;
						top: calc(50% - 15px);
						cursor : pointer;
						transition : all 0.25s ease-in-out;

						&:hover{
							color : $coss-primary-color;
							border-color : $coss-primary-color;
							@extend .z-depth-1;
						}

						&_prev{
							left: 10px;
							padding-right: 3px;
						}

						&_next{
							right: 10px;
							padding-left: 3px;
						}
					}
				}

				.cop_endorsement_tab{
					background-color: #177b9b;
					color: #FFF;
					padding: 0 50px;

					// .slick-current{
					// 	@media (max-width : $screen-xs-max){
					// 		background-color : #FFFFFF;

					// 		.seaman_book_slideTitle{ color : $coss-primary-color; }
					// 	}
					// }

					.active{
						background-color : #FFFFFF;
						height: 95px;
						width: 15%;

						.cop_endorsement_tab_slideTitle{ color : $coss-primary-color; }
					}

					&_slide{
						text-align : center;
						padding : 15px 0;
						outline : 0;
						cursor : pointer;


						&Img{
							margin : 0 auto;
							border-radius: 5px;
							border: 1px solid #FFFFFF;
						}

						&Title{
							margin-top: 5px;
							display : block;
							line-height : 1;
						}
					}

					.navArrow{
						width: 30px;
						height: 30px;
						display: flex !important;
						align-items: center;
						justify-content: center;
						border: 2px solid #435a62;
						color: #435a62;
						background-color: #FFFFFF;
						border-radius: 50%;
						position: absolute;
						top: calc(50% - 15px);
						cursor : pointer;
						transition : all 0.25s ease-in-out;

						&:hover{
							color : $coss-primary-color;
							border-color : $coss-primary-color;
							@extend .z-depth-1;
						}

						&_prev{
							left: 10px;
							padding-right: 3px;
						}

						&_next{
							right: 10px;
							padding-left: 3px;
						}
					}
				}
			}
		}
	}
}