.m-0{
	margin: 0px;
}
.p-0{
	padding: 0px;
}
.my-subcription{
	background-color: #f1f3f7;
	.subcription{
		@media (max-width: $screen-xs-max) { margin-left: 0px; }
		.package-card{
			background-color: #fff;
			box-shadow: 0 2px 8px 0px #b1abab;
			border-radius: 4px;
		    margin: 5px 0px;
			.content-container{
				padding: 0px 10px 10px 10px;
			}
			.content-section{
				padding-top: 10px;
				.title{
					color: #000;
				}
				.content{
					color: #8e8e8e;
					.invoice-download{
						color: inherit;
						.invoice-img{
							margin-right: 10px;
						}
					}
				}
			}
			.setting {
				cursor: pointer;
				margin-top: 9px;
				a{
					color: #6b6a6a;
				}
			}
			.name{
				border-bottom: 1px solid #d9e2e7;
				.status{
					float: right;
				    color: #fff;
				    font-size: 12px;
				    padding: 0px 15px 2px;
				    border-radius: 3px;
				}
				.package-active{
					background-color: #85b213;
				}
				.package-expired{
					background-color: #d83a2d;
				}
				.package-upcoming{
					background-color: #00adec;
				}

			}
			.discription{
				border-bottom: 1px solid #d9e2e7;
			}
			.dates{
			    display: flex;
			    justify-content: space-between;
			    font-size: 12px;
			    background-color: #eeeeee;
			    border-bottom-left-radius: 4px;
			    border-bottom-right-radius: 4px;
			}
		}
	}

}