.upload_files{
    padding: 70px 0 80px 0;    
    .section{
        .nav{
            display: flex;
            // justify-content: space-around;
            border-bottom: none !important;
            margin: 10px 0 20px 0;
            &-item{
                background: #fff;
                border: 2px solid rgba(171, 173, 176, 0.37);
                border-radius: 5px;
                position: relative;
                z-index: 0;
                width: 175px;
                text-align: center;
                line-height: 1;
                flex: 1 1 auto;
                a{
                    color:rgba(171, 173, 176, 0.37) ;
                    border:none;
                    padding:5px !important;
                    &:hover,:focus{
                        background-color: transparent;
                    }
                    
                }
                &.active{
                    border:1px solid #2a55a2;
                    a{
                        color:#2a55a2;
                        border:none;
                    }
                }
                &:before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    border: 1px dashed rgba(171, 173, 176, 0.37);
                    width: 100%;
                    z-index: -8;
                }  
                &:last-child{
                    &:before{
                        display: none;
                    }   
                }             
            }
            
        }
        .slider-nav{
            .slick-current{
                background-color: $cs-primary-color !important;
                outline:none !important;
                cursor: pointer;
            }
            .upload-type-selector{
                max-width: 150px;
                width: 50%;
                margin: 10px;
                padding: 16px 12px;
                background-color: #34b5f2;
                border-top-left-radius: 25px !important;
                border-top-right-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 25px !important;
                text-align: center;
                color:#fff;
                outline:none !important;
                cursor:pointer;
                height: 115px !important;
                &-body{
                    text-transform: uppercase;
                }
                .upload-type-manager{
                    text-align: -webkit-right !important;
                    margin-top: -10px !important;
                    .btn-dots{
                        background-color: transparent !important;
                        border:none !important;
                    }
                }
            }
        }
        .slider-for{
            .upload-details-wrapper{
                .heading-wrapper{
                    background-color: $cs-primary-color;
                    color:#fff;
                    font-size: 20px;
                    font-weight: 600;
                    display: flex;
                    margin: 20px 0 0 0; 
                    padding: 7px 15px;
                    border-radius: 5px;
                    .title{
                        text-transform: capitalize;
                        flex: 1;
                    }
                    .edit-manager{
                        border-radius:5px;
                        .dropdown{
                            .btn-dots{
                                background-color: transparent !important;
                                border:none !important;
                            }
                            &-menu{
                                left:-145px !important;
                            }
                        }
                    }
                }
            }
            .previews{
                background-color: #fff;
                padding: 20px;
                margin: 20px 0;
                border-radius: 5px;
                &-heading{
                    .tick-mark{
                        color: #34b5f2;
                        margin-right: 10px;
                    }

                }
                
                .preview{
                padding: 20px;
                    &-card{
                        width: 80px;
                        height: 80px;
                        border-radius: 5px;
                        border:1px solid #34b5f2;
                        color:#fff;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
}
.main{
    background-color: #f1f3f7 !important;

}
.edit-manager{
    
}