.dashboard-menu{
	display: none;
	width: 100%;
    background-color: #04a3ed;
    color: #fff;
	position: fixed;
	left: 0;
	top: 50px;
	z-index: 4;
	padding: 5px 20px;
    box-shadow: 0px 1px 2px 0px #b3adad;
    cursor: pointer;
    @media (min-width: $screen-sm-min) { top: 50px; }
	@media (max-width: $screen-sm-max) { display:block; }
	.menubar-name{
		color: #fff;
		display: block;
		font-size: 17px;
		vertical-align: sub;
		font-weight: bold;
		padding-top: 9px;
    	padding-left: 30px;
		.filter-icon{
			font-size: 25px;
			margin-right: 16px;
			vertical-align: sub;
		}
	}
	.menubar-btn-down{
		display: inline-block;
		float: left;
		font-size: 25px;
		padding-top:5px;
	}
	.menubar-btn-up{
		display: inline-block;
		float: left;
		display: none;
		font-size: 25px;
	}
}
.navbar-container{
    min-width: 190px;
	position: fixed;
	left: 0px;
	top: 55px;
    //width: 250px;
    box-shadow: 0px 1px 15px 0px #bfbdbd;
    height: 100%;
    padding-top: 15px;
    background-color: #fafafa;
	@media (min-width: $grid-float-breakpoint){ top: 55px; }
	@media (max-width: $screen-sm-max) { 
		position: fixed;
		top:80px;
		left:0px;
		z-index:2;
		transform: translateY(-150%);
		transition:transform .5s ease-in;
	 }
	.nav-link{
		color: #615959;
	    border-left: 4px solid #fff;
		.nav-icon{
			margin-right: 10px;
		    font-size: 18px;
		}
		a{
			color: #615959;
		}
	}
	.nav-active{
		color: #04a3ed;
		font-weight: bold;
		border-color: #04a3ed;
		a{
			color: #04a3ed;
		}
	}

	.dropdown-menu{
		margin-left: 45px;
	}
}
.slider-add{
	transform: translateY(0%);
}
.overlay{

	width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    position: fixed;
    top: 0px;
    left:0px;
    opacity: 0;
    display: none;
   	transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease; 


}
.overlay-fadein{
	opacity: 0.3;
}

.company-sidebar-submenu{
	list-style: none;
	li{
		font-weight: normal;
		a{
			color: #615959 !important;
		}
	}
	.nav-active{
		color: #04a3ed !important;
		font-weight: bold;
		border-color: transparent !important;
		a{
			color: #04a3ed !important;
		}
	}
}