.user-profile{
	background-color: #f1f3f7;

	.user-tabs{
		li{
			a{
				background-color: #04a3ed;
				color: white;
			}
		}
		.active{
			a{
				background-color: white !important;
				color: #04a3ed !important;
			}
		}
	}

	.tab-content{
		padding: 20px 20px;
		background-color: #fff;
	}
	.section-1{
		//background-image    : url('/images/user_profile/profile-banner.jpg');
		background-size     : cover;
		background-position : center;
		background-repeat   : no-repeat;
		height: 70px;
		@media (max-width: $screen-sm-max) {
			height: 0px;
		}
	}
	.user-imp-details{
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #04a3ed;
	    box-shadow: 0px 2px 4px 0px #908d8d;
		.photo-container{
			position: relative;
			.photo-card{
				position: absolute;
				width: 100%;
				height: 320px;
				background-color: #fff;
			    z-index: 1;
			    top: -75px;
			    left: 0px;
		        box-shadow: 0px 1px 2px 1px #d8d5d5;
			    border-radius: 4px;
			    padding: 20px;
			    display: flex;justify-content: center;align-items: center;
				@media (max-width: $screen-sm-max) {
					position: relative;
					top: 0px;
					height: 220px;
				}
			    .pic{
					img{
						width: 225px;
				    	height: 225px;
				    	border: 2px solid #fff;
				    	border-radius: 50%;
						box-shadow: 0px 2px 5px 1px #b3aeae;
						@media (max-width: $screen-sm-max) {
							width: 150px;
				    		height: 150px;
						}
					}
			    }
			    .user-name{
			    	font-size: 25px;
			    	padding-top: 20px;
			    	text-align: center;
			    }
			}
		}
		.imp-details-container{
			font-size: 16px;
			color: #fff;
			.detail{
				display: inline-block;
				padding: 10px 15px;
			}
		}
		.edit-btn-container{
			.profile-edit-btn{
				border: 1px solid #fff;
				border-radius: 4px;
				text-align: center;
				padding: 5px;
				font-size: 14px;
				color: #fff;
				width: 90px;
				margin-top: 5px;
				margin-bottom: 5px;
				display : block;
			    //float: right;
			    background-color: #04a3ed;
		        text-decoration: none;
			}
			.profile-edit-btn-sm{
				margin-top: 5px;
				margin-bottom: 5px;
				//float: right;
				color: #fff;
				cursor: pointer;
				font-size:20px;
				transition: font-size 0.1s;
				&:hover{
					font-size:30px;
				}
			    text-decoration: none;
			}
		}
	}
	.details-main-heading{
		font-size: 25px;
		color: $coss-skyBlue;
	    margin-bottom: -20px;
		margin-top: 20px;
	}
	.sub-details-container{
		margin-top: 25px;
		background-color: #fff;
		box-shadow: 0px 1px 2px 1px #d8d5d5;
		padding-top: 15px;
		border-radius: 3px;
		.content-container{
			padding: 0px 20px 15px 20px;
			.title{
				font-size: 14px;
				color: $coss-skyBlue;
			}
			.discription{
				font-size: 16px;
				.content-head{
					color: #8e8e8e;
				}
				.content{
					color: #000;
				}
			}
			.institute-pills-tab{
			  	li > a {
				    border-radius: 4px 0px 0px 0px;
				    background-color: #03a3ed;
				    margin-right: 5px;
				    border-right: 3px solid transparent;
				    border-bottom: 3px solid transparent;
				    text-transform: uppercase;
				    color: #fff;
				}
				li.active > a{
					color: #fff;
				    background-color: #03a3ed;
				    border-color: darkgray;
				}
			}
			.institute-pills-tabContent{
				border: 1px solid #eee;
				margin-top: 10px;
				padding: 0px;
				.course_type_section{
				    color: black;
				    background: #eee;
				    padding: 10px 20px;
				    font-weight: bold;
				}
				.course_name_section{
					padding: 10px 20px;
				}
			}
		}
		.content-height{
			height: 158px;
			@media (max-width: $screen-sm-max) {
				height: unset;
			}
		}
	}
	.upload-title{
		background-color: #04a3ed;
		//border: 1px solid #ccc;
		box-shadow:0px 1px 5px 0px #807b7b;
		padding: 10px;
		.title{
			color: #fff !important;
		}
	}

	#download_document_list{
      	.checkbox_data{
	        border: 1px solid #ccc;
	        box-shadow: 1px 1px 1px 0px #ccc;
	          ul{
	            padding: 20px;
	            margin: 0px;
	            li{
	              list-style: none;
	              margin: 5px 20px 0px 10px;
	            }
	            .main_list{
					margin: 10px 0px;
	            }
	          }
	        .main_sub_list{
	          padding: 0 20px;
	        }
      	}
	}

	#request{
		.accept_reject_buttons{
			display: flex;
			button{
				width: 70px;
				height: 35px;
				padding: 0px;
			}
			.add-course-batch-button{
				font-size: 18px;
			}
			.permission_status{
				margin: 5px 5px 5px 0px;
			}
		}
		.document_status_value{
			outline: 0;
			border: none;
			box-shadow: none;
			background-color: #fff;
		}
	}

	.user-tabs-document{
		.download_and_edit_profile_option{
			float: right;
			margin-top: -12px;
		}
	}

	.section-3{
		.details-main-heading{
			padding-bottom: 5px;

			@media (max-width: 768px){
				font-size: 20px;
			}

		}
	}

}

.company_profile_view{
	.scrollbar::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	.scrollbar::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px #bfbdbd;
		border-radius: 5px 10px 10px 5px;
	}

	/* Handle */
	.scrollbar::-webkit-scrollbar-thumb {
		background: #bfbdbd;
		border-radius: 5px 10px 10px 5px;
	}

	/* Handle on hover */
	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #bfbdbd;
		border-radius: 5px 10px 10px 5px;
	}

    .title{
      color: #04a3ed !important;
    }
    .profile_edit{
      display: flex;
      align-items:center;
    }
    .edit-btn-container{
      text-align: center;
      padding: 10px;
      width: 130px;
      margin: 0 auto;
      background-color: #03a3ed;
      border-radius: 10px;
      @media (min-width: 320px) and (max-width: 767px){
        padding: 3px 5px;
        width: auto;
        border-radius: 0px;
        background-color: #049fe7;
      }
      a{
        color: #fff;
        text-decoration: none;
        @media (min-width: 320px) and (max-width: 767px){
          color: #fff;
          text-decoration: none;
        }
      }
    }

    #main-data{
      @media (max-width: 1220px) and (min-width: 992px){
         padding-left: 0px;
      }
    }
    .company-page-profile-heading{
      padding-bottom: 0px !important;
    }
	.photo-container{
		.photo-card{
			border-radius: 4px;
		    padding: 0px 0px 30px 0px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
			.logo-pic{
				img{
					text-align: center;
					box-shadow: 0px 2px 5px 1px #b3aeae;
				    max-width: 150px;
					max-height: 150px;
				}
			}
			.user-name{
				padding: 10px 20px 10px 20px;
				text-transform: capitalize;
				font-size: 18px;
			}
		}
		.photo_section{
			margin-top: 5%;
		}
	}

	.company_advertisement{
		height: 250px;
		.logo-pic{
			height: 123px;
			background-size: cover;
			margin: 5px;
			box-shadow: 0px 2px 5px 1px #b3aeae;
			background-repeat: no-repeat;
			background-size: cover;
			height: 200px;
			width: 70%;
			margin: 0 auto;
			cursor: pointer;
		}
	}

	.advertise_information{
		height: 250px;
	}

    .company_job_details{
      .company-discription{
        padding: 10px !important;
        border-left: none !important;
      }
      .job-card-view{
        border: 1px solid #bfbdbd;
        max-height: 306px;
        overflow-y: scroll;
        .sub-details-container{
          box-shadow: 0px 0px 0px 2px #b1abab !important;
          margin-top: 0px !important;
        }
        .job_view_card:not(:first-child){
          margin: 20px 0px 0px !important;
        }
      }
      .company_main_container{
        .job-card{
          box-shadow: none !important;
        }
      }
    }

  .job-application-listing .listing-container .job-card{
    padding: 20px !important;
  }

	.company_ship_details{
		max-height: 400px;
		overflow-y: scroll;
	}

	.ship-details{
		box-shadow: 0px 0px 1px 3px #d8d5d5;
		padding-bottom: 10px;
		.row{
			display: flex;
			padding-top: 10px;
            @media (min-width: 320px) and (max-width: 767px){
              display: block;
              padding-top: 0px;
            }
			.ship_content{
				border: 1px solid black;
				padding: 20px 35px;
                @media (min-width: 320px) and (max-width: 767px){
                  padding: 10px 25px;
                }
			}
			.content_description{
				display: block;
			}
          .ship_content_image{
            @media (min-width: 320px) and (max-width: 767px){
              margin-top: 10px;
            }
          }
		}
		.section_one{
			display: flex;
			align-items: center;
			padding-top: 25px !important;
            @media (min-width: 320px) and (max-width: 767px){
              display: block;
              padding-top: 0px !important;
            }
		}
	}

	.company_team_details{
		.content-container{
			padding: 0px 20px 10px 20px;
		}
		max-height: 520px;
		overflow-y: scroll;
        .content-container{
          @media (min-width: 768px) and (max-width: 1023px){
            padding: 0px 10px 0px 10px !important;
          }
        }
		.team_information{
			margin-top: 10px;
			margin-bottom: 10px;
			.team_description{
				//padding-bottom: 30px;
				.content{
					display: block;
                    @media (min-width: 768px) and (max-width: 1023px){
                      padding: 10px 20px!important;
                    }
                    img{
						width: 80px;
				    	height: 80px; 
				    	border-radius: 50%;
						border: 1px solid #bfbebd;
					}
				}
				.content-head{
					display: block;
					margin-top: 5px;
					font-size: 14px;
				}
				.content-desg{
					font-size: 14px;
				}
			}
		}
	}

	.ship_and_country_details{
		.ship_details_title{
			display: flex;
			align-items: center;
			.view_all_heading{
				font-size: 14px;
			}
		}
		.content-container{
			padding: 0px 20px 0px 20px;
		}
		.section_two{
			margin-bottom: 20px;
			.content{
				.agent-preview{
					width: 70px;
				    height: 70px;
    				border: 1px solid #bfbebd;
				}
                @media (min-width: 768px) and (max-width: 1023px){
                  display: block;
                  text-align: center;
                  width: 100px;
                  height: 70px;
                }
                @media (min-width: 1024px) and (max-width: 1024px){
                  margin-right: 5px;
                }
			}
            .discription{
            	.content-head{
            		font-size: 14px;
            	}
            	@media (max-width: 768px){
                	text-align: center;
                } 
            }
			.city_heading{
				display: block;
				color: #000 !important;
                @media (min-width: 769px) and (max-width: 1023px){
                  display: flex !important;
                  margin-left: 0px !important;
                }
			}
		}
	}

  .sm-filter-space{
    padding-top: 10px!important;
  	max-height: 230px;
  	overflow-y: scroll;
  }

	.sm-filter-space-new{
		padding-top: 10px!important;
		max-height: 270px;
		overflow-y: scroll;
	}

}

.main-dropzone-row{
	display: flex;
	@media (min-width: 320px) and (max-width: 767px) {
		display: block;
	}
}
#user_document{
	.user-tabs-document{
		li{
			a{
				background-color: #2a55a2;
				color: white;
			}
		}
		.active{
			a{
				background-color: white !important;
				color: #04a3ed !important;
			}
		}
	}

	.tab-content{
		padding: 0px;
		#upload_documents{
			color: #47c4f0;
			.doc-section{
				.dropzone{
					@media (min-width: 320px) and (max-width: 767px) {
						padding: 20px 10px !important;
					}
				}
				.radio-section1{
					position: relative;
					@media (min-width: 768px)and (max-width: 1024px){
						position: relative;
					}
					.permission_checkbox{
						position: absolute;
						right: 8px;
						display: flex;
						top: 45px;
						@media (min-width: 320px) and (max-width: 767px){
							position: initial;
						}
						@media (min-width: 768px) and (max-width: 1023px){
							display: flex;
							position: absolute;
							top: 45px;
							left:40px;
						}
						@media (min-width: 1024px){
							text-align: right;
						}
					}
				}
			}

			.dropzone .dz-preview.dz-complete .dz-progress{
				left: 72%!important;
				width: 50px!important;
				height: 8px!important;
			}

			.document_slide{
				display: flex;
				margin: 15px 0px;
				.document_slide_tab{
					display: flex;
					align-items: center;
					justify-content:center;
					padding: 5px;
					border: 1px solid;
					margin: 0 10px 0 10px;
					cursor: pointer;
					background-color: #34b5f2;
					color: #fff;
				    border-top-left-radius: 0px !important;
				    border-top-right-radius: 0 !important;
				    border-bottom-left-radius: 0 !important;
				    border-bottom-right-radius: 0px !important;
			      outline: none !important;
				    cursor: pointer;
				    height: 50px !important;
					.document_tab_heading{
						text-align: center;
						font-size: 12px
					}
				}
				.active{
					background-color: #2a55a2 !important;
				}
				.slick-list{
					width: 100%;
				}
				.slick-track{
					display: flex;
					width: 100%;
					.slick-slide{
						display: flex;
						height: auto;
						align-items: center; //optional
						justify-content: center; //optional
					}
				}

				.left_arrow{
					position: absolute;
					top: 50%;
					transform: translateY(-10px);
					left:-10px;
				}
				.right_arrow{
					position: absolute;
					top: 50%;
					transform: translateY(-10px);
					right: -10px;
				}
			}

			.upload-title-section{
				.title{
					display: flex;
				    justify-content: space-between;
				    align-items: center;
				    background-color: #2a55a2;
				    color: #fff;
				    font-size: 18px;
				    font-weight: 600;
				    display: flex;
				    margin: 20px 0 0 0;
				    padding: 7px 15px;
				    border-radius: 5px;
				}
			}
		}
	}
}

.login_message{
	padding-bottom: 15px;
}

.private-document-request{
	display: flex;
	align-items: center;
	padding: 0px;
}

.private-document-request-button{
	button{
		background-color: #fff;
    	color: #04a3ed;
	}
}

.download_button{
	color: #04a3ed;
	background-color: #fff;
	border: 1px solid;
	i{
		color: #04a3ed;
		a{
			color: #04a3ed;
			margin-left: 5px;
		}
	}
}

.download_all_button{
	color: #fff;
	background-color: #04a3ed;
	border: 1px solid;
    padding: 10px;
    margin-top: -8px;
	i{
		color: #fff;
		a{
			color: #fff;
			margin-left: 5px;
		}
	}
}

.document_slide_new{
	padding: 10px;
}

.company_team_details{
	.team-section-form{
		.main-form-details{
			padding: 20px;
			margin-top: 0px !important;
			.team-title{
				color: #47c4f0;
			}
		}
		.content-container{
			.discription{
				.content-head{
					font-size: 14px;
					color: #8e8e8e;
				}
			}
		}
		.company-team-details{
			padding: 20px;
			.team-title{
				color: #47c4f0;
			}
		}
		.upload-photo-container{
			width: 200px;
			height: 200px;
			border: 2px dashed #d8d7da !important;
			margin-top: 15px;
			margin-bottom: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			.profile-image{
				text-align: center;
				input{
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					border-radius: 50%;
					outline: 0;
					opacity: 0;
				}
				.icon{
					font-size: 24px;
					color: #47c4f0;
				}
				.profile_pic_text{
					color: #47c4f0;
				}
			}
		}

		.company-team-buttons{
			display: flex;
			align-items: center;
			width: 35px;
			justify-content: space-between;
			color: #47c4f0;
			float: right;
		}
	}
}

.company_team_data{
	.team-row{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.preview{
		border-radius: 50%;
		width: 100px; 
	}
}

#img-gallery{
	padding: 20px 50px;
	.img {
		padding:25%; background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    margin:0 10px;
	    box-shadow: 0px 2px 4px 0px #908d8d;
	}
}

