#subscription-page {
	padding : 30px 0;
	background : #fff;
	.image-content{
		text-align : center;
		.image-block {
			width : 175px;
			height : 130px;
			background-image: url('/images/subscription_main_image.png');
			background-size : cover;
			background-position : center;
			background-repeat : no-repeat;
			display : inline-block;
		}
	}
	.main-title {
		text-align :center;
		font-size : 50px;
		font-weight : 600;
		padding-top : 5px;
		color : #000;	
		@media (max-width: $screen-xs-max) {
			font-size : 35px;
		}
	}
	.main-note{
		font-size : 15px;
		color : #000;
		text-align : center;
		padding: 5px 0 30px 0;
		.note {
			width : 584px;
			display : inline-block;
			@media (max-width: $screen-xs-max) {
				width : 100%;
				font-size : 13px;
			}
		}
	}
	.subscription-card-block{
		border : 1px solid #959595;
		box-shadow: 1px 2px 11px #ddd;
		margin : 0 15px;
		@media (max-width: $screen-sm-max) {
			margin : 30px 0 0 0;
			&.first-child-block {
				margin : 0;
			}
		}
		.title{
			padding : 15px 0;
			text-align : center;
			color : #000;
			font-size : 20px;
		}
		.price-block {
			background-color : #959595;
			height : 230px;
			padding-top : 52px;
			color : #fff;
			text-align : center;
			position : relative;
			.price {
				font-size : 40px;
				line-height : 60px;
			}
			.note {
				font-size : 18px;
			}
			.label-content{
				color : #f6821f;
				height : 42px;
				text-align : center;
				position : absolute;
				width : 100%;
				bottom: -1px;
    			z-index: 9;
				.label-title{
					font-size : 18px;
					background-color : #fff;
					display : inline-block;
					width : 125px;
					border-top-left-radius : 5px;
					border-top-right-radius : 5px;
					height : 100%;
					line-height : 42px;
					position: relative;
    				bottom: -1px;
				}
			}
		}
		.features-block{
			.feature{
				padding : 15px 0;
				text-align : center;
				font-size : 16px;
				border-top : 2px dotted #959595;
				&.button-block{
					.buy-feature-button {
						outline : none;
						padding : 6px 12px;
						border-radius : 5px;
						border : 1px solid #2196f3;
						color : #2196f3;
						background : #fff;
						height : 45px;
						width : 145px;
						font-size : 17px;
						.ladda-spinner{
							div {
								background: #2196f3 !important;
							}
						}
					}
				}
			}
		}
		&.reverse {
			border : 1px solid #f6821f;
			.price-block {
				background-color : #f6821f;
				.label-content {
					.label-title {
						color : #000;
					}
				}
			}	
			.features-block{
				.feature{
					border-top-color : #f6821f;
					&.button-block{
						.buy-feature-button {
							background-color : #2196f3;
							color : #fff;
							.ladda-spinner{
								div {
									background: rgb(255, 255, 255) !important;
								}
							}
						}
					}
				}
			}	
		}
	}
	.button-content{
		text-align : center;
		padding-top : 20px;
		.continue-button{
			background-color : #f6821f;
			outline : none;
			padding: 15px 15px;
    		font-size: 18px;
			color : #fff;
			&:hover {
				color : #fff;
			}
		}
	}
	.homepage{
		&.section-default-padding {
			padding : 45px 0 0;
		}
		.container {
			padding : 0;
			.testimonial-slider {
				margin-bottom : 0;
			}
		}
	}
}
